/* Alert box for displaying status messages.

```
<p class="alert success">Success message</p>
```
*/
.alert {
  .unitize-padding(10, 10);
  .unitize(14, 16, font-size);
  .unitize(24, 16, line-height);
  border: 1px solid @borderColor;

  &.success {
    color: @successText;
    background: @successBackground;
    border-color: @successBorderColor;
  }

  &.info {
    color: @infoText;
    background: @infoBackground;
    border-color: @infoBorderColor;
  }

  &.warning {
    color: @warningText;
    background: @warningBackground;
    border-color: @warningBorderColor;
  }

  &.error {
    color: @errorText;
    background: @errorBackground;
    border-color: @errorBorderColor;
  }
}