/* Standard input fields. */
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"] {
	@boxShadowColor: rgba(red(@borderColor), green(@borderColor), blue(@borderColor), .9);
	.appearance(none);
	.border-radius(3px);
	.box-sizing();
	.unitize-width(290);
	.unitize-padding(9, 10, 10, 10);
	.box-shadow(inset 0 1px 1px @boxShadowColor);
	background: @lightGradientEnd;
	border: 1px solid @borderColor;
	border-top-color: darken(@borderColor, 5%);
	color: @primaryTextColor;

	&:focus {
		.box-shadow(0 0 0 transparent);
		outline: none;
		border-color: @primaryColor;
		background: #fff;
	}

	&.has--error {
		color: @errorText;
		background: @errorBackground;
		border-color: @errorBorderColor;
	}
}

/* A select field.

```
<div class="field--select">
    <span class="arrow"></span>
    <select name="selection" size="1">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
    </select>
</div>
```
*/
.field--select {
	.border-radius(3px);
	.box-sizing();
	.unitize-width(290);
	.box-shadow(0 1px 1px 0 rgba(0, 0, 0, 0.1));
	.linear-gradient(#ffffff, #f7f8fa);
	display: block;
	position: relative;
	border: 1px solid @borderColor;
	overflow: hidden;
	line-height: 1;

	.arrow {
		.user-select(none);
		.unitize-width(34);
		.unitize(6, 16, font-size);
		.unitize(32, 16, line-height);
		cursor: pointer;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border-left: 1px solid @borderColor;
		font-family: 'shopware';
		text-align: center;

		&:before {
			content: "\e612";
		}
	}

	select {
		.unitize-width(310);
		.unitize-padding(5, 0, 5, 10);
		.appearance(none);
		color: @primaryTextColor;
		background: transparent;
		border: 0 none;
		width: 100%;
		cursor: pointer;
	}

	option {
		.unitize-padding(0, 10);
		display: block;
		border: 0 none;
		background: #fff;
	}

	&.is--disabled {
		.opacity(.5);
		cursor: not-allowed;
	}

}