/* A label for displaying a status.

Example:
```
<span class="label success">Success</span>
```
*/
.label {
  .unitize-padding(3, 8);
  .unitize-margin(0, 5);
  .unitize(12, 16, font-size);
  .unitize(18, 16, line-height);
  .border-radius(3px);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  background: @primaryTextColor;

  &.success {
    background: #5CB85C;
  }

  &.info {
    background: #5BC0DE;
  }

  &.warning {
    background: #F0AD4E;
  }

  &.error {
    background: #D9534F;
  }
}