/** Main navigation of the storefront */
body > .sidebar-main {
	.unitze-variable(300, 16);
	.unitize-width(300, 16);
	.translate(~"-@{emValue}rem", 0);
	position: absolute;
	left: 0; top: 0;
	height: 100%;
	border-right: 1px solid rgba(red(@lightTextColor), green(@lightTextColor), blue(@lightTextColor), 50%);

	.logo--trusted-shops {
		display: none;
	}
}

// Will be used for the off canvas animation
.page-wrap {
	.transition(all, 0.25s, ease-in-out);
	.transform-style(preverse-3d);
    min-height: 100%;

	&::before {
		.unitize(-8, 16, left);
		.unitize-width(8, 16);
		.box-shadow(inset -5px 0 5px -5px @lightTextColor);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
	}

	// Disables the transition, so the user can slide
	&.js--no-transition {
		.transition(none, 0s, linear);
	}
}

// State - Menu left open
.js--menu-left--open {
    .sidebar-main {
        .translate(0, 0);
    }
	.page-wrap {
		.unitze-variable(300, 16);
		.translate(~"@{emValue}rem", 0);
	}
}
// State - Menu right open
.js--menu-right--open {
	.page-wrap {
		.unitze-variable(300, 16);
		.translate(~"-@{emValue}rem", 0);
	}
}

.navigation--smartphone {
	.navigation--entry {
		.unitize-padding(12, 10, 12, 10, 16);
		background: #fff;
		border-bottom: 1px solid @borderColor;
	}
	.navigation--link {
		display: block;
	}

	.entry--close-off-canvas {
		.linear-gradient(@lightTextColor, @primaryTextColor);
		border-bottom: 1px solid @darkBorderColor;

		.navigation--link {
			.clearfix();
			color: #fafafa;
			font-weight: bold;
			text-shadow: 1px 1px 0 @darkTextColor;

			&:active {
				color: #eeeeff;
			}
		}
		.icon--arrow-right {
			.unitize-margin(3, 0, 0, 0, 16);
			float: right;
		}
	}
}

.navigation--headline,
.sidebar--navigation {
	.unitize-margin(0, 10, 0, 10, 16);
}
.navigation--headline {
	.unitize-margin(16, 10, 16, 10, 16);
	font-size: 1em;
}
.sidebar--navigation {
	.border-radius();
	background: #fff;
	border: 1px solid @borderColor;

	.navigation--entry {
		.unitize-padding(10, 20, 10, 20, 16);
		border-bottom: 1px solid @borderColor;

		&:last-child {
			border-bottom: 0 none;
		}
	}
	.navigation--link {
		color: @primaryTextColor;
	}
}