.account--content {
    .clearfix();
}

.account--menu {
    .link--logout {
        [class^="icon--"] {
            display: none;
        }
    }
}

.account--box {
    .unitize-margin(0, 0, 20, 0);
}

.account--password,
.account--email {
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        .unitize-margin(0, 0, 10, 0);
        width: 100%;
    }
}

.account--welcome {
    .unitize(10, 16, margin-bottom);

    .panel--body {
        .unitize-padding(10, 20, 20, 20);
    }
}

.account--error,
.account--success {
    .unitize-margin(0, 0, 20, 0);
}
.register--error-msg {
	color: @errorText;
}

.account--actions {
    .unitize-margin(0, 20, 20, 16);
    .clearfix();
}

// Change Address
.account--change-billing,
.account--change-shipping {
    &.register--content {
        display: block;
        width: 100%
    }
}

.account--billing-address,
.account--shipping-address {
    .panel--body {
        .unitize(200, 16, height)
    }
}

// Select Address
.account--addresses-content {
    .clearfix();
}

.account--addresses-container {
    .clearfix();
}

.account--addresses {
    .clearfix();
    width: 100%;
}

.address--container {
    width: 100%;
}

.account--paging {
    .clearfix();
    .unitize-padding(10, 10);
    display: block;
    background: @primaryBackgroundColor;

    .pagination--display {
        float: right;
    }
}

.account--orders-overview {
    border: 1px solid @borderColor;

    .orders--table-header {
        display: none;
    }

    .panel--tr {
        .unitize-padding(10, 0);
    }

    .panel--td {
        .clearfix();
        .unitize-padding(5, 10);
        display: block;
        float: none;
    }

    .column--info-labels,
    .column--info-data {
        display: none;
    }

    .column--summary-labels,
    .column--summary-data {
        width: 50%;
        float: left;
        text-align: left;
    }

    .column--summary-data {
        .unitize-padding(5, 10, 0, 0);
    }

    .column--label,
    .column--value {
        width: 50%;
        float: left;
    }

    .column--label {
        font-weight: 600;
    }
}

.order--status-icon {
    .unitize-width(8);
    .unitize-height(8);
    .unitize(8, 16, top);
    display: inline-block;
    position: relative;

    &.status--0,
    &.status--1,
    &.status--6 {
        background: @deliveryInfoText;
    }

    &.status--2,
    &.status--5,
    &.status--7 {
        background: @deliveryAvailableText;
    }

    &.status--4,
    &.status--8 {
        background: @deliveryNotAvailableText;
    }
}

.order--name {
    color: @darkTextColor;
}

.order--download,
.order--price-unit,
.order--current-price {
    display: none;
}

.order--actions {
    text-align: center;
}

.order--details {
    display: none;

    p {
        .unitize-margin(0, 0);
    }
}

.order--user-comments,
.order--shop-comments {
    border-bottom: 1px solid @borderColor;

    blockquote {
        .unitize-padding(10, 10);
        .border-radius(3px);
        .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.2));
        background: @primaryBackgroundColor;
        text-align: left;
        margin: 0;
    }
}

.account--downloads {
    border: 1px solid @borderColor;

    .downloads--table-header {
        display: none;
    }

    .panel--tr {
        .unitize-padding(10, 0);
    }

    .panel--td {
        .clearfix();
        .unitize-padding(5, 10);
        display: block;
        float: none;
    }
}


.account--password-reset {
    .unitize(20, 16, padding-top);

    .password-reset--input {
        .unitize-margin(10, 0);
        width: 100%;
    }

    .password-reset--actions {
        .btn {
            .unitize(20, 16, margin-bottom);
        }
    }
}

@media screen and(min-width: @tabletViewportWidth) {

    .is--ctl-note,
    .is--ctl-account {
        .categories--headline,
        .categories--navigation,
        .shop-sites--headline,
        .shop-sites--navigation,
        .logo--trusted-shops {
            display: none;
        }
    }

    .account--menu {
        border: 1px solid @borderColor;

        .navigation--headline {
            .panel--title;
            .is--underline;
        }

        .account--menu-container {
            .panel--body;
            .unitize-padding(10, 20);
        }

        .navigation--list {
            padding: 0;
            border: 0 none;
        }

        .navigation--entry {
            margin: 0;
            border: 0 none;
        }

        .navigation--link {
            .unitize-padding(5, 0);

            &.link--logout {
                .unitize-margin(10, 0 , 0, 0);
                .unitize-padding(10, 0 , 0, 0);
                border-top: 1px solid @borderColor;
                font-weight: bold;
                color: @primaryColor;

                [class^="icon--"] {
                    .unitize-margin(0, 5, 0, 0);
                    display: inline-block;
                }

                &:hover {
                    color: @primaryContrastColor;
                }
            }
        }
    }

    .account--content {
        .unitize-margin(20, 0);
    }

    .account--welcome {
        .panel--title {
            .unitize(28, 16, font-size);
        }
    }

    .account--info,
    .account--billing {
        width: 49%;
        float: left;
    }

    .account--payment,
    .account--shipping {
        width: 49%;
        float: right;
    }

    .account--email,
    .account--password {
        display: none;
    }

    .account--email,
    .account--password,
    .account--newsletter {
        clear: both;
    }

    .account--info,
    .account--payment {
        .panel--body {
            .unitize-height(120);
        }
    }

    .account--billing,
    .account--shipping {
        .panel--body {
            .unitize-height(180);
        }
    }

    // Select Address
    .address--container {
        width: 49%;
    }

    .account--orders-overview {
        .orders--table-header {
            display: block;
        }

        .panel--tr {
            padding: 0;
            border-width: 0 0 1px 0;
        }
        .panel--td {
            .unitize-padding(10, 10);
            display: inline-block;
            float: left;
        }

        .column--label {
            display: none;
        }

        .column--value {
            width: 100%;
            float: none;
        }

        .column--summary-labels,
        .column--summary-data {
            width: 20%;
            text-align: right;
        }

        .column--date,
        .column--id,
        .column--dispatch { width: 20%; }
        .column--status { width: 25%; }
        .column--actions { width: 15%; }
        .column--name { width: 50%; }
        .column--quantity { width: 10%; }
        .column--price { width: 20%; }
        .column--total { width: 20%; }
        .column--info-labels { width: 20%; }
        .column--info-data { width: 40%; }
    }

    .order--item {
        margin: 0;
    }

    .order--actions {
        text-align: right;
    }

    .order--pseudo-price {
        .unitize(12, 16, font-size);
    }

    .order--download,
    .order--price-unit,
    .order--current-price {
        display: block;
    }

    .order--quantity {
        text-align: center;
    }

    .order--price,
    .order--amount {
        text-align: right;
    }

    .order--repeat {
        .unitize-padding(20, 20);
        text-align: center;
        background: #f1f4f7;
        border-bottom: 1px solid @borderColor;
    }

    .account--downloads {
        .downloads--table-header {
            display: block;
        }

        .panel--tr {
            padding: 0;
            border-width: 0 0 1px 0;
        }
        .panel--td {
            .unitize-padding(10, 10);
            display: inline-block;
            float: left;
        }

        .column--date,
        .column--actions { width: 20%; }
        .column--info { width: 60%; }
    }

    .order--user-comments,
    .order--shop-comments {
        border-bottom: 1px solid @borderColor;

        blockquote {
            .unitize-padding(10, 10);
            .border-radius(3px);
            .box-shadow(inset 0 0 3px 0 rgba(0, 0, 0, 0.2));
            background: @primaryBackgroundColor;
            text-align: left;
            margin: 0;
        }
    }

    .column--label {
        display: none;
    }

    .column--date,
    .column--id,
    .column--dispatch { width: 20%; }
    .column--status { width: 25%; }
    .column--actions { width: 15%; }
    .column--name { width: 50%; }
    .column--quantity { width: 10%; }
    .column--price { width: 20%; }
    .column--total { width: 20%; }
    .column--info-labels { width: 20%; }
    .column--info-data { width: 40%; }
    .column--summary { width: 20%; }

    .account--password-reset {
        .password-reset--input {
            .unitize-width(320);
        }
    }
}

@media screen and(min-width: @tabletLandscapeViewportWidth) {

}

@media screen and(min-width: @desktopViewportWidth) {

    .account--content {
        .unitize-margin(45, 0, 0, 0);
        width: 78%;
        float: right;
    }

    .account--password-reset {
        padding-top: 0;
    }

    // Change Address
    .account--change-billing,
    .account--change-shipping {
        &.register--content {
            width: 78%
        }
    }

}