.content--breadcrumb {
    display: none;
}

@media screen and(min-width: @tabletViewportWidth) {
    .content--breadcrumb {
        .clearfix();
        .unitize(14, 16, font-size);
        .unitize-padding(15, 12);
        display: block;
        float: none;
        border-bottom: 1px solid @border-color;

        .breadcrumb--list {
            overflow: hidden;
        }

        .breadcrumb--entry,
        .breadcrumb--separator {
            .unitize(24, 16, line-height);
        }

        // Entry styling
        .breadcrumb--entry, .breadcrumb--separator {
            .unitize(16, 16, margin-right);
            float: left;
            list-style: none;
	        white-space: nowrap;
        }

        // Separator
        .breadcrumb--separator {
            .unitize(10, 16, font-size);
        }

        // Link
        .breadcrumb--link {
            color: @text-color;

            &.btn {
                &:hover {
                    color: @btn-default-hover-text-color;
                }
            }
        }

        // Active link
        .is--active .breadcrumb--link {
            color: @brand-primary;
        }
    }

    // Button
    .breadcrumb--button {
        float: left;
        list-style: none;
    }

    // Detail page breadcrumb with button
    .is--ctl-detail {
        .content--breadcrumb {
            .unitize-padding(3, 5);
        }

        .breadcrumb--list {
            .unitize-padding(10, 10);
        }
    }
}

@media screen and(min-width: @desktopViewportWidth) {
    .content--breadcrumb {
        .unitize-padding(15, 20, 15, 45);
    }
}
