.content--breadcrumb {
    .unitize(14, 16, font-size);
    .clearfix();
    display: block;
    float: none;
    border-bottom: 1px solid @border-color;

    .breadcrumb--list {
        .unitize(10, 16, padding-left);
        overflow: hidden;
    }

    // Entry styling
    .breadcrumb--entry,
    .breadcrumb--separator {
        display: none;
        float: left;
        list-style: none;
        white-space: nowrap;
        overflow: hidden;

        &:last-child {
            display: list-item;
        }
    }

    .breadcrumb--link,
    .breadcrumb--separator {
        .unitize(24, 16, line-height);
        .unitize-padding(10, 10);
    }

    // Separator
    .breadcrumb--separator {
        .unitize(9, 16, font-size);
    }

    // Link
    .breadcrumb--link {
        display: block;
        color: @text-color;
    }

    // Active link
    .is--active .breadcrumb--link {
        color: @brand-primary;
    }

    // Button
    .breadcrumb--button {
        .unitize-padding(10, 0, 10, 10);
        display: inline-block;
        float: left;
        list-style: none;

        .breadcrumb--title {
            .unitize(20, 16, padding-right);
            border-right: 1px solid @border-color;
        }

        .icon--arrow-left {
            .unitize(9, 16, font-size);
            .unitize(10, 16, margin-right);
        }
    }
}

@media screen and(min-width: @tabletViewportWidth) {
    .content--breadcrumb {

        .breadcrumb--list {
            padding-left: 0;
        }

        .breadcrumb--entry,
        .breadcrumb--separator {
            display: list-item;
        }

        // Button
        .breadcrumb--button {
            .unitize-padding(10, 30);

            .breadcrumb--title {
                .unitize(0, 16, padding-right);
                border-right: 0 none;
            }
        }
    }
}

@media screen and(min-width: @desktopViewportWidth) {
    .content--breadcrumb  .breadcrumb--button {
        .unitize-padding(10, 50);
    }
}