.content--basket {
	.alert {
		.unitize-margin(15, 0);
	}
}

.product--table {

	.panel {
		border: 0 none;
	}

	// Actions above the actual table body
	.table--actions {
		.unitize-padding(8, 0, 0);
	}

	// Hide the table header due to the labels inline for smartphones
	.table--header { display: none }

	.table--row {
		.unitize-padding(10, 0);
		.clearfix();
		position: relative;
		border-bottom: 1px solid @borderColor;
		width: 100%;
		height: 100%;
	}

	.product--delivery,
	.table--media,
	.table--content {
		float: left;
	}

	// Product image
	.table--media {
		width: 20%;
		margin: 0 6.5% 0 0;

		img {
			.border-radius();
			border: 1px solid @borderColor;
			margin: 0 auto;
		}
	}

	// Content area
	.table--content {
		.unitize(12, 16, font-size);
		width: 73.5%;
	}

	.product--delivery,
	.delivery--status-icon {
		.unitize(12, 16, font-size);
		margin: 0;
	}

	// Product title
	.content--title {
		.unitize(18, 16, font-size);
		font-weight: bold;
		color: @primaryTextColor;
	}

	// Product actions
	.column--actions {
		position: absolute;
		bottom: 20%;
		width: 20%;
		text-align: center;

		.btn {
			.unitize-padding(10, 14);
			background: #fff;
		}
	}

	.column--label {
		color: @darkTextColor;
		text-align: left;
		margin: 0 0 0 26.5%;
		float: left;
		font-weight: bold;
	}

	.column--total-price {
		font-weight: bold;
	}

	.column--quantity .js--fancy-select {
		.unitize(100, 16, min-width);
		.unitize(160, 16, max-width);
		width: auto;
	}

	.basket--badge {
		.unitize(48, 16, line-height);
		.unitize(16, 16, font-size);
		.border-radius(128px);
		.unitize-height(48);
		.unitize-width(48);
		margin-left: 3%;
		margin-right: 6.25%;
		background: @borderColor;
		text-align: center;
		font-weight: bold;
		background: @primaryTextColor;
		color: #fff;
		font-weight: bold;

		.icon--arrow-right {
			.unitize(13, 16, font-size);
		}
	}

	.row--premium-product .basket--badge {
		.unitize(11, 16, font-size);
	}

	.table--actions + .alert {
		.unitize(10, 16, margin-top);
	}

	.content--sku {
		margin: 0;
	}

	// Add product using the sku
	.add-product--form {
		.unitize-margin(12, 0);
	}

	.add-product--field {
		width: 90%;
		.border-radius-multi(3px, 0, 0, 3px);
	}

	.add-product--button {
		.unitize-padding(11, 0);
		.border-radius-multi(0, 3px, 3px, 0);
		width: 10%;
		text-align: center;

		.icon--arrow-right {
			padding: 0;
			margin: 0;
		}
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.product--table {

		// Basic header styling
		.table--header {
			.unitize-padding(18, 0, 12, 0);
			border-bottom: 1px solid @borderColor;

			.table--column {
				.unitize(14, 16, font-size);
				font-weight: bold;
				color: #000;
			}

			.column--product {
				.unitize(16, 16, font-size);
			}
		}

		// Basic layout
		.table--row {
			.unitize-padding(20, 0, 10, 0);
			border-bottom: 1px solid @borderColor;

			&::before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
		}
		.table--column {
			width: 14%;
			padding-right: 1%;
		}

		.is--centered {
			display: inline-block;
			vertical-align: middle;
		}

		.column--product {
			width: 51%;
		}
		.column--actions {
			width: 3%;
			padding-right: 0;
		}

		// Media
		.table--media,
		.table--content {
			float: left;
		}
		.table--media {
			width: 20%;
		}
		.table--content {
			width: 72%;
			margin-left: 2%;
		}

		// Content styling
		.content--title {
			.unitize(16, 16, font-size);
			font-weight: bold;
			color: @primaryTextColor;
		}
		.column--total-price {
			font-weight: bold;
		}
		.product--delivery {
			margin: 0;

			.delivery--status-icon {
				.unitize(7, 16, top);
				position: relative;
			}
		}
	}
}
