.product--details {

	.product--navigation,
	.product--actions {
		display: none
	}

	.product--header {
		.clearfix();
		.unitize-padding(10, 0, 20, 0, 16);

        // Product title
        .product--title {
            .unitize-padding(10, 0);
            .unitize(21, 16, font-size);
            margin: 0;
            font-weight: bold;
            color: @darkTextColor;
            border-bottom: 1px solid @borderColor;
        }
	}

    .product--supplier,
    .product--rating-container {
        .unitize-height(35);
        .unitize-margin(5, 0, 0, 0);
        width: 50%;
    }

    // Supplier logo in the header
	.product--supplier {
		text-align: right;
        float: right;

		.product--supplier-link {
            .unitize-height(35);
            display: inline-block;
        }
	}

    // Customer reviews
    .product--rating-container {
        float: left;

        .product--rating-link {
            .unitize(14, 16, font-size);
            vertical-align: middle;
            color: @primaryTextColor;
        }

        // Star icon styling
        [class^="icon"] {
            .unitize(16, 16, font-size);
            color: @reviewStarColor;
        }
    }

	// Product Image
	.product--image-container {
        .unitize-margin(0, 0, 20, 0);
        width: 100%;
	}

    .alert {
        .unitize-margin(0, 0, 20, 0);
    }

	.product--tax {
		.unitize(12, 16, font-size);
		margin: 0;

		a { text-decoration: none }
	}

    .product--buybox {
        .price--default {
            .unitize-margin(0, 0, 10, 0);
        }

        .content--default {
            .unitize(28, 16, font-size);
            font-weight: bold;
            color: @darkTextColor;
        }

        .content--discount {
            .unitize-margin(0, 0, 5, 0);
            display: block;
            font-weight: bold;

            span {
                font-weight: normal;
            }
        }

        .price--unit {
            .unitize-margin(0, 0, 5, 0);
        }

        .price--label {
            font-weight: bold;
        }

        .price--line-through {
            text-decoration: line-through;
        }

        .price--discount-percentage {
            color: @deliveryAvailableText;
        }
    }

    .buybox--form {
        .unitize-padding(20, 0, 0, 0);
        border-top: 1px solid @borderColor;
    }

    // Quanitity box and input
	.buybox--quantity {
		margin: 0 2% 0 0;
		width: 35%;

        .js--fancy-select {
			.unitize-height(44);
			.border-radius(3px);
            width: 100%;

            .js--fancy-select-text,
            .js--fancy-select-trigger {
                .unitize-height(44);
                .unitize(44, 16, line-height);
            }
		}
	}

	// "Buy now" button
	.buybox--button {
		width: 63%;

        .icon--arrow-right {
            .unitize-margin(6, 0, 0, 0);
            .unitize(10, 16, font-size);
            float: right;
        }
	}

	// Product base information
	.product--base-info {
		.unitize-margin(12, 0, 32, 0);

		.entry--label {
			.unitize-margin(0, 8, 0, 0);
			display: inline-block;
		}
	}

	// Product information tabs
	.additional-info--tabs {
		.unitize-margin(0, 0, 32, 0, 16);
	}

    .product--properties {
        .unitize-padding(0, 0, 10, 0);

        .product--properties-table {
            width: 100%;
        }

        td {
            .unitize-padding(10, 10, 0, 10);
            width: 50%;
        }
    }

	// Content headlines
	.content--title {
		.unitize(18, 16, font-size);
		color: @darkTextColor;
	}

    .content--link [class^=icon] {
        .unitize(10, 16, font-size);
        .unitize-margin(-2, 8, 0, 0);
    }

	// Block prices
	.block-prices--container {
		.unitize-margin(0, 0, 12, 0);
        display: block;
		border: 1px solid @borderColor;
		padding: 1px;

        .block-prices--table {
            width: 100%;

            td {
                .unitize-padding(4, 10);
            }

            th {
                .unitize-padding(4, 10);
                color: #fff;
                background: @lightTextColor;
                text-align: left;
            }
        }
	}

	.listing .product--box .panel--body {
		border-left: 1px solid @borderColor;
		border-right: 1px solid @borderColor;
	}
}

// Product reviews form
.review--form {
	.review--field {
		.unitize-margin(0, 0, 10, 0);
		width: 100%;
	}

	.review--notice {
		.unitize(12, 16, font-size);
	}
}

// Product description
.product--description {
	ol, ul {
		.unitize-margin(0, 16, 16);
		padding: 0;

		& li {
			.unitize-margin(0, 0, 0, 6);
		}
	}
}

// Product review entry
.review--entry {
	.border-radius(3px);
	.unitize-margin(0, 0, 10, 0);
	.unitize(12, 16, font-size);
	border: 1px solid @borderColor;

	&.is--last {
		.unitize-margin(0, 0, 32, 0, 16);
	}

	&.has--answer {
		.border-radius-multi(3px, 3px, 0, 0);
		margin: 0;
	}

	.entry--author, .entry--content {
		.unitize-padding(10, 35);
	}

	.entry--author {
		border-bottom: 1px solid @borderColor;
		position: relative;

		// Arrow down
		&::after {
			.unitize-margin(0, 0, 0, -9);
			.unitize-width(18);
			.unitize-height(18);
			.unitize(-9, 16, bottom);
			.rotate(45deg);
			content: '';
			position: absolute;
			left: 50%;
			background: #fff;
			border: 1px solid @borderColor;
			border-left: 0 none;
			border-top: 0 none;
		}
	}

	.product--rating {
		.unitize(16, 16, font-size);
		color: @reviewStarColor;
	}

	.content--label {
		.unitize-margin(0, 8, 0, 0, 16);
		float: left;
	}
	.content--field { .clearfix(); }

	.content--title {
		.unitize(14, 16, font-size);
		.unitize-margin(0, 0, 8, 0);
	}

	.review--content { margin: 0; }
}

// Product review entry - Administrator answer
.review--entry.is--answer {
	.unitize-margin(0, 12, 10, 12);
	.border-radius-multi(0, 0, 3px, 3px);
	border-top: 0;
	background: @lightGradientEnd;

	&.is--last { .unitize-margin(0, 12, 32, 10, 16) }

	.entry--author { .unitize-padding(10, 35, 0) }
	.entry--content { .unitize-padding(0, 35, 10, 35) }

	.entry--author {
		border: 0 none;

		// Arrow up
		&::after {
			.rotate(225deg);
			.unitize(-9, 16, top);
			background: @lightGradientEnd
		}
	}
}

/** Product review form */
.content--product-reviews {
	.alert {
		.unitize-margin(0, 0, 16, 0, 16);
	}
	.captcha--notice {
		.unitize(12, 16, font-size);
		line-height: 1.2;
	}
}

// Product notification
.product--notification {
	.unitize-margin(0, 0, 16, 0);

	.alert {
		.unitize-margin(0, 0, 8, 0);
		word-wrap: break-word;
		font-weight: bold;
	}
	.notification--field {
		.border-radius-multi(3px, 0, 0, 3px);
		width: 80%;
	}
	.notification--button {
        .unitize(23, 16, line-height);
        .border-radius-multi(0, 3px, 3px, 0);
		width: 20%;
        text-align: center;

        .icon--mail {
            margin: 0;
        }
	}
}

// Product configurator
.configurator--form {
    .unitize-margin(16, 0, 0, 0);
    .unitize-padding(10, 0);
    border-top: 1px solid @borderColor;

	.js--fancy-select {
		.unitize-margin(0, 0, 8, 0);
		width: 100%;
	}
}

.configurator--label {
    .unitize-margin(5, 0);
    .unitize(14, 16, font-size);
    font-weight: bold;
}

@media screen and(min-width: @tabletViewportWidth) {
    .product--details {

        .product--header .product--title {
            .unitize-padding(18, 0, 5, 0);
            .unitize(26, 16, font-size);
            .unitize(30, 16, line-height);
            width: 80%;
            float: left;
            border: 0 none;
        }

        .product--supplier {
            .unitize-height(60);
            .unitize(12, 16, margin-top);
            width: 20%;
            float: right;

            .product--supplier-link {
                .unitize-height(60);
            }
        }

        // Product review overview
        .product--rating-container {
            width: 80%;
            margin: 0;
            float: left;
        }

        // Product image
        .product--image-container {
            width: 100%;
        }

        // Product base information
        .product--base-info {
            .entry--label {
                .unitize-margin(0, 8, 0, 0);
                width: auto;
            }
        }

        // Product actions
        .product--actions {
            .unitize-margin(25, 0, 45, 0);
            .unitize-padding(10, 0, 0, 0);
            display: block;
            border-top: 1px solid @borderColor;
        }

        // Product action link
        .action--link {
            .unitize-margin(0, 35, 0, 0);
            color: @primaryTextColor;

            &:last-child { margin: 0 }

            &:hover {
                color: @primaryColor;
            }

            // Icon
            [class^=icon] {
                .unitize(14, 16, font-size);
                .unitize-margin(0, 8, 0, 0);
            }
        }

        // Tab panel
        .js--desktop-tab-panel {
            .unitize-margin(0, -20, 20, -20);

            .panel--tab-nav {
                .unitize-margin(0, 20);
            }
            .tab--content {
                .unitize-padding(20, 40);
				border-left: 0 none;
				border-right: 0 none;
            }
        }

		// Block prices
		.block-prices--container {
			.unitize(12, 16, margin-top);
		}
    }
}

// Tablet lanscape - min-width: 1024px
@media screen and (min-width: @tabletLandscapeViewportWidth) {
	.product--details {

		// Product image
		.product--image-container {
            width: 60%;
            margin-right: 4%;
            float: left;
		}

		.product--buybox {
            width: 36%;
        }

        .configurator--form {
            .unitize-padding(10, 0);
        }

		.buybox--inner {
            width: 100%;
            float: none
        }

        .product--properties {
            width: 50%;
        }

		.js--desktop-tab-panel {
			.unitize-margin(0, -45, 20, -45);

			.panel--tab-nav {
				.unitize-margin(0, 45);
			}
			.tab--content {
				.unitize-padding(25, 55, 45);
			}
		}

		// Reformat the product actions
		.product--actions {
			.unitize-margin(16, 0, 16, 0);
			.unitize-padding(0, 0, 10, 0);
			border-top: 0 none;
			border-bottom: 1px solid @borderColor;
		}
	}
}

@media screen and(min-width: @desktopViewportWidth) {

	.product--details {

        .product--navigation {
            display: block;
            position: relative;

            .navigation--link {
                .unitize-width(26);
                .unitize-height(120);
                .unitize(120, 16, line-height);
                .unitize(10, 16, font-size);
                .unitize(200, 16, top);
                .linear-gradient-horizontal(#ffffff, #f8f8fa);
                display: block;
                position: absolute;
                z-index: 90px;
                border-style: solid;
                border-color: #e6e9ee;
                border-width: 1px 1px 1px 0;
                color: @primaryTextColor;
                text-align: center;

                .link--prev-inner,
                .link--next-inner{
                    display: none;
                }

                &:hover {
                    .linear-gradient-horizontal(#ffffff, #f4f4f4);
                    border-color: @borderColor;
                    color: @primaryColor;
                }
            }

            .link--prev {
                .unitize(-45, 16, left);

                &:before {
                    font-family: 'shopware';
                    content: "\e611";
                }
            }

            .link--next {
                .unitize(-45, 16, right);
                .linear-gradient-horizontal(#f8f8fa, #ffffff);
                border-width: 1px 0 1px 1px;

                &:before {
                    font-family: 'shopware';
                    content: "\e60f";
                }

                &:hover {
                    .linear-gradient-horizontal(#f4f4f4, #ffffff);
                }
            }
        }

        .product--header {
            .unitize(45, 16, padding-top);

            .product--title {
                padding-top: 0;
            }
        }

        .product--supplier {
            .unitize-height(70);
            margin: 0;

            .product--supplier-link {
                .unitize-height(70);
            }
        }

        // Image thumbnails
		.image--thumbnails {

		}

		// Product actions
		.action--link {
			.unitize(20, 16, margin-right);
		}

        .js--desktop-tab-panel {
            .unitize(40, 16, margin-bottom);
            margin-left: 0;
            margin-right: 0;


            .panel--tab-nav {
                .unitize-margin(0, 50, 0, 0);
            }

            .tab--content {
                .unitize-padding(25, 55, 45);
                border: 1px solid @borderColor;
            }
        }
	}

    // Product notification
    .product--notification {
        .unitize-margin(0, 0, 20, 0);

        .alert {
            .unitize-margin(0, 0, 10, 0);
        }

        .notification--button {
            .unitize(20, 16, line-height);
        }
    }
}