.product--details {

	.product--actions {
		display: none
	}

	.product--header {
		.clearfix();
		.unitize-padding(10, 0, 20, 0, 16);

        // Product title
        .product--title {
            .unitize-padding(10, 0);
            .unitize(21, 16, font-size);
            margin: 0;
            font-weight: bold;
            color: @text-color-dark;
            border-bottom: 1px solid @border-color;
        }
	}

    .product--supplier,
    .product--rating-container {
        .unitize-height(35);
        .unitize-margin(5, 0, 0, 0);
        width: 50%;
    }

    // Supplier logo in the header
	.product--supplier {
		text-align: right;
        float: right;

		.product--supplier-link {
            .unitize-height(35);
            display: inline-block;
        }
	}

    // Customer reviews
    .product--rating-container {
        float: left;

        .product--rating-link {
            .unitize(14, 16, font-size);
            vertical-align: middle;
            color: @text-color;
        }

        // Star icon styling
        [class^="icon"] {
            .unitize(16, 16, font-size);
        }
    }

	// Product Image
	.product--image-container {
        .unitize-margin(0, 0, 20, 0);
        width: 100%;
	}

    .alert {
        .unitize-margin(0, 0, 20, 0);
    }

	.product--tax {
		.unitize(12, 16, font-size);
		margin: 0;

		a { text-decoration: none }
	}

    .product--buybox {
        .price--default {
            .clearfix();
            .unitize-margin(0, 0, 10, 0);
        }

        .content--default {
            .unitize(28, 16, font-size);
            font-weight: bold;
            color: @text-color-dark;

            &.is--discount {
                color: @badge-discount-bg;
            }
        }

        .content--discount {
            .unitize-margin(0, 0, 5, 0);
            display: block;
            font-weight: bold;

            span {
                font-weight: normal;
            }
        }

        .price--unit {
            .unitize-margin(0, 0, 5, 0);
        }

        .price--label {
            font-weight: bold;
        }

        .price--line-through {
            text-decoration: line-through;
        }

        .price--discount-percentage {
            color: @highlight-success;
        }

        .price--discount-icon {
            .unitize-width(25);
            .unitize-height(25);
            .unitize-margin(0, 10, 0, 0);
            .unitize(23, 16, line-height);
            .unitize(16, 16, font-size);
            .unitize(8, 16, top);
            .border-radius(3px);
            display: inline-block;
            position: relative;
            background: @badge-discount-bg;
            color: @badge-discount-color;
            text-align: center;
            font-weight: bold;
            float: left;
        }
    }

    .buybox--form {
        .unitize-padding(20, 0, 0, 0);
        border-top: 1px solid @border-color;
    }

    // Quanitity box and input
	.buybox--quantity {
		margin: 0 2% 0 0;
		width: 35%;

        .js--fancy-select {
			.unitize-height(44);
			.border-radius(3px);
            font-weight: bold;
            width: 100%;

            .js--fancy-select-text,
            .js--fancy-select-trigger {
                .unitize-height(44);
                .unitize(44, 16, line-height);
            }
		}
	}

	// "Buy now" button
	.buybox--button {
        .unitize-padding(11, 10, 11, 10, 16);
        .unitize(16, 16, font-size);
        width: 63%;
    }

	// Product base information
	.product--base-info {
		.unitize-margin(12, 0, 32, 0);

		.entry--label {
			.unitize-margin(0, 8, 0, 0);
			display: inline-block;
		}
	}

	// Product information tabs
	.additional-info--tabs {
		.unitize-margin(0, 0, 32, 0, 16);
	}

    .content--description,
    .content--product-reviews,
    .content--related-products,
    .content--similar-products {
        .unitize-padding(10, 10);
    }

    .product--properties {
        .unitize-padding(0, 0, 10, 0);

        .product--properties-table {
            width: 100%;
        }

        td {
            .unitize-padding(10, 10, 0, 10);
            width: 50%;
        }
    }

	// Content headlines
	.content--title {
		.unitize(18, 16, font-size);
		color: @text-color-dark;
	}

    .content--link [class^=icon] {
        .unitize(10, 16, font-size);
        .unitize-margin(-2, 8, 0, 0);
    }

	// Block prices
	.block-prices--container {
		.unitize-margin(0, 0, 12, 0);
        display: block;
		border: 1px solid @border-color;
		padding: 1px;

        .block-prices--table {
            width: 100%;

            td {
                .unitize-padding(4, 10);
            }

            th {
                .unitize-padding(4, 10);
                color: #fff;
                background: @gray;
                text-align: left;
            }
        }
	}

	.listing .product--box .panel--body {
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
	}
}

.product--navigation {
    display: none;
}

// Product reviews form
.review--form {
	.review--field {
		.unitize-margin(0, 0, 10, 0);
		width: 100%;
	}

    .captcha--placeholder {
        .unitize-margin(20, 0);
    }

	.review--notice {
		.unitize(12, 16, font-size);
	}
}

// Product description
.product--description {
	ol, ul {
		.unitize-margin(0, 16, 16);
		padding: 0;

		& li {
			.unitize-margin(0, 0, 0, 6);
		}
	}
}

// Product review entry
.review--entry {
	.border-radius(3px);
	.unitize-margin(0, 0, 10, 0);
	.unitize(12, 16, font-size);
	border: 1px solid @border-color;

	&.is--last {
		.unitize-margin(0, 0, 32, 0, 16);
	}

	&.has--answer {
		.border-radius-multi(3px, 3px, 0, 0);
		margin: 0;
	}

	.entry--author, .entry--content {
		.unitize-padding(10, 35);
	}

	.entry--author {
		border-bottom: 1px solid @border-color;
		position: relative;

		// Arrow down
		&::after {
			.unitize-margin(0, 0, 0, -9);
			.unitize-width(18);
			.unitize-height(18);
			.unitize(-9, 16, bottom);
			.rotate(45deg);
			content: '';
			position: absolute;
			left: 50%;
			background: #fff;
			border: 1px solid @border-color;
			border-left: 0 none;
			border-top: 0 none;
		}
	}

	.product--rating {
		.unitize(16, 16, font-size);
        .clearfix();
        display: block;
	}

	.content--label {
		.unitize-margin(0, 8, 0, 0, 16);
		float: left;
	}
	.content--field { .clearfix(); }

	.content--title {
		.unitize(14, 16, font-size);
		.unitize-margin(0, 0, 8, 0);
	}

	.review--content { margin: 0; }
}

// Product review entry - Administrator answer
.review--entry.is--answer {
	.unitize-margin(0, 12, 10, 12);
	.border-radius-multi(0, 0, 3px, 3px);
	border-top: 0;
	background: @gray;

	&.is--last { .unitize-margin(0, 12, 32, 10, 16) }

	.entry--author { .unitize-padding(10, 35, 0) }
	.entry--content { .unitize-padding(0, 35, 10, 35) }

	.entry--author {
		border: 0 none;

		// Arrow up
		&::after {
			.rotate(225deg);
			.unitize(-9, 16, top);
			background: @gray;
		}
	}
}

/** Product review form */
.content--product-reviews {
	.alert {
		.unitize-margin(0, 0, 16, 0, 16);
	}
	.captcha--notice {
		.unitize(12, 16, font-size);
		line-height: 1.2;
	}
}

// Product notification
.product--notification {
	.unitize-margin(0, 0, 16, 0);

	.alert {
		.unitize-margin(0, 0, 8, 0);
		word-wrap: break-word;
	}
	.notification--field {
		.border-radius-multi(3px, 0, 0, 3px);
		width: 80%;
	}
	.notification--button {
        .unitize(23, 16, line-height);
        .border-radius-multi(0, 3px, 3px, 0);
		width: 20%;
        text-align: center;

        .icon--mail {
            margin: 0;
        }
	}
}

// Product configurator
.configurator--form {
    .unitize-margin(16, 0, 0, 0);
    .unitize-padding(10, 0);
    border-top: 1px solid @border-color;

	.js--fancy-select {
		.unitize-margin(0, 0, 8, 0);
		width: 100%;
	}
}

.configurator--label {
    .unitize-margin(5, 0);
    .unitize(14, 16, font-size);
    font-weight: bold;
}

.is--ctl-detail .content-main--inner {
    background: #fff;
    position: relative;
    z-index: 1;
}

@media screen and(min-width: @tabletViewportWidth) {
    .product--details {

        .product--header .product--title {
            .unitize-padding(18, 0, 5, 0);
            .unitize(26, 16, font-size);
            .unitize(30, 16, line-height);
            width: 80%;
            float: left;
            border: 0 none;
        }

        .product--supplier {
            .unitize-height(60);
            .unitize(12, 16, margin-top);
            width: 20%;
            float: right;

            .product--supplier-link {
                .unitize-height(60);
            }
        }

        // Product review overview
        .product--rating-container {
            width: 80%;
            margin: 0;
            float: left;
        }

        // Product image
        .product--image-container {
            width: 100%;
        }

        // Product base information
        .product--base-info {
            .entry--label {
                .unitize-margin(0, 8, 0, 0);
                width: auto;
            }
        }

        // Product actions
        .product--actions {
            .unitize-margin(25, 0, 45, 0);
            .unitize-padding(10, 0, 0, 0);
            display: block;
            border-top: 1px solid @border-color;
        }

        // Product action link
        .action--link {
            .unitize-margin(0, 35, 0, 0);
            color: @text-color;

            &:last-child { margin-right: 0 }

            &:hover {
                color: @brand-primary;
            }

            // Icon
            [class^=icon] {
                .unitize(14, 16, font-size);
                .unitize-margin(0, 5, 0, 0);
            }
        }

        // Tab panel
        .js--desktop-tab-panel {
            .unitize-margin(0, -20, 20, -20);

            .panel--tab-nav {
                .unitize-margin(0, 20);
            }
            .tab--content {
                padding: 0;
				border-left: 0 none;
				border-right: 0 none;
            }
        }

        .content--description,
        .content--product-reviews {
            .unitize-padding(10, 35, 35, 35);
        }

        .content--related-products,
        .content--similar-products {
            .unitize-padding(20, 35);
        }


        // Block prices
		.block-prices--container {
			.unitize(12, 16, margin-top);
		}
    }
}

// Tablet lanscape - min-width: 1024px
@media screen and (min-width: @tabletLandscapeViewportWidth) {
	.product--details {

		// Product image
		.product--image-container {
            width: 60%;
            margin-right: 4%;
            float: left;
		}

		.product--buybox {
            width: 36%;
        }

        .configurator--form {
            .unitize-padding(10, 0);
        }

		.buybox--inner {
            width: 100%;
            float: none
        }

        .product--properties {
            width: 50%;
        }

		.product--actions {
            .clearfix();
			.unitize-margin(20, 0);
            padding: 0;
			border-top: 0 none;
			border-bottom: 1px solid @border-color;
		}

        // Product actions
        .action--link {
            .unitize-margin(0, 0, 10, 0);
            display: inline-block;
            width: 50%;
            float: left;

            [class^=icon] {
                .unitize-margin(0, 3, 0, 0);
            }
        }

        .review--form-container {
            width: 60%;
        }
	}
}

@media screen and(min-width: @desktopViewportWidth) {

    .product--navigation {
        display: block;
        position: relative;

        .navigation--link {
            .unitize(140, 16, top);
            display: none;
            position: absolute;
        }

        .link--prev-button,
        .link--next-button {
            .unitize-width(40);
            .unitize-height(255);
            .unitize(255, 16, line-height);
            .unitize(25, 16, font-size);
            .transition(background, 0.3s, ease);
            background: @gray-dark;
            text-align: center;
            color: #fff;
        }

        .image--wrapper {
            .unitize-padding(15, 15);
            .unitize-width(200);
            .unitize-height(255);
            float: left;
            background: #fff;
            position: relative;
        }

        .image--container {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .link--prev-button {
            .border-radius-multi(3px, 0, 0, 3px);
            float: left;

            &:before {
                font-family: 'shopware';
                content: "\e611";
            }
        }

        .link--next-button {
            .border-radius-multi(0, 3px, 3px, 0);
            float: right;

            &:before {
                font-family: 'shopware';
                content: "\e60f";
            }
        }

        .link--prev,
        .link--next {
            .transition(all, 0.3s, ease);

            &:hover .link--prev-button,
            &:hover .link--next-button {
                background: @gray-dark;
            }
        }

        .link--prev {
            .unitize(-40, 16, left);

            &.can--slide:hover {
                .unitize(-140, 16, left);
            }
        }

        .link--next {
            .unitize(-40, 16, right);

            &.can--slide:hover {
                .unitize(-140, 16, right);
            }
        }
    }

    .product--header {
        .unitize(45, 16, padding-top);

        .product--title {
            padding-top: 0;
        }
    }

            .product--supplier {
                .unitize-height(70);
                margin: 0;

                .product--supplier-link {
                    .unitize-height(70);
            }
        }
    }

    .action--link {
        .unitize-margin(0, 20, 10, 0);
        display: inline-block;
        width: auto;
        float: left;
    }

    .js--desktop-tab-panel {
        .unitize(40, 16, margin-bottom);
        margin-left: 0;
        margin-right: 0;

        .panel--tab-nav {
            .unitize-margin(0, 50, 0, 0);
        }

        .tab--content {
            border: 1px solid @border-color;
        }
    }

    .content--description,
    .content--product-reviews {
        .unitize-padding(10, 45, 45, 45);
    }

    .content--related-products,
    .content--similar-products {
        .unitize-padding(30, 45, 20, 45);
    }

    // Product notification
    .product--notification {
        .unitize-margin(0, 0, 20, 0);

        .alert {
            .unitize-margin(0, 0, 10, 0);
        }

        .notification--button {
            .unitize(20, 16, line-height);
        }
    }
