.navigation-main {
	background: #fff;
    display: none;
}
@media screen and (min-width: @tabletViewportWidth) {
	.navigation-main {
		.unitize-margin(0, 0, 20, 0, 16);
        border-bottom: 1px solid @brand-primary;
		display: block;
		position: relative;

		.navigation--list {
			.clearfix();
            margin: 0;
		}

		.navigation--entry {
			float: left;
		}

		.navigation--link {
            .transition(none, 0);
			.unitize-margin(0, 10, 0, 10, 16);
			.unitize-padding(8, 12, 8, 12, 16);
			display: block;
			cursor: pointer;
			color: @text-color;
		}

		.is--active {
			.primary-gradient();
			.border-radius-multi(3px, 3px);
            .navigation--link,
            &:hover .navigation--link {
                color: #fff;
            }

            font-weight: 700;
		}
	}
	.js--scrollable-list--arrow-left,
	.js--scrollable-list--arrow-right {
		.border-radius();
		.secondary-gradient();
		.unitize-padding(6, 10, 6, 10, 16);
		position: absolute;
		top: 0;
		z-index: 750;
		color: #fff;
	}
	.js--scrollable-list--arrow-left {
		left: 2px;
	}
	.js--scrollable-list--arrow-right {
		right: 2px;
	}
}