// Newsletter listing
.newsletter-listing--content {

    .newsletter-listing--table {
        .border-radius();
    }
    .newsletter-listing--table-headline {
        .newsletter-listing--headline-name {
            width: 65%;
        }
        .newsletter-listing--headline-button {
            width: 35%;
        }
    }
    .newsletter-listing--entry {
        .unitize-padding(10, 0, 10, 0, 16);
        border-bottom: 1px solid @borderColor;

        .newsletter-listing--entry-description {
            .unitize(4, 16, margin-top);
            width: 65%;
        }
        .newsletter-listing--entry-button {
            width: 35%;

            .btn {
                float: right;
            }
        }
        &:last-child {
            border: none;
        }
    }
}

// Newsletter detail
.newsletter-detail--content {
    .unitize(10, 16, margin-top);

    .newsletter-detail--container {
        .border-radius();
        .clearfix();

        .newsletter-detail--iframe {
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            iframe {
                .unitize(500, 16, min-height);
                width: 100%;
                border: none;
                outline: none;
            }
        }
    }
    .newsletter-detail--buttons {
        .unitize(16, 16, margin-top);

        // Icon
        .newsletter-detail--window {
            .unitize(10, 16, margin-bottom);
            text-align: center;

            i[class^=icon] {
                .unitize-margin(0, 0, 0, 16);
            }
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {

    // Newsletter listing
    .newsletter-listing--content {

        .newsletter-listing--table-headline {
            .newsletter-listing--headline-name {
                width: 80%;
            }
            .newsletter-listing--headline-button {
                width: 20%;
            }
        }
        .newsletter-listing--entry {
            .newsletter-listing--entry-description {
                width: 80%;
            }
            .newsletter-listing--entry-button {
                width: 20%;
            }
        }
    }

    // Newsletter detail
    .newsletter-detail--content {
        .unitize(20, 16, margin-top);
    }
}

@media screen and (min-width: @desktopViewportWidth) {

    // Newsletter listing
    .newsletter-listing--content {
        .unitize(45, 16, margin-top);
        width: 78%;
        float: right;

        .newsletter-listing--table-headline {
            .newsletter-listing--headline-name {
                width: 90%;
            }
            .newsletter-listing--headline-button {
                width: 10%;
            }
        }
        .newsletter-listing--entry {
            .newsletter-listing--entry-description {
                width: 90%;
            }
            .newsletter-listing--entry-button {
                width: 10%;
            }
        }
    }

    // Newsletter detail
    .newsletter-detail--content {
        .unitize(45, 16, margin-top);
        width: 78%;
        float: right;
    }
}