/** Main navigation of the storefront */
body > .sidebar-main {
    .unitize(20, 16, padding-bottom);
    border-right: 1px solid rgba(red(@lightTextColor), green(@lightTextColor), blue(@lightTextColor), 50%);
}

.mobile--switches {
    .unitize-padding(10, 10);
    display: block;

    .top-bar--currency,
    .top-bar--language {
        display: inline-block;

        .js--fancy-select {
            width: 100%;
        }

        .js--fancy-select-text {
            font-weight: normal;
        }
    }

    .top-bar--currency {
        width: 40%;
    }

    .top-bar--language {
        width: 30%;
        margin-right: 2%;

        .field--select {
            position: relative;
        }

        .language--flag {
            .unitize(18, 16, top);
            .unitize(12, 16, left);
            position: absolute;
            z-index: 90;
        }

        .js--fancy-select-text {
            text-indent: -9999em;
        }
    }

    .language--flag {
        .unitize-margin(0, 0, 0, 5);
    }
}

// Landingpage campaign banner
.campaign-outer-container {
    .unitize-margin(20, 0);
}

@media screen and (min-width: @tabletViewportWidth) {

    .sidebar-main {
        .unitize(45, 16, padding-top);
        .unitize-margin(0, 0);
        display: none;
        width: 20%;

        .mobile--switches {
            display: none;
        }

        .navigation--smartphone,
        .filter--container {
            display: none;
        }
    }

    .navigation--headline {
        .unitize-margin(20, 10, 10, 10);
    }

    .categories--headline {
        display: none;
    }

    .sidebar--navigation {
        .unitize-margin(0, 0, 10, 0);
        .border-radius(0);

        .navigation--entry {
            .unitize-padding(0, 0);
            .unitize-margin(0, 10);

            &.is--active {
                .unitize-margin(0, 0);
            }
        }

        .navigation--link {
            .unitize-padding(8, 4);
            display: block;

            &:hover {
                color: @primaryColor;
            }

            &.is--active {
                .unitize-padding(8, 10);
                .primary-gradient();
                color: #fff;
                font-weight: bold;
                text-shadow: 0 1px 1px @primaryContrastColor;
                border-bottom: 1px solid @primaryContrastColor;
            }
        }

        .is--level1 {
            .unitize-margin(5, 0);
            border: 0 none;

            .navigation--entry {
                border: 0 none;

                &.is--active {
                    .unitize-margin(0, 10);
                }
            }

            .navigation--link {
                .unitize-padding(6, 4);
                .unitize(13, 16, font-size);

                &:before,
                &::before {
                    .unitize(9, 16, font-size);
                    .unitize-margin(0, 6, 0, 0);
                    font-family: 'shopware';
                    content: "\e60f";
                }

                &.is--active {
                    .unitize-padding(6, 4);
                    font-weight: normal;
                    text-shadow: none;
                    color: @primaryColor;
                    background: transparent;
                    border: 0 none;
                }
            }
        }

        .navigation--level-high {
            border: 0 none;
        }
    }

    .shop-sites--container {
        .unitize-padding(16, 10, 4, 10);
        border: 1px solid @borderColor;

        .shop-sites--headline {
            .unitize(10 ,16, padding-bottom);
            .unitize(16, 16, font-size);
            margin-top: 0;
            border-bottom: 1px solid @borderColor;
            color: @darkTextColor;
            font-weight: bold;
        }

        .shop-sites--navigation {
            border: 0 none;
        }

        .navigation--entry {
            border: 0 none;
        }

        .navigation--link {
            .unitize-padding(3, 0, 3, 0);

            &.is--active {
                .unitize-padding(3, 10);
                background: none;
                border: 0 none;
                text-shadow: none;
                font-weight: 500;
                color: @primaryColor;
            }
        }

        .is--level1 {
            .unitize-margin(1, 0);

            .navigation--link {
                .unitize-padding(3, 0, 3, 12);
                .unitize(14, 16, font-size);

                &::before {
                    display: none;
                }

                &.is--active {
                    .unitize-padding(3, 0, 3, 12);
                }
            }
        }
    }
}

@media screen and (min-width: @desktopViewportWidth) {
    .sidebar-main {
        display: block;
    }
}