/** Main navigation of the storefront */
body > .sidebar-main {
	.clearfix();
    .unitize(20, 16, padding-bottom);
    border-right: @border-color;
}

.mobile--switches {
    .unitize-padding(10, 10);
    display: block;

    .top-bar--currency,
    .top-bar--language {
        display: inline-block;

        .js--fancy-select {
            width: 100%;
        }

        .js--fancy-select-text {
            font-weight: normal;
        }
    }

    .top-bar--currency {
        width: 40%;
    }

    .top-bar--language {
        width: 30%;
        margin-right: 2%;

        .field--select {
            position: relative;
        }

        .language--flag {
            .unitize(18, 16, top);
            .unitize(12, 16, left);
            position: absolute;
            z-index: 500;
        }

        .js--fancy-select-text {
            text-indent: -9999em;
        }
    }

    .language--flag {
        .unitize-margin(0, 0, 0, 5);
    }
}

// Landingpage campaign banner
.campaign-outer-container {
    .unitize-margin(20, 0);
}

.sidebar--navigation {

    margin: 0;
    border-left: 0 none;
    border-right: 0 none;
    border-radius: 0;

    .navigation--entry {
        position: relative;
        border-radius: 0;
    }

    .navigation--link {
        width: 100%;
        height: 100%;
        display: block;

        .is--icon-right {
            .unitize(5, 16, margin-top);
            .unitize(10, 16, font-size);
            display: inline-block;
            float: right;
        }

        &:hover {
            color: @brand-primary;
        }
    }
}

.offcanvas--overlay {
    .unitize(280, 16, width);
    .unitize(48, 16, top);
    background: @gray;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0;
    height: 100%;
    padding: 0;
    z-index: 1200;

    &.background {
        z-index: 1100;
    }

    .overlay--headline {
        .unitize(10, 16, margin-bottom);
        .unitize-padding(12, 15, 12, 15);
        border-bottom: 1px solid @border-color;
        width: 100%;
        background: #fff;
    }

    .overlay--category {
        .unitize(20, 16, margin-left);
        .unitize(10, 16, margin-bottom);

        .category--headline {
            .unitize(@font-size-h4, 16, font-size);
            color: @text-color-dark;
            margin: 0;
            padding: 0;
            font-weight: 700;
        }
    }

    .is--icon-left {
        .unitize(5, 16, margin-top);
        .unitize(5, 16, margin-right);
        .unitize(10, 16, font-size);
        display: inline-block;
    }

    .is--icon-right {
        .unitize(5, 16, margin-top);
        .unitize(10, 16, font-size);
        display: inline-block;
        float: right;
    }

    .is--back-button {
        font-weight: bold;
    }

    .is--display-button {
        color: @brand-primary;
        font-weight: bold;
    }
}

.has--cssanimations {
    .sidebar--ajax-loader {
        .unitize(12, 16, top);
        .unitize(15, 16, right);
        position: absolute;
        display: none;

        &::before {
            .unitize-width(16);
            .unitize-height(16);
            .border-radius(100%);
            .animation(keyframe--spin 1s linear infinite);
            display: block;
            content: "";
            border: 2px solid @border-color;
            border-top: 2px solid darken(@border-color, 50%);
        }
    }
}

.sidebar--ajax-loader {
    .unitize(12, 16, top);
    .unitize(15, 16, right);
    position: absolute;
    display: none;

    &::before {
        .unitize-width(16);
        .unitize-height(16);
        .border-radius(100%);
        .animation(keyframe--spin 1s linear infinite);
        display: block;
        content: "";
        border: 2px solid @border-color;
        border-top: 2px solid darken(@border-color, 50%);
    }
}

@media screen and (min-width: @tabletViewportWidth) {

    .sidebar-main {
    	.unitize-width(230);
        .unitize-margin(0, 0);
		.unitize(30, 16, padding-top);
        display: none;
        float: left;

		.is--ctl-listing &,
		.is--ctl-note.is--user &,
		.is--ctl-account.is--user & {
			display: block;

			& + .content--wrapper {
				.unitize(260, 16, margin-left);
			}
		}

		.is--ctl-blog &,
		.is--ctl-note &,
		.is--ctl-index &,
		.is--ctl-detail &,
		.is--ctl-search &,
		.is--ctl-custom &,
		.is--ctl-checkout &,
		.is--ctl-account.is--act-logout &,
		.is--ctl-account.is--act-password &,
		.is--ctl-listing.is--no-sidebar & {
			display: none;

			& + .content--wrapper {
				margin: 0;
			}
		}

		.is--ctl-note &,
		.is--ctl-account & {
			.categories--headline,
			.categories--navigation,
			.shop-sites--container {
				display: none;
			}
		}

        .mobile--switches,
		.filter--container,
        .navigation--smartphone {
            display: none;
        }

        .sidebar--categories-wrapper {
            display: block;
        }
    }

    .navigation--headline {
        .unitize-margin(20, 10, 10, 10);
    }

    .categories--headline {
        display: none;
    }

    .sidebar--navigation {
        .unitize-margin(0, 0, 20, 0);
        .border-radius(0);
        .unitize-margin(0, 0, 5, 0);
        border: 1px solid @border-color;

        .navigation--entry {
            .unitize-padding(0, 0);
            .unitize-margin(0, 10);

            &.is--active {
                .unitize-margin(0, 0);
            }
        }

        .navigation--link {
            .unitize-padding(8, 4);
            display: block;

            &:hover {
                color: @brand-primary;
            }

            &.is--active {
                .unitize-padding(8, 10);
                .primary-gradient();
                color: #fff;
                font-weight: bold;
            }

            .is--icon-right {
                display: none;
            }
        }

        .is--level1 {
            .unitize-margin(5, 0);
            border: 0 none;

            .navigation--entry {
                border: 0 none;

                &.is--active {
                    .unitize-margin(0, 10);
                }
            }

            .navigation--link {
                .unitize-padding(6, 4);
                .unitize(13, 16, font-size);

                &:before,
                &::before {
                    .unitize(9, 16, font-size);
                    .unitize-margin(0, 6, 0, 0);
                    font-family: 'shopware';
                    content: "\e60f";
                }

                &.is--active {
                    .unitize-padding(6, 4);
                    font-weight: normal;
                    text-shadow: none;
                    color: @brand-primary;
                    background: transparent;
                    border: 0 none;
                }
            }
        }

        .navigation--level-high {
            border: 0 none;
        }
    }

    .shop-sites--container {
        .unitize-padding(16, 10, 4, 10);
        border: 1px solid @border-color;

        .shop-sites--headline {
            .unitize(10 ,16, padding-bottom);
            .unitize(16, 16, font-size);
            margin-top: 0;
            border-bottom: 1px solid @border-color;
            color: @text-color-dark;
            font-weight: bold;
        }

        .shop-sites--navigation {
            border: 0 none;
        }

        .navigation--entry {
            border: 0 none;
        }

        .navigation--link {
            .unitize-padding(3, 0, 3, 0);

            &.is--active {
                .unitize-padding(3, 10);
                background: none;
                border: 0 none;
                text-shadow: none;
                font-weight: 500;
                color: @brand-primary;
            }
        }

        .is--level1 {
            .unitize-margin(1, 0);

            .navigation--link {
                .unitize-padding(3, 0, 3, 12);
                .unitize(14, 16, font-size);

                &::before {
                    display: none;
                }

                &.is--active {
                    .unitize-padding(3, 0, 3, 12);
                }
            }
        }
    }
}

@media screen and (min-width: @desktopViewportWidth) {

    .sidebar-main,
	.is--ctl-custom .sidebar-main {
		.unitize(45, 16, padding-top);
    	display: block;
    }
}