.loading-wrapper {
  background-color: #213448;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 3px;
  z-index: 10000;
}
.loading-wrapper .oval-one {
  position: absolute;
  left: -180px;
  bottom: -100px;
  background: rgba(149, 210, 255, 0.09);
  border-radius: 100%;
  height: 430px;
  width: 430px;
}
.loading-wrapper .oval-two {
  position: absolute;
  right: 50px;
  top: -130px;
  background: rgba(149, 210, 255, 0.05);
  border-radius: 100%;
  height: 230px;
  width: 230px;
}
.loading-wrapper .loading-text {
  display: block;
  position: absolute;
  top: calc(45% - 11px);
  left: calc(50% - 48px);
  color: #798EA3;
  width: 100px;
  height: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.loading-wrapper .loading-content {
  display: block;
  position: relative;
  left: calc(50% - 85px);
  top: calc(45% - 85px);
  width: 170px;
  height: 170px;
  border: 5px solid transparent;
  border-top-color: #6A63FC;
  border-bottom-color: #6A63FC;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}
.loading-wrapper .loading-content::before {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border: 5px solid transparent;
  border-top-color: #34DCDD;
  border-bottom-color: #34DCDD;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
  animation: loader 3s linear infinite;
}
.loading-wrapper .loading-content::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border: 5px solid transparent;
  border-top-color: #189EFF;
  border-bottom-color: #189EFF;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}
@-webkit-keyframes loaders {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.tob-bar {
  max-width: 800px;
  margin: 25px auto 15px auto;
}
ul.top-benefits {
  margin-bottom: 20px;
}
ul.top-benefits li {
  float: left;
  width: 33%;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}
ul.top-benefits li:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(img/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 10px;
}
.info--text ul.top-benefits li {
  float: none;
  font-weight: 600;
  font-size: 15px;
  color: #213448;
  text-align: left;
  width: 100%;
  margin: 10px 0 0 0;
  list-style-position: outside;
}
.info--text ul.top-benefits li:before {
  height: 11px;
  width: 11px;
  margin-right: 5px;
}
.preview-screen {
  background: url(img/preview-screen.png) center top no-repeat;
  background-size: contain;
  height: 550px;
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}
.funny-graph {
  position: absolute;
  top: -200px;
  background: url(img/funny-graph.svg) center bottom no-repeat;
  width: 100%;
  height: 200px;
  background-size: 100%;
  left: 0;
}
.teaser-text {
  position: absolute;
  bottom: 0;
  color: #798EA3;
  background-color: #FFF;
  width: 100%;
  min-height: 33%;
  padding: 4%;
}
.teaser-text h1 {
  color: #213448;
  font-size: 33px;
}
.teaser-text .btn {
  margin-top: 30px;
  margin-bottom: 30px;
}
.wrapper-info {
  background-color: #FFF;
  width: 100%;
}
.info--text {
  color: #798EA3;
  text-align: left;
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  margin-top: 20px;
  padding: 0 10px 0 10px;
  width: 100%;
}
.info--text h1 {
  color: #213448;
  font-size: 33px;
  text-align: center;
  margin-bottom: 10px;
}
.info--text h2 {
  color: #213448;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  margin: 8px 0 5px 0;
  padding: 0;
}
.info--text h2 .check-color {
  color: #50E3C2;
  font-size: 26px;
}
.info--text .confirmation-label {
  font-weight: 500;
  font-size: 16px;
}
.accept-abg {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}
input[type=checkbox] {
  transform: scale(1.2);
  margin-right: 10px;
  height: 13px;
}
div#select-wrapper {
  position: relative;
  z-index: 1;
  padding-top: 10%;
}
div#select-wrapper button.btn {
  background: none;
}
.bubble-one {
  position: fixed;
  left: -180px;
  bottom: -100px;
  height: 450px;
  width: 450px;
  border-radius: 100%;
  background-color: rgba(121, 142, 163, 0.1);
}
.bubble-two {
  position: fixed;
  right: 70px;
  top: -150px;
  height: 280px;
  width: 280px;
  border-radius: 100%;
  background-color: rgba(121, 142, 163, 0.1);
}
.wild-graph {
  position: fixed;
  bottom: -20px;
  background: url(img/wild-graph.svg) center bottom no-repeat;
  width: 100%;
  height: 140px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  padding: 50px 0;
  font-family: 'Abel', sans-serif;
  font-size: 45px;
}
@media (max-width: 680px) {
  h2 {
    font-size: 30px;
  }
}
ul {
  padding: 0;
  list-style: none;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
#container,
#container-industry-data,
#container-user-data {
  max-width: 780px;
  height: 600px;
  margin: 0 auto;
}
#slider-container {
  padding: 30px 20px;
  max-width: 780px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
#slider-container ul li {
  float: left;
  text-align: center;
}
.arrow {
  display: block;
  position: absolute;
  z-index: 5;
  margin-top: -300px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) scale(1);
  cursor: pointer;
}
.arrow:before,
.arrow:after {
  content: "";
  display: block;
  width: 34px;
  height: 1px;
  position: absolute;
  background: white;
  border-top: 1px solid #FFF;
}
.arrow.a-left {
  left: 15px;
}
.arrow.a-left:before {
  top: 0;
  left: 0;
  margin-top: 0;
  transform: rotate(-45deg);
  transform-origin: 100% 0;
}
.arrow.a-left:after {
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  transform: rotate(45deg);
  transform-origin: 100% 0;
}
.arrow.a-right {
  right: 15px;
}
.arrow.a-right:before {
  top: 0;
  right: 0;
  margin-top: 0;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.arrow.a-right:after {
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.bullets-container {
  position: absolute;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.bullets-container .bullet {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #798EA3;
  cursor: pointer;
  margin: 0 8px;
}
.bullets-container .bullet.active {
  background: #FFF;
  border: 1px solid #FFF;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(121, 142, 163, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0;
  background-color: #798ea3;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgba(52, 220, 221, 0.4);
}
input:checked + .slider:before {
  background-color: #34DCDD;
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.slider.round {
  border-radius: 16px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-shop {
  color: #34DCDD;
}
.switch-industry {
  color: #6a63fc;
}
.switch-industry input:checked + .slider {
  background-color: rgba(106, 99, 252, 0.4);
}
.switch-industry input:checked + .slider:before {
  background-color: #6a63fc;
}
.switch-last-year {
  color: #798EA3;
}
.switch-last-year .switch {
  height: 12px;
  width: 24px;
}
.switch-last-year .slider:before {
  height: 12px;
  width: 12px;
}
.switch-last-year input:checked + .slider {
  background-color: rgba(255, 255, 255, 0.4);
}
.switch-last-year input:checked + .slider:before {
  background-color: #ffffff;
}
.button-container {
  margin-top: 10px;
  float: right;
  font-size: 14px;
  width: 60px;
}
.button-container .button-wrapper {
  margin-bottom: 20px;
}
* {
  font-weight: 600 !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}
h3 {
  padding: 0 15%;
}
.btn.timescale {
  font-size: 14px;
  padding: 12px 27px;
  margin: 10px 15px 10px 15px;
  background: transparent;
  color: #798EA3;
  border: none;
}
.btn.timescale:hover {
  cursor: pointer;
}
.btn.timescale.is-active {
  background-color: #189EFF;
  color: #FFFFFF;
}
.btn.timescale.is-active:hover {
  background-color: rgba(24, 158, 255, 0.8);
  box-shadow: 0 3px 10px rgba(24, 158, 255, 0.3);
}
input {
  outline: none;
}
/* Targetgroup */
.targetgroup--branch .data,
.targetgroup--shop .data {
  text-align: left;
  margin-left: 50%;
}
.like-branch-ice {
  background: url(img/ice-branch.svg) center bottom no-repeat;
  float: left;
  height: 218px;
  width: 50%;
  margin-bottom: 10px;
}
.like-shop-ice {
  background: url(img/ice-shop.svg) center bottom no-repeat;
  float: left;
  height: 218px;
  width: 50%;
  margin-bottom: 10px;
}
.data-wrapper {
  clear: both;
  width: 90%;
  display: inline-block;
  margin: 10px 20px;
  text-align: left;
}
.data-wrapper .data-headline {
  text-align: left;
}
.graph-gradient {
  height: 14px;
  margin: 6px 0;
  border-radius: 100px;
  text-align: left;
}
.graph-gradient .data--txt {
  position: relative;
  left: 100%;
  line-height: 90%;
  margin-left: 5px;
  vertical-align: text-top;
}
.targetgroup--branch .graph-gradient {
  background: #511cfc;
  background: -moz-linear-gradient(left, #511cfc 0%, #3CABE5 100%);
  background: -webkit-linear-gradient(left, #511cfc 0%, #3CABE5 100%);
  background: linear-gradient(to right, #511cfc 0%, #3CABE5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#511cfc', endColorstr='#34dcdd', GradientType=1);
}
.targetgroup--shop .graph-gradient {
  background: #00a5ff;
  background: -moz-linear-gradient(left, #00a5ff 1%, #34dcdd 100%);
  background: -webkit-linear-gradient(left, #00a5ff 1%, #34dcdd 100%);
  background: linear-gradient(to right, #00a5ff 1%, #34dcdd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a5ff', endColorstr='#34dcdd', GradientType=1);
}
.swag-chart .graph {
  display: inline-block;
  margin: 2px;
  text-align: center;
}
.swag-chart .payment .graph {
  border-radius: 100%;
}
.shipping,
.payment {
  margin: 0 0 20px 0;
}
.shipping .no-available,
.payment .no-available {
  position: inherit;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 1000;
}
.shipping .wrapper,
.payment .wrapper {
  height: 200px;
}
.graph-wrapper {
  float: left;
  width: 740px;
}
.graph-container:after {
  content: "";
  display: table;
  clear: both;
}
.disabled-notice {
  display: none;
}
.industry-disabled {
  position: relative;
}
.industry-disabled .disabled-notice {
  display: grid;
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 30px;
  color: #B2C4D7;
  background: rgba(33, 52, 72, 0.85);
}
.devices-graph-list-wrapper .devices-item {
  margin-bottom: 8px;
}
.devices-graph-list-wrapper .devices-item::after {
  content: "";
  display: table;
  clear: both;
}
.btn-liquid {
  margin-top: 45px;
}
.btn-liquid .inner {
  font-size: 20px;
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  z-index: 1000;
  color: #798EA3;
  margin-top: 35px;
}
.scroll .cont-mouse {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scroll .mouse {
  width: 33px;
  height: 60px;
  border-radius: 60px;
  border: solid 3px #798EA3;
  margin-bottom: 10px;
  position: relative;
}
.scroll .mouse .wheelcont {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 15px;
}
.scroll .mouse .wheelcont .wheel {
  width: 5px;
  height: 9px;
  border-radius: 3px;
  background-color: white;
  display: block;
  margin: 0 auto;
  -webkit-animation-name: wheel;
  animation-name: wheel;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
.scroll .mouse .arrows {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 29px;
  background-position: center;
  background-size: auto 100%;
  -webkit-animation-name: arrow-animation;
  animation-name: arrow-animation;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 4px 0;
}
.scroll .mouse .arrows .fl,
.scroll .mouse .arrows .flb {
  border-left: solid 1px white;
  border-top: solid 1px white;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  margin: 0 auto;
}
.scroll .mouse .arrows .flb {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.scroll .mouse .arrows .up {
  margin-bottom: 14px;
}
.preview-disclaimer {
  width: 130px;
  height: 240px;
  margin: 0 auto;
  background: url(img/bg-preview.png) no-repeat;
  background-size: 130px 205px;
  position: absolute;
  top: 0;
  left: 10%;
  color: #FFF;
  display: grid;
  text-align: center;
  align-content: center;
  line-height: 30px;
  font-size: 25px;
}
.preview-disclaimer:before {
  content: '!';
  display: block;
  position: absolute;
  color: #FFF;
  font-size: 78px;
  left: 0;
  right: 0;
  top: 30px;
}
/*
============================================
            KEYFRAMES
============================================
*/
@-webkit-keyframes wheel {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@keyframes wheel {
  0% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}
@-webkit-keyframes arrow-animation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes arrow-animation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.4;
  }
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  color: #798EA3;
}
body#swag-start {
  background-color: #213448;
}
body#swag-info {
  background-color: #FFFFFF;
}
body#swag-select {
  background-color: #213448;
}
body#swag-benchmark {
  background-color: #213448;
}
.wrapper {
  width: 100%;
  overflow-y: auto;
  background: #213448;
}
.swag-container {
  text-align: center;
  height: 600px;
  max-width: 800px;
  margin: 0 auto;
}
.swag-chart,
.swag-text-break {
  margin: 50px 0;
}
.swag-onbording {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.konfetti {
  width: 450px;
  height: 106px;
  margin: 0 auto;
  background: url(img/konfetti.svg) no-repeat;
  background-size: 450px 106px;
}
.nice-graphic {
  margin: 0 auto;
  width: 250px;
  height: 200px;
}
.wave-left {
  background: url(img/wave-left.svg) left center no-repeat;
  width: 102px;
  height: 600px;
  position: absolute;
  left: 0;
}
.wave-right {
  background: url(img/wave-right.svg) right center no-repeat;
  width: 102px;
  height: 600px;
  position: absolute;
  right: 0;
  margin-top: -600px;
}
.row {
  clear: both;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.col-100 {
  width: 100%;
  float: left;
}
#swag-start .col-33,
#swag-info .col-33,
#swag-select .col-33,
#swag-start .col-50,
#swag-info .col-50,
#swag-select .col-50,
#swag-start .col-66,
#swag-info .col-66,
#swag-select .col-66,
#swag-start .col-80,
#swag-info .col-80,
#swag-select .col-80 {
  width: 90%;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.computed-data {
  padding-top: 20px;
}
.computed-data .time-container:after {
  content: "";
  display: table;
  clear: both;
}
.computed-data .value-container {
  float: left;
  width: 33%;
}
.computed-data .value-container.total .data-value {
  font-size: 25px;
}
.computed-data .value-container.total .data-value.local {
  color: #34DCDD;
}
.computed-data .value-container.total .data-value.industry {
  color: #6A63FC;
}
.computed-data .data-value {
  color: #fff;
  font-size: 22px;
}
@media (min-width: 800px) {
  #swag-start .col-33,
  #swag-info .col-33,
  #swag-select .col-33 {
    width: 30%;
    float: left;
    margin: 0 0 0 3%;
  }
  #swag-start .col-50,
  #swag-info .col-50,
  #swag-select .col-50 {
    width: 50%;
    float: left;
    margin: 0;
  }
  #swag-start .col-66,
  #swag-info .col-66,
  #swag-select .col-66 {
    width: 66%;
    float: left;
    margin: 0;
  }
  #swag-start .col-80,
  #swag-info .col-80,
  #swag-select .col-80 {
    width: 80%;
    margin: 0 0 0 20%;
  }
}
#swag-benchmark {
  margin-top: 70px;
}
#swag-benchmark .col-33 {
  width: 33%;
  float: left;
}
#swag-benchmark .col-50 {
  width: 50%;
  float: left;
}
#swag-benchmark .col-66 {
  width: 66%;
  float: left;
}
#swag-benchmark .col-80 {
  width: 80%;
  margin-left: 20%;
}
.special-note .swag-container {
  padding-top: 60px;
}
.special-note .nice-graphic {
  background: url(img/wait-info.svg) bottom center no-repeat;
  background-size: 180px;
}
.industry-data .slide--shop .nice-graphic {
  background: url(img/durchschnitt-shop.svg) bottom center no-repeat;
  background-size: 180px;
}
.industry-data .slide--branch .nice-graphic {
  background: url(img/durchschnitt-branch.svg) bottom center no-repeat;
  background-size: 180px;
}
.user-data .slide--shop .nice-graphic {
  background: url(img/user-shop.svg) bottom center no-repeat;
  background-size: 150px;
}
.user-data .slide--branch .nice-graphic {
  background: url(img/user-branch.svg) bottom center no-repeat;
  background-size: 150px;
}
.payment-shipping-data .slide--shop .nice-graphic {
  background: url(img/payship-shop.svg) bottom center no-repeat;
  background-size: 180px;
}
.payment-shipping-data .slide--branch .nice-graphic {
  background: url(img/payship-branch.svg) bottom center no-repeat;
  background-size: 180px;
}
.btn {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  border-radius: 100px;
  border: 2px solid #798EA3;
  padding: 12px 38px;
  margin: 10px auto 20px auto;
  text-decoration: none;
}
.btn:hover {
  cursor: pointer;
}
.btn.primary {
  padding: 16px 38px;
  background-color: #189EFF;
  color: #FFFFFF;
  box-shadow: 0 8px 10px rgba(24, 158, 255, 0.1);
  transition: all 0.5s ease-out;
  border: none;
}
.btn.primary:hover {
  background-color: #50E3C2;
  box-shadow: 0 3px 10px rgba(24, 158, 255, 0.3);
}
.btn.primary.select-bg {
  width: 50%;
}
.btn.primary.select-bg:hover {
  background-color: #189EFF;
  cursor: pointer;
}
.btn.secondary {
  padding: 12px 38px;
  border: 2px solid #189EFF;
  color: #189EFF;
  transition: all 0.5s ease-out;
}
.btn.secondary:hover {
  border: 2px solid #3adfba;
  color: #50E3C2;
}
.icon-more {
  content: '+';
  font-size: 110%;
  vertical-align: middle;
}
input.btn.primary {
  font-family: 'Source Sans Pro';
}
footer {
  font-size: 14px;
  color: #5f758a;
}
textarea {
  background-color: #1c2c3e;
  border-color: #24394f;
  width: 80%;
  padding: 3% 15%;
  max-height: 140px;
  margin-bottom: 20px;
  text-align: center;
  color: #798EA3;
  font-size: 16px;
}
textarea::-webkit-input-placeholder {
  color: #4a5b6c;
}
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #4a5b6c;
}
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a5b6c;
}
textarea:-ms-input-placeholder {
  color: #4a5b6c;
}
.language-switch {
  position: absolute;
  top: 25px;
  right: 5%;
  z-index: 1000;
  height: 50px;
}
.language-switch .language {
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
.language-switch .language.active,
.language-switch .language:hover {
  color: #189EFF;
}
.language-switch .language-separator {
  margin: 0 5px 0;
}
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.woff') format('woff'), /* Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-regular.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.woff') format('woff'), /* Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-600.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.woff') format('woff'), /* Modern Browsers */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://assets.shopware.com/bi/source-sans-pro/source-sans-pro-v11-latin-700.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  font-family: 'Source Sans Pro';
  margin: 8px 0;
  padding: 0 3%;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 145%;
}
.opener h1,
.swag-text-break h1 {
  font-size: 70px;
  color: #FFFFFF;
  margin: 20px 0;
}
h1 {
  font-size: 56px;
  color: #FFFFFF;
}
h2 {
  font-size: 33px;
  color: #FFFFFF;
}
h3 {
  font-size: 30px;
  color: #798EA3;
}
h4 {
  font-size: 24px;
  color: #798EA3;
}
p {
  margin-bottom: 20px;
}
.clear {
  clear: both;
}
.branch-color {
  color: #6A63FC;
  font-weight: 600;
}
.shop-color {
  color: #34DCDD;
  font-weight: 600;
}
.like-branch-ice,
.like-shop-ice {
  text-align: left;
}
.data {
  color: #798EA3;
  font-size: 14px;
  font-weight: 500;
}
.data.x-axis {
  color: #FFFFFF;
}
.data--txt {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.data--headline {
  font-size: 24px;
  font-weight: 600;
}
.high-contrast {
  color: #FFFFFF;
}
.smaller {
  font-size: 90%;
}
.is-center {
  text-align: center;
}
.is-bigger {
  font-size: 200%;
}
.industry--shop-list {
  height: 200px;
  width: 800px;
  margin-top: 30px;
  position: relative;
}
.industry--shop-list .shop-list--wrapper {
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}
.industry--shop-list .shop-list--entry {
  margin: 5px 0;
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  padding: 0 90px 0 50px;
  line-height: 50px;
}
.industry--shop-list .shop-list--entry:hover {
  background: #263c52;
}
.industry--shop-list .shop-list--entry.configured {
  color: #189EFF;
}
.industry--shop-list .shop-list--entry.configured .shop-list--button {
  border-color: #189EFF;
}
.industry--shop-list .shop-list--entry.configured .shop-list--button::before {
  content: ' ';
  display: block;
  color: #189EFF;
  margin-left: 1px;
  height: 9px;
  width: 11px;
  background: url(img/check-branch.svg) no-repeat;
  position: relative;
  top: 2px;
  left: 1px;
}
.industry--shop-list .shop-list--entry.configured .shop-list--info {
  font-style: normal;
}
.industry--shop-list .shop-list--name,
.industry--shop-list .shop-list--info {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
}
.industry--shop-list .shop-list--info-text {
  font-size: 16px;
  font-weight: 500 !important;
}
.industry--shop-list .shop-list--name {
  color: #fff;
  text-align: left;
  font-weight: 500 !important;
}
.industry--shop-list .shop-list--info {
  font-style: italic;
  line-height: 30px;
  text-align: right;
  position: relative;
}
.industry--shop-list .shop-list--button {
  border: 3px solid #fff;
  color: #fff;
  padding: 5px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 0;
}
.industry--shop-list .shop-list--button::before {
  content: '...';
  font-size: 14px;
  line-height: 7px;
  display: block;
  cursor: pointer;
  letter-spacing: 2px;
  font-style: normal;
}
.industry--shop-list .shop-list--button:hover {
  border-color: #189EFF;
  color: #189EFF;
}
.industry--shop-list::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(33, 52, 72, 0) 0%, #213448 100%);
  pointer-events: none;
  height: 30px;
}
.shop-config--overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  background: rgba(33, 52, 72, 0.8);
  z-index: 10;
}
.shop-config--overlay .shop-list--config {
  position: absolute;
  padding: 30px;
  background-color: #1c2c3e;
  height: 370px;
  width: 350px;
  border-radius: 15px;
  right: 24%;
  top: 17%;
  cursor: initial;
}
.shop-config--overlay .config-headline {
  color: #fff;
  text-align: center;
  font-size: 20px;
  word-wrap: break-word;
}
.shop-config--overlay .shop-config--type {
  padding-left: 20px;
}
.shop-config--overlay .shop-config--type .type-label {
  display: block;
  margin-bottom: 10px;
}
.shop-config--overlay .shop-config--type span {
  font-weight: 500 !important;
}
.shop-config--overlay .shop-config--type .type-label--name {
  color: #fff;
  margin: 0 15px 0 30px;
}
.shop-config--overlay .submit-button--ct {
  text-align: center;
}
.shop-config--overlay .action-buttons--ct {
  position: absolute;
  bottom: 10px;
  left: 30px;
  right: 30px;
}
.shop-config--overlay .action-buttons--ct .reset-button--ct,
.shop-config--overlay .action-buttons--ct .cancel-button--ct {
  cursor: pointer;
}
.shop-config--overlay .action-buttons--ct .reset-button--ct:hover .action-button,
.shop-config--overlay .action-buttons--ct .cancel-button--ct:hover .action-button {
  color: #189EFF;
}
.shop-config--overlay .action-buttons--ct .reset-button--ct:hover .reset-button--icon,
.shop-config--overlay .action-buttons--ct .cancel-button--ct:hover .reset-button--icon {
  background-image: url('img/reset-hover.svg');
}
.shop-config--overlay .action-buttons--ct .reset-button--ct:hover .cancel-button--icon,
.shop-config--overlay .action-buttons--ct .cancel-button--ct:hover .cancel-button--icon {
  background-image: url('img/cancel-hover.svg');
}
.shop-config--overlay .action-buttons--ct .reset-button--icon,
.shop-config--overlay .action-buttons--ct .cancel-button--icon {
  display: inline-block;
}
.shop-config--overlay .action-buttons--ct .reset-button--icon {
  height: 16px;
  width: 14px;
  background-image: url('img/reset.svg');
}
.shop-config--overlay .action-buttons--ct .cancel-button--icon {
  margin-top: 3px;
  height: 13px;
  width: 13px;
  background-image: url('img/cancel.svg');
}
.shop-config--overlay .action-buttons--ct .reset-button--ct {
  float: left;
}
.shop-config--overlay .action-buttons--ct .cancel-button--ct {
  float: right;
}
.shop-config--overlay .action-buttons--ct .action-button {
  vertical-align: top;
  cursor: pointer;
  background: none;
  border: 0 none;
  color: #798EA3;
  font-size: 14px;
}
.shop-config--overlay .type--header {
  margin: 30px 0 10px;
  text-align: center;
}
.type-label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.type-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.type-label input:checked ~ .check-mark {
  border-color: #189EFF;
}
.type-label input:checked ~ .check-mark:after {
  display: block;
}
.type-label input:checked ~ .type-label--name,
.type-label input:checked ~ .type-label--short {
  color: #189EFF;
}
.type-label .check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: none;
  border: 3px solid #798EA3;
  border-radius: 50%;
}
.type-label .check-mark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #189EFF;
}
.type-label:hover input ~ .check-mark {
  border-color: #189EFF;
}
.type-label:hover .type-label--name,
.type-label:hover .type-label--short {
  color: #189EFF;
}
.industry--save-button {
  width: 400px;
  padding: 10px 30px;
  background-color: #189EFF;
  color: #fff;
  text-align: center;
  border-radius: 40px;
  line-height: 30px;
  margin: 50px auto 0;
  clear: both;
  display: table;
}
.industry--save-button .save-button--shop-counter,
.industry--save-button .save-button--text {
  display: inline-block;
}
.industry--save-button .save-button--shop-counter {
  margin-left: 10px;
  height: 30px;
  width: 30px;
  background-color: #008aee;
  border-radius: 100%;
}
.industry--save-button:hover {
  background-color: #50E3C2;
  cursor: pointer;
}
.industry--save-button:hover .save-button--shop-counter {
  background-color: #20cba5;
}
.shop-select--wrapper {
  top: 2%;
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
}
.shop-select--wrapper .shop-select {
  width: 390px;
  display: inline-block;
  text-align: left;
}
.shop-select--wrapper .shop-select.open {
  position: relative;
}
.custom-select {
  width: 100%;
  color: #798EA3;
  border: 3px solid #798EA3;
  background-color: #213448;
  font-size: 15px;
  border-radius: 30px;
  height: 50px;
  padding: 15px 30px;
  font-style: italic;
  position: relative;
}
.custom-select .select-header {
  margin-right: 20px;
}
.custom-select.open {
  height: auto;
  max-height: 260px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 100;
  width: 290px;
}
.custom-select.open .dropdown-wrapper {
  max-height: 260px;
  overflow-y: scroll;
  padding: 15px 30px;
}
.custom-select.open .fade-out {
  display: block;
}
.custom-select.open .select-options {
  display: block;
}
.custom-select.open .select-header {
  display: none;
}
.custom-select.open::after {
  transform: rotate(225deg);
  top: 20px;
}
.custom-select.active {
  border-color: #189EFF;
}
.custom-select.active .select-header {
  color: #189EFF;
}
.custom-select .fade-out {
  display: none;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(33, 52, 72, 0) 0%, #213448 100%);
  pointer-events: none;
}
.custom-select::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-style: normal;
  content: "";
  position: absolute;
  right: 25px;
  top: 16px;
}
.custom-select:hover {
  color: #189EFF;
  border-color: #189EFF;
  cursor: pointer;
}
.custom-select:hover::after {
  border-color: #189EFF;
}
.custom-select .select-options {
  display: none;
}
.custom-select .select-option {
  padding: 10px 0;
  color: #798EA3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-select .select-option:hover {
  color: #189EFF;
}
.custom-select .select-option:last-child {
  margin-bottom: 22px;
}
.custom-select .select-option:first-child {
  margin-top: 10px;
}
.pong-start {
  position: absolute;
  background-color: #50E3C2;
  color: #fff !important;
  border: 0 none !important;
  left: calc(50% - 60px);
  top: 380px;
  width: 120px;
}
.pong-start:hover {
  background-color: #41aa8d;
  cursor: pointer;
}
.pong-cancel-button {
  margin-top: 30px;
  width: 270px;
}
#pong-game {
  border-radius: 7px;
}
body#swag-waiting {
  background-color: #213448;
  overflow: hidden;
}
.waiting {
  padding-top: 4rem;
}
.waiting h1 {
  font-weight: 700;
  font-size: 56px;
}
.waiting p {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1.15rem;
}
.waiting svg.circle {
  position: absolute;
  fill: #ffffff;
}
.waiting svg.circle.big {
  top: 20rem;
  left: -12rem;
  width: 30rem;
  fill-opacity: .05;
}
.waiting svg.circle.small {
  top: -15rem;
  right: 2rem;
  width: 20rem;
  fill-opacity: .03;
}
.waiting-graphic,
.compare-no-apples-and-pears,
.eat-fruits-while-waiting,
.no-fruits-no-fun {
  margin: 1rem auto;
  height: 7rem;
  width: 50%;
}
