**.yaml export-ignore
**.yaml export-ignore
**.md export-ignore
**.gitkeep export-ignore
config.php export-ignore
.gitlab-ci.yml export-ignore
.github/ export-ignore
.gitignore export-ignore
.git-blame-ignore-revs export-ignore
.editorconfig export-ignore
.php-cs-fixer.php export-ignore
.envrc export-ignore
.phpstan.neon export-ignore
.phpstan-baseline.neon export-ignore
build/ export-ignore
tests/ export-ignore
dev-ops/ export-ignore
.git export-ignore
snippets/ export-ignore
devenv* export-ignore
snippets/backend/plugins/ export-ignore
.env.dist export-ignore
Makefile export-ignore
.make* export-ignore
vendor-bin/ export-ignore
