<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /web/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # DEV ENVIRONMENT #
    RewriteRule ^$ app_dev.php [QSA]
    RewriteRule ^(.*)$ app_dev.php/$1 [QSA,L]
</IfModule>