includes:
	- .phpstan-baseline.neon

parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    tmpDir: var/cache/phpstan

    scanDirectories:
        - %currentWorkingDirectory%/var/cache
        - %currentWorkingDirectory%/engine/Library
    scanFiles:
        - %currentWorkingDirectory%/vendor/autoload.php

    paths:
        - %currentWorkingDirectory%/engine/Shopware
    excludes_analyse:
        - %currentWorkingDirectory%/engine/Shopware/Plugins

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'

        # Interface / Implementation Switch
        - '#expects Shopware\\Bundle\\SearchBundle\\Facet\\[a-zA-Z]+Facet, Shopware\\Bundle\\SearchBundle\\[a-zA-Z]+Interface given#'
        - '#expects Shopware\\Bundle\\SearchBundle\\Condition\\[a-zA-Z]+Condition, Shopware\\Bundle\\SearchBundle\\[a-zA-Z]+Interface given#'
        # Product/Shopcontext mixup
        - '#expects Shopware\\Bundle\\StoreFrontBundle\\Struct\\ProductContextInterface, Shopware\\Bundle\\StoreFrontBundle\\Struct\\ShopContextInterface given#'
        # We manually check if the class exists before instantiating / using it
        - '#PHPDoc tag \@var for variable \$payPalInstaller contains unknown class SwagPaymentPayPalUnified\\Setup\\FirstRunWizardInstaller#'
        - # Seem to be issues, but need tests to verify changes there
            message: '#Negated boolean expression is always false#'
            path: 'engine/Shopware/Core/sArticles.php'
        -
            message: '#Comparison operation ">=" between int<1, max> and 1 is always true#'
            path: 'engine/Shopware/Core/sArticles.php'
