includes:
    #- ../vendor/phpstan/phpstan-phpunit/rules.neon
    #- ../vendor/phpstan/phpstan-phpunit/extension.neon
    #- ../vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 2

    autoload_directories:
        - %currentWorkingDirectory%/var/cache
        - %currentWorkingDirectory%/engine/Library
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php

    paths:
        #- %currentWorkingDirectory%/tests/
        - %currentWorkingDirectory%/engine/Shopware
    excludes_analyse:
        - %currentWorkingDirectory%/engine/Shopware/Plugins
        - %currentWorkingDirectory%/engine/Shopware/Configs/Default.php
        - %currentWorkingDirectory%/engine/Shopware/Components/Document.php
        - %currentWorkingDirectory%/engine/Shopware/Controllers/Backend/Order.php
        - %currentWorkingDirectory%/engine/Shopware/Models/Order/Repository.php
        - %currentWorkingDirectory%/engine/Shopware/Models/Order/Document/Document.php

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#class Redis#'

        - '#Return typehint of method Shopware\\Models\\[a-zA-Z0-9\\_]+::getAttribute\(\) has invalid type Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+#'
        - '#Return typehint of method Shopware\\Models\\[a-zA-Z0-9\\_]+::setAttribute\(\) has invalid type Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+#'
        - '#Parameter \$attribute of method Shopware\\Models\\[a-zA-Z0-9\\_]+::setAttribute\(\) has invalid typehint type Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+#'
        - '#Property Shopware\\Models\\[a-zA-Z0-9\\_]+::\$attribute has unknown class Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+ as its type#'
        - '#Class Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+ not found#'
        - '#Instantiated class Shopware\\Models\\Attribute\\[a-zA-Z0-9\\_]+ not found#'
        - '#Shopware\\Components\\ContainerAwareEventManager::__construct\(\) does not call parent constructor from Enlight_Class#'
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Method Symfony\\Component\\DependencyInjection\\LazyProxy\\PhpDumper\\DumperInterface\:\:getProxyFactoryCode\(\)#'
        - '#Shopware_Components_Snippet_Manager::__construct\(\) does not call parent constructor from Enlight_Components_Snippet_Manager#'
        - '#Call to method [a-zA-Z\\]+\(\) on an unknown class Shopware\\Models\\Attribute\\[a-zA-Z\\]+#'
        - '#does not call parent constructor from Enlight_Class#'
        - '#Binary operation "|=" between string and string results in an error.#'
        - '#does not call parent constructor from Elasticsearch#'

    reportUnmatchedIgnoredErrors: false
