header: |
  SHOPWARE Developer Version

         _
        | |
     ___| |__   ___  _ ____      ____ _ _ __ ___
    / __| '_ \ / _ \| '_ \ \ /\ / / _` | '__/ _ \
    \__ \ | | | (_) | |_) \ V  V / (_| | | |  __/
    |___/_| |_|\___/| .__/ \_/\_/ \__,_|_|  \___|
                    | |
                    |_|

paths:
  - dev-ops/common/actions

templates:
  - source: "dev-ops/common/templates/build.properties"
    destination: "build/build.properties"
  - source: "dev-ops/common/templates/behat.yml.dist"
    destination: "tests/Mink/behat.yml"

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_NAME: "shopware"
  DB_PORT: "3306"
  SW_HOST: "localhost:8088"
  SW_BASE_PATH: ""
