header: |
  SHOPWARE Developer Version

         _
        | |
     ___| |__   ___  _ ____      ____ _ _ __ ___
    / __| '_ \ / _ \| '_ \ \ /\ / / _` | '__/ _ \
    \__ \ | | | (_) | |_) \ V  V / (_| | | |  __/
    |___/_| |_|\___/| .__/ \_/\_/ \__,_|_|  \___|
                    | |
                    |_|

paths:
  - dev-ops/common/actions

templates:
  - source: "dev-ops/common/templates/build.properties"
    destination: "build/build.properties"
  - source: "dev-ops/common/templates/behat.yml.dist"
    destination: "tests/Mink/behat.yml"

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_NAME: "shopware"
  DB_PORT: "3306"
  SW_HOST: "localhost:8088"
  SW_BASE_PATH: ""
  PHP_VERSION: "7.2"
  MYSQL_VERSION: "5.7"
  ELASTICSEARCH_IMAGE: "docker.elastic.co/elasticsearch/elasticsearch"
  ELASTICSEARCH_VERSION: "6.7.2"
  CONTAINER_SUFFIX: "-dev"

dynamic:
  USERKEY: echo "$(id -u):$(id -g)"
  APP_ID: docker-compose ps -q appserver
  MYSQL_ID: docker-compose ps -q app_mysql

environments:
  docker:
    paths:
      - "dev-ops/docker/actions"
    templates:
      - source: "dev-ops/docker/docker-compose.override.yml"
        destination: "./docker-compose.override.yml"
      - source: "dev-ops/docker/templates/Dockerfile-app"
        destination: "dev-ops/docker/containers/app/Dockerfile"
      - source: "dev-ops/docker/templates/Dockerfile-mysql"
        destination: "dev-ops/docker/containers/mysql/Dockerfile"
      - source: "dev-ops/docker/templates/Dockerfile-elasticsearch"
        destination: "dev-ops/docker/containers/elasticsearch/Dockerfile"

  bamboo:
    paths:
      - "dev-ops/bamboo.shopware.com/actions"
    const:
      SW_HOST: "appserver"
      SW_BASE_PATH: ""
    templates:
      - source: "dev-ops/common/templates/build.properties"
        destination: "build/build.properties"
      - source: "dev-ops/common/templates/behat.yml.dist"
        destination: "tests/Mink/behat.yml"
      - source: "dev-ops/docker/templates/Dockerfile-app"
        destination: "dev-ops/docker/containers/app/Dockerfile"
      - source: "dev-ops/docker/templates/Dockerfile-mysql"
        destination: "dev-ops/docker/containers/mysql/Dockerfile"
      - source: "dev-ops/docker/templates/Dockerfile-elasticsearch"
        destination: "dev-ops/docker/containers/elasticsearch/Dockerfile"
      - source: "dev-ops/bamboo.shopware.com/docker-compose.override.yml"
        destination: "docker-compose.override.yml"
    dynamic:
      REVISION: echo "${SW_REVISION}"
      PARENT_REVISION: echo "${SW_PARENT_REVISION}"
      OCULAR_ACCESS_TOKEN: echo "${OCULAR_ACCESS_TOKEN}"
