<?php
return [
    'db' => [
        'username' => '%db.user%',
        'password' => '%db.password%',
        'dbname' => '%db.database%',
        'host' => '%db.host%',
        'socket' => '%db.socket%',
        'port' => '%db.port%'
    ]
];
