/** GENERAL */
html, body {
    background: url("../images/background.png") repeat;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    width: 100%;
}
select { width: 100% }
label { font-weight: bold }
label.allowBlank { font-weight: normal }
.hidden { display: none }

/** STRUCTURE */
.info {
    margin: 40px auto 25px;
    position: relative;
    width: 1000px;
}
.info .logo {
    display: block;
}
.info .meta {
    color: #8996A6;
    position: absolute;
    right: 0; top: 0;
    text-shadow: 0 1px 0 #fff;
    text-align: right;
}
.wrapper {
    margin: 0 auto 50px;
    width: 1000px;
    background: #fff;
    border: 1px solid #afcae0;

    /** CSS3 border radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    /** CSS3 box shadow */
    -webkit-box-shadow: 0 0 8px #93b1ca;
    -moz-box-shadow: 0 0 8px #93b1ca;
    -ms-box-shadow: 0 0 8px #93b1ca;
    -o-box-shadow: 0 0 8px #93b1ca;
    box-shadow: 0 0 8px #93b1ca;
}

header, section, footer {
    padding: 0 25px;
    display: block;
}
header {
    padding: 25px 25px 0;
    display: block;
    background: #e9f0f8;
    border-bottom: 1px solid #afcae0;
    margin: 0 0 20px;

    /** CSS3 border radius */
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

/** CONTENT */
section.content {
    overflow: hidden;
    margin: 0 25px;
    padding: 0 0 25px;
}
section.content > .inner-container > div { overflow: hidden }

/** HEADER **/
header ul.navi-tabs {
    list-style: none;
    border: 0 none;
    margin: 0;
}
header ul.navi-tabs li {
    margin: 0 10px 0 0;
    padding: 0 10px;
    list-style: none;
    float: left;
    display: inline-block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAIAAADHFsdbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAP0lEQVQImW3MMQrAMBADwT39/7vBhePbNMGYkG5YkFADBMjpb1MCFeifTsBtNfJ+yXY3qSJoPDa9Vua8c43xAKWMLPAJ6dhEAAAAAElFTkSuQmCC") repeat-x;
    border: 1px solid #d1d3d7;
    border-bottom: 0 none;
    display: block;
    height: 36px; line-height: 36px;
    position: relative;
    z-index: 1;
    top: 1px;

    text-decoration: none;
    color: #8996A6;
    outline: none;

    /** CSS3 border radius */
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
header ul.navi-tabs li a {
    text-decoration: none;
    color: #8996A6;
    outline: none;
}
header ul.navi-tabs li:last-child {
    margin-right: 0;
}

/** Active navigation */
header ul.navi-tabs li.active {
    height: 37px;
    border-color: #afcae0;
    background: #fff;
}
header ul.navi-tabs li.active a {
    color: #3A495C;
    font-weight: bold;
}
/** Disabled navigation */
header ul.navi-tabs li.disabled {
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
}
/** Buttons */
.primary {
    display: inline-block;
    padding: 0 22px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAARElEQVQIHQXBwQkCUQDFwBCvW6N1aw0LnkX4L874fP/8fOfrPrLkYGEHCznJcEuGDDvZkCHDliw7SFjIQZYMC1le1+MP3Nox5b4vUE4AAAAASUVORK5CYII=") repeat-x;
    text-shadow: 0 1px 0 #0B489D;
    color: #fff;
    font-weight: bold;
    height: 28px; line-height: 28px;
    border: 1px solid #1067e5;

    /** CSS3 box shadow */
    -webkit-box-shadow: 0 1px 4px #888888, -1px 0 0 0 #2DAFF3 inset, 1px 0 0 0 #2DAFF3 inset;
    -moz-box-shadow: 0 1px 4px #888888, -1px 0 0 0 #2DAFF3 inset, 1px 0 0 0 #2DAFF3 inset;
    -ms-box-shadow: 0 1px 4px #888888, -1px 0 0 0 #2DAFF3 inset, 1px 0 0 0 #2DAFF3 inset;
    -o-box-shadow: 0 1px 4px #888888, -1px 0 0 0 #2DAFF3 inset, 1px 0 0 0 #2DAFF3 inset;
    box-shadow: 0 1px 4px #888888, -1px 0 0 0 #2DAFF3 inset, 1px 0 0 0 #2DAFF3 inset;

    /** CSS3 border radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    /** CSS3 transition */
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -ms-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
}
.primary:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAPElEQVQIW2MIePSH6d1vBqY77/4zMfxnYGL4B6H//wNiEP8vlP6HwP9ANEzs/3+4OEQPzBxkNRA5Lk5GANkSKPkMcPhVAAAAAElFTkSuQmCC") repeat-x;
    border-color: #0b85f5;
    color: #fff;
    text-decoration: none;
}

.secondary {
    display: inline-block;
    padding: 0 22px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAARUlEQVQIHQXBMQrCAAAEwbCdkP8/zdLGLiBYKnK7znB/PPl8f1yvNypTMqZYuGEHbqzQcGNGiskUPUixUHGiYZJhcZ63P5JXTiD7nrAzAAAAAElFTkSuQmCC") repeat-x;
    text-shadow: 0 1px 0 #3F505D;
    color: #fff;
    font-weight: bold;
    height: 28px; line-height: 28px;
    border: 1px solid #647589;

    /** CSS3 box shadow */
    -webkit-box-shadow: 0 1px 4px #999, #b4c0cb -1px 0 0px 0 inset, #b4c0cb 1px 0 0px 0 inset;
    -moz-box-shadow: 0 1px 4px #999, #b4c0cb -1px 0 0px 0 inset, #b4c0cb 1px 0 0px 0 inset;
    -ms-box-shadow: 0 1px 4px #999, #b4c0cb -1px 0 0px 0 inset, #b4c0cb 1px 0 0px 0 inset;
    -o-box-shadow: 0 1px 4px #999, #b4c0cb -1px 0 0px 0 inset, #b4c0cb 1px 0 0px 0 inset;
    box-shadow: 0 1px 4px #999, #b4c0cb -1px 0 0px 0 inset, #b4c0cb 1px 0 0px 0 inset;

    /** CSS3 border radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    /** CSS3 transition */
    -webkit-transition: background linear 0.3s;
    -moz-transition: background linear 0.3s;
    -ms-transition: background linear 0.3s;
    -o-transition: background linear 0.3s;
    transition: background linear 0.3s;
}
.secondary:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAcCAIAAAAvP0KbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAARElEQVQImV2LIQoCABDAjhUR//87m00Mgk25zaAWwxgMNufLledrud0faB/6WdxoYvfbi12pUFkjw/l7lRpUbKg4HQ9vhzxMTTi3KvYAAAAASUVORK5CYII=") repeat-x;
    border-color: #7189a6;
    color: #fff;
    text-decoration: none;
}
.actions .right {
    float: right;
}
table.table .success, table.table .success *:not(i) { background: #DFF0D8 !important; color: #468847; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
table.table .error, table.table .error *:not(i) { background: #F2DEDE !important; color: #B94A48; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
table.table .warning, table.table .warning *:not(i) { background: #FCF8E3 !important; color: #C09853; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
table.table .notice-text td {
    color: #666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 11px;
    font-style: italic;
}
table.table .notice-text td:hover { background: transparent }

.overlay {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background: #000;
}

input.inline-error {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    border-color: #B94A48;
    color: #B94A48;
}
input.inline-error:focus {
    border-color: #953B39;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #D59392;
}
input.inline-success {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

    border-color: #468847;
    color: #468847;
}

input.inline-success:focus {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #7ABA7B;

    border-color: #356635;
}

.progress-container {
    background: #e9f0f8;
    border: 1px solid #afcae0;
    padding: 35px 20px 20px;
    margin: 0 150px 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.progress-container .progress {
    border-color: #afcae0;
    background: #d2d9e1;
}
.progress-container .progress-text, .counter-text {
    text-align: center;
    font-size: 12px;
    color: #7e8b9b;
    text-shadow: 0 1px 0 #fff;
}
.progress-actions {
    margin: 20px 0 0;
}
