/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Timefield
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
table.#{$prefix}form-trigger-wrap {

	/** Date field - Normal state */
	.#{$prefix}form-time-trigger {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAACm0lEQVQ4T52TzU7iUBiGvSkTL8GdK3euvAB3M9zBaOYCXA2YqOMvOCSAqAc4VRD5tVA6HQbQQmhAChQKLciPOq+2kiaTWTgnb06+7zvP0x6aMNfX9IpU+1DKUi1/J85NJlNNH3w0vb429/Ly8vTx9fz8/GpOp0/WKEonl+MjkWtCAggKtBhaGViv5mQ6NTIYDnM8TwKBbDYry3LtbaHIZDKEEBwBMMh3820NBoNYLHZ5eQma47hoNBp8WyjQSlKVYRgAwACb5ngyQfBgSqkoiqFQkDBMnOcvKK23278xubrCsFQqBoJBYOOZORqPG7Ls9fnKZdHvPw1cX6fv76V22263N1UVQU1vojjK5/MejwewaT6ORolkMh6PMQx1+3ypuztBkiBsbm4aJpKv1bxnZ5QGKQ0BNs3h48jvP8NlnM5jmkrCNLKysjKrkRjHAUilkoBNE1/s6OiIZVmHw54sFAwO71laWpq9s97p/KxUAITDYcCmqQ+Ge/v7qVQKPyxdKhna/Py8zWZbXFxcXl5eXV1dW1tzezwA8IUBm2ZfH7hOTlg2c3jovMlyhlkSxYWFBexGiqLI/8oDYJgrwO+mplPK+E79hNDT8yBfreJuhjy7raJpwVD4/DzkdP4AbJpqX7svV+yOrdtb3usNJNhco9udOYiq64JQxFE8nvlmdwA2zW6vj1yQwM7ufjZbJOQmFudqDy1V03uaXm+0EgkeQ5YtbG/vAQNsmh21hzzIzb2DA8fWriBI6XQxEuEISSAo0ApC1bG1AwAYYNNUuqqRekM+drnWN7663aRQaM6CFkMcATBI02wpXWtyvLC98/3L+sanzzYEBVoMrYxpNpVO6680LbtRNC1D05RbitxWXncj/6otMc3/WPhz/wEfZzm5mLlxIAAAAABJRU5ErkJggg==") no-repeat;
	}
	
	/** Date field - Hover state */
	.#{$prefix}form-time-trigger:hover, .#{$prefix}form-time-trigger:active {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAACk0lEQVQ4T52Pz0/aYByH/adM/BO8efLmictu7rR52GHJDkt22WULizrUDDejEGf4oUJb2oH8LpbWWjt+FUcFBRGQgjiQ7aN9Q7jimyfk+77v86QvU22jc66XJ6Kol9W8NtXvDzrdu0m5bRtT/561hsPhY/kwHI7TaDbl09NwJEI/LQzY4nDcQfVY9gcPJt273oksUzQtimK1Wi0/LQzptEhRNK4gmCYpe/0H0O72IrE49ysIW5KkSCTCPC0M2Op6ieU4CNAgk7J7PwC8IDIsp2laIMBQHBeXZT/LVur13zgJBnGYy2UpmoEGmZRGr39xWXN5vMWidnCwT4fDqUJBr9dtNlut1QKY2WgEV6qq7rk8kEnZ6v4Nx/loLMZx7J7Xy+fziq4jsFqtZgnUctlzeMiyDBMIQCZlw7h3eQ/xGKfTwfJJlCYLCwujGcQkCQLPJyGTsnbbs285BEFYW7MlMxnTw3fm5uZG36w0Gqfn5xBCoRBkUl42u+v2LZ7n8cdSuZyZTU9PLy0tzc7Ozs/PWyyWxcXFPbcbAsdxkEl5cdPZ3NkVhPT2tjMqSmaZ07SZmRn8mmQ1TT5TIXBcEDIp/1wbLj/r9hxQFLvvY+RSCW8z49FrbwyDCYR8vsCO4ydkUhaq7ZRa/Lyyfnwsezx0Qji5ajZHDWh1OoqSxVU8nv60vAaZlJlKC+y4/V83fohilqKisbhUvrxuGZ1bo1O5uk4kZBwKQmZ1/Ts0yKQ8u2gCsXD1ZWPLumpXFD2Vyh4dSRSVABiwVZSSdfUbBGiQSXlSujFJ5SrLm4437z44d/2ZTG0EtjjEFQTTJKVQrI/ji8kfV+yv375/8fIVwIAtDscdUibztUkhZTRbnRRSPmP1B4P/5OQr1iE5nNgAAAAASUVORK5CYII=") no-repeat;
	}
}

.#{$prefix}form-trigger-wrap-focus {

	/** Date field style - Focus state */
	.#{$prefix}form-time-trigger, .#{$prefix}form-time-trigger:hover, .#{$prefix}form-time-trigger:active {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAACk0lEQVQ4T52Pz0/aYByH/adM/BO8efLmictu7rR52GHJDkt22WULizrUDDejEGf4oUJb2oH8LpbWWjt+FUcFBRGQgjiQ7aN9Q7jimyfk+77v86QvU22jc66XJ6Kol9W8NtXvDzrdu0m5bRtT/561hsPhY/kwHI7TaDbl09NwJEI/LQzY4nDcQfVY9gcPJt273oksUzQtimK1Wi0/LQzptEhRNK4gmCYpe/0H0O72IrE49ysIW5KkSCTCPC0M2Op6ieU4CNAgk7J7PwC8IDIsp2laIMBQHBeXZT/LVur13zgJBnGYy2UpmoEGmZRGr39xWXN5vMWidnCwT4fDqUJBr9dtNlut1QKY2WgEV6qq7rk8kEnZ6v4Nx/loLMZx7J7Xy+fziq4jsFqtZgnUctlzeMiyDBMIQCZlw7h3eQ/xGKfTwfJJlCYLCwujGcQkCQLPJyGTsnbbs285BEFYW7MlMxnTw3fm5uZG36w0Gqfn5xBCoRBkUl42u+v2LZ7n8cdSuZyZTU9PLy0tzc7Ozs/PWyyWxcXFPbcbAsdxkEl5cdPZ3NkVhPT2tjMqSmaZ07SZmRn8mmQ1TT5TIXBcEDIp/1wbLj/r9hxQFLvvY+RSCW8z49FrbwyDCYR8vsCO4ydkUhaq7ZRa/Lyyfnwsezx0Qji5ajZHDWh1OoqSxVU8nv60vAaZlJlKC+y4/V83fohilqKisbhUvrxuGZ1bo1O5uk4kZBwKQmZ1/Ts0yKQ8u2gCsXD1ZWPLumpXFD2Vyh4dSRSVABiwVZSSdfUbBGiQSXlSujFJ5SrLm4437z44d/2ZTG0EtjjEFQTTJKVQrI/ji8kfV+yv375/8fIVwIAtDscdUibztUkhZTRbnRRSPmP1B4P/5OQr1iE5nNgAAAAASUVORK5CYII=") no-repeat !important;
	}
}