input[type="text"], input[type="search"], input[type="password"], input[type="email"] {
	@boxShadowColor: lighten(rgba(red(@lightTextColor), green(@lightTextColor), blue(@lightTextColor), .9), 10%);
	.appearance();
	.border-radius();
	.box-sizing();
	.unitize-padding(10, 10, 10, 10, 16);
	.box-shadow(inset 0 1px 1px @boxShadowColor);
	background: @lightGradientEnd;
	border: 1px solid @borderColor;
	color: @primaryTextColor;

	&:focus {
		outline: none;
		border-color: @primaryColor;
		background: #fff;
	}
}