/** Main navigation of the storefront */
.sidebar-main {
	.unitize-width(300, 16);
	.translate(-300px, 0);
	position: absolute;
	left: 0; top: 0;
	height: 100%;
}

// Will be used for the off canvas animation
.page-wrap {
	.transition(all, 0.25s, ease-in-out);
	.transform-style(preverse-3d);
    min-height: 100%;

	// Disables the transition, so the user can slide
	&.js--no-transition {
		.transition(none, 0s, linear);
	}

	// Overlay for the whole page except the off canvas menu
	&::after {
		.transition(opacity, 0.25s, ease-in-out);
		opacity: 0;
		content: '';
		background: rgba(0, 0, 0, .4);
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

// State - Menu left open
.js--menu-left--open {
    .sidebar-main {
        .translate(0, 0);
    }
	.page-wrap {
		.translate(300px, 0);

		&::after {
			height: 100%;
			width: 100%;
			opacity: 1;
		}
	}
}
// State - Menu right open
.js--menu-right--open {
	.page-wrap {
		.translate(-300px, 0, 0);

		&::after {
			height: 100%;
			width: 100%;
			opacity: 1;
		}
	}
}
