<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="./Functional/bootstrap.php"
         colors="true"
         backupGlobals="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
  <coverage>
    <include>
      <directory suffix=".php">../engine/Shopware/</directory>
    </include>
    <exclude>
      <directory>../engine/Shopware/Plugins/Community</directory>
      <directory>../engine/Shopware/Components/Xml</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Shopware_AllTests">
      <directory>./Unit</directory>
      <directory>./Functional</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>disable</group>
    </exclude>
  </groups>
</phpunit>
