.content--breadcrumb {
	display: none;
}

@media screen and(min-width: @tabletViewportWidth) {
    .content--breadcrumb {
        .clearfix();
        .unitize(14, 16, font-size);
        .unitize-padding(10, 0);
        display: block;
        border-bottom: 1px solid @borderColor;

        // Entry styling
        .breadcrumb--entry, .breadcrumb--separator {
            .unitize-margin(0, 8);
            float: left;
            list-style: none;
        }

        // Separator
        .breadcrumb--separator {
            .unitize(8, 16, font-size);
            .unitize(5, 16, margin-top);
        }

        // Link
        .breadcrumb--link {
            color: @primaryTextColor;
        }

        // Active link
        .is--active .breadcrumb--link {
            color: @primaryColor;
        }
    }
}