.product--table {

    // Basic header styling
    .table--header {
        border-bottom: 1px solid @borderColor;

        .table--column {
            .unitize(16, 16, font-size);
            font-weight: bold;
            color: #000;
        }
    }

    // Basic layout
    .table--column {
        width: 15%;
    }

    .column--product {
        width: 52%;
    }
    .column--actions {
        width: 3%
    }
}