// General
.forms--content {
    width: 100%;

    .forms--field {
	.unitize(5, 16, margin-bottom);
	width: 100%;
    }

    input {
	width: 100%;
    }

    textarea {
	width: 100%;
    }

    .btn--primary {
	float: right;

	& [class^=icon] {
	    .unitize(10, 16, font-size);
	    .unitize-margin(-2, 0, 0, 16);
	}
    }

    .buttons {
	.clearfix();
    }

}