* {
    .box-sizing();
}
html, body { overflow-x: hidden }
body {
	font: @bodyFontStack;
	color: @primaryTextColor;
	background: @primaryBackgroundColor;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

// All images should be responsive by default
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

a {
	.transition(color);
	color: @primaryColor;
	text-decoration: none;

	&:hover {
		color: darken(@secondaryColor, 10%);
	}
}
ul {
	margin: 0;
	padding: 0;
}

// Hide ajax loader by default
.ajax-loader { display: none }

// @debug
.content {
	padding: 1em 0;
}

::-moz-placeholder { color: @lightTextColor }
::-webkit-input-placeholder { color: @lightTextColor }
:-ms-input-placeholder { color: @lightTextColor }

@media screen and (min-width: @desktopViewportWidth) {
	.page-wrap {
		.unitize(14, 16, font-size);
	}
}