* {
    .box-sizing();
}
html, body { overflow-x: hidden }
body {
	font-family: @bodyFontStack;
	color: @primaryTextColor;
	background: @primaryBackgroundColor;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

// All images should be responsive by default
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

a {
	.transition(color);
	color: @primaryColor;
	text-decoration: none;

	&:hover {
		color: darken(@secondaryColor, 10%);
	}
}
ul {
	margin: 0;
	padding: 0;
}

.content {
	.unitize-padding(0, 5, 16);
}

// Hide ajax loader by default
.ajax-loader { display: none }

// Global Modifier
.is--rounded { .border-radius(3px); }

.is--block { display: block !important; }
.is--inline { display: inline !important; }
.is--inline-block { display: inline-block !important; }
.is--hidden { display: none !important; }
.is--invisible { visibility: none !important; }

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-underline { text-decoration: underline !important; }
.font-bold { font-weight: bold !important; }

.left { float: left; }
.right { float: right; }

::-moz-placeholder { color: @lightTextColor }
::-webkit-input-placeholder { color: @lightTextColor }
:-ms-input-placeholder { color: @lightTextColor }

@media screen and (min-width: @desktopViewportWidth) {
	.page-wrap {
		.unitize(14, 16, font-size);
	}
}
