// Listing main content
.listing--content {
    .unitize-margin(20, 0);
    margin-left: auto;
    margin-right: auto;
}

// Category banner
.banner--container {
    .unitize-margin(0, 0, 20, 0);
}

// Listing teaser text
.category--teaser {
    .unitize-margin(0, 0, 20, 0);

    .category--preview-text,
    .category--full-text {
        display: none;

        &.is--active {
            display: block;
        }
    }

    .category--show-more {
        .unitize-margin(10, 0, 0, 0);
        display: inline-block;
        cursor: pointer;
    }
}

// Topseller
.topseller-slider {
    .clearfix();
}

// Vendor information
.vendor--info {
    .clearfix();
    .unitize-margin(0, 0, 20, 0);

    .hero--image {
        .unitize-margin(0, 0, 10, 0);
        margin-left: auto;
        margin-right: auto;
    }

    .hero--text {
        .unitize-margin(0, 0, 20, 0);
    }

    .hero--link {
        .unitize-margin(0, 0, 20, 0);
        float: right;
    }
}

// Listing actions
.action--filter-btn {
    .unitize-margin(10, 0);

    .filter--trigger {
        display: block;
    }
}

// Filter options
.action--filter-options {
    display: none;

    &.ist--active {
        display: none;
    }
}

// Sorting options
.action--sort {
    .unitize-width(220);
    display: inline-block;
    float: left;

    .sort--label {
        display: none;
    }

    .sort--select {
        .unitize-width(220);
    }
}

// Layout changer
.action--change-layout {
    .unitize-width(76);
    display: inline-block;
    float: right;
    white-space: nowrap;

    .change-layout--label {
        display: none;
    }

    .action--link {
        .unitize-width(38);
        .unitize-height(46);
        .unitize(12, 16, font-size);
        .unitize(46, 16, line-height);
        .linear-gradient(#ffffff, #edeff1);
        display: inline-block;
        font-family: 'shopware';
        text-align: center;
        color: @primaryTextColor;
        border: 1px solid @borderColor;
        float: left;

        &:before {
            content: "\e606";
        }

        &:hover {
            color: @primaryColor;
        }

        &.link--table-view {
            .border-radius-multi(3px, 0, 0, 3px);
            border-width: 1px 0 1px 1px;
        }

        &.link--list-view {
            .border-radius-multi(0, 3px, 3px, 0);
        }

        .action--link-text {
            display: none;
        }
    }
}

// Items per page filter
.action--per-page,
.listing--paging {
    display: none;
}

// Listing product box
.listing {
    .product--box {
        .unitize-margin(10, 0, 10, 0);
    }

    // Product image
    .box--image {
        .unitize-padding(10, 0);
        display: block;
        border-bottom: 1px solid @borderColor;

        .image--element {
            display: block;
            text-align: center;

            img {
                margin: 0 auto;
            }
        }
    }

    // Product title
    .product--title {
        .unitize(16, 16, font-size);
        .unitize-margin(0, 0, 10, 0);
        display: inline-block;
        color: @darkTextColor;
        font-weight: bold;

        &:hover {
            color: @primaryColor;
        }
    }

    // Product description
    .product--description {
        display: none;
    }

    // Product price info
    .product--price {
        .unitize(24, 16, line-height);

        &.price--default {
            .unitize(20, 16, font-size);
            .unitize-margin(10, 0, 0, 0);
            color: @primaryColor;
        }

        &.price--unit {
            .unitize(12, 16, font-size);
            .unitize(16, 16, line-height);
            color: @primaryTextColor;
        }

        &.price--discount {
            .content--default {
                color: #990000;
            }

            .content--discount {
                .unitize(12, 16, font-size);
                .unitize(14, 16, line-height);
                color: @primaryTextColor;
                font-weight: normal;
                text-decoration: line-through;
            }
        }
    }

    // Product actions
    .product--actions {
        .unitize-margin(10, 0, 0, 0);
    }

    // Product action button
    .product--action {

        &.action--buynow {
            display: none;
        }

        &.action--more {
            display: block;
        }
    }
}

// Discount Badge
.badge--discount {
    .unitize-padding(2, 10);
    .unitize(20, 16, font-size);
    .unitize(20, 16, line-height);
    .unitize(20, 16, top);
    .unitize(-1, 16, left);
    .border-radius-multi(0, 3px, 3px, 0);
    position: absolute;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 1px 1px #5f0000;
    background: #990000;
    border: 1px solid #850000;
}

// Listing filter options
.filter--container {
    .unitize-padding(0, 10);
}

// Filter headline
.filter--headline {
    .unitize(16, 16, font-size);
}

// Filter group
.filter--list {
    list-style: none;
}

// Filter option
.filter--entry {
    .unitize-padding(10, 20);
    .unitize(16, 16, font-size);
    display: block;
    border-bottom: 1px solid @lightDarkBorderColor;

    &:last-child {
        border: 0 none;
    }
}

// Filter action link
.filter--link {
    color: @primaryTextColor;

    &:hover {
        color: @primaryColor;
    }
}

// Table view
@media screen and(min-width: @tabletViewportWidth) {

    .listing--content {
        .unitize-margin(30, 0);
        margin-left: auto;
        margin-right: auto;
    }

    .vendor--info {
        .hero--image {
            .unitize-margin(0, 20, 20, 0);
            float: left;
        }

        .hero--text {
            .unitize-margin(0, 0, 10, 0);
        }
    }

    .listing--actions {
        .unitize-margin(0, 0, 10, 0);
    }

    .action--filter-btn {
        .unitize-width(190);
        .unitize-margin(0, 20, 10, 0);
        float: left;

        .filter--trigger {
            .unitize(24, 16, line-height);
        }
    }

    .action--filter-options {
        .unitize-padding(20, 20);
        display: none;
        border: 1px solid @borderColor;
        background: @primaryBackgroundColor;
        clear: both;

        .filter--container {
            .clearfix();
            padding: 0;
        }

        .filter--group {
            .unitize-height(38);
            width: 32%;
            margin: 0 2% 2% 0;
            position: relative;
            float: left;

            &:nth-child(3n+3) {
                margin: 0 0 2% 0;
            }
        }

        .filter--header {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 11;

            &.is--active {
                z-index: 15;
            }
        }

        .filter--content {
            .unitize(38, 16, top);
            width: 100%;
            position: absolute;
            left: 0;
            z-index: 10;

            &.is--active {
                z-index: 14;
            }
        }
    }

    .listing--container {
        .clearfix();
    }

    .listing {
        .product--box {
            width: 49%;
            margin: 0 2% 2% 0;
            float: left;

            &:nth-child(even) {
                margin: 0 0 2% 0;
            }

            .panel--body {
                .unitize-height(300);
            }

            .box--image {
                .unitize-height(140);
                .unitize(140, 16, line-height);
            }

            .product--title {
                .unitize-margin(0, 0, 10, 0);
                .unitize(21, 16, font-size);
                .unitize(24, 16, line-height);
            }

            .product--price {
                &.price--default {
                    .unitize(10, 16, left);
                    .unitize(10, 16, bottom);
                    position: absolute;
                }

                &.price--unit {
                    .unitize-height(24px);
                    .unitize(24, 16, line-height);
                    .unitize(14, 16, font-size);
                }
            }

            .product--actions {
                display: none;
            }
        }
    }
}

// Desktop view
@media screen and(min-width: @desktopViewportWidth) {

    .category--teaser {
        .hero--headline {
            .unitize(24, 16, font-size);
        }
    }

    .listing--content {
        .unitize-padding(45, 45, 45, 0);
        .unitize-margin(0, 0);
        width: 78%;
        float: right;
    }

    .listing--actions {
        .unitize-padding(10, 0, 0, 0);
        .border-radius(3px);
        border: 1px solid @borderColor;
        background: @primaryBackgroundColor;
    }

    .action--filter-btn {
        .unitize-margin(0, 0, 10, 10);
        width: 12%;
        margin-right: 4%;

        .filter--trigger {
            .unitize-padding(9, 16);
            .unitize(14, 16, font-size);
            .unitize(14, 16, line-height);
        }
    }

    .action--filter-options {
        background: #fff;
        border-width: 1px 0 0 0;
    }

    .action--sort {
        .unitize-margin(0, 0, 10, 10);
        width: 34%;

        .sort--label {
            .unitize(34, 16, line-height);
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }

        .sort--select {
            .unitize-width(200);
            vertical-align: top;
        }
    }

    .action--change-layout {
        width: 16%;
        margin-left: 4%;
        float: left;

        .change-layout--label {
            .unitize(34, 16, line-height);
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
            float: left;
        }

        .action--link {
            .unitize-height(32);
            .unitize(32, 16, line-height);
        }
    }

    .action--per-page {
        .unitize-margin(0, 10, 0, 0);
        width: 24%;
        display: inline-block;
        text-align: right;
        float: right;

        .per-page--label {
            .unitize(34, 16, line-height);
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }

        .per-page--select {
            .unitize-width(80);
            vertical-align: top;
        }
    }

    .listing--paging {
        .unitize-padding(10, 10);
        display: block;
        border-top: 1px solid @borderColor;
        float: none;
        clear: both;

        .paging--label {
            .unitize-margin(0, 10, 0, 0);
            font-weight: bold;
        }

        .pagination--display {
            .unitize(30, 16, line-height);
            float: right;
        }
    }

    // Listing views
    .listing {
        .product--box {
            width: 100%;
            margin: 0 0 2% 0;
            float: left;
        }

        // One column listing view (List-View)
        &.listing--listing-1col {
            .product--box {
                width: 100%;
                margin: 0 0 2% 0;

                .panel--body {
                    .clearfix();
                    .unitize-height(220);
                    .unitize-padding(0, 280, 0, 0);
                }

                .box--image {
                    .unitize-width(180);
                    .unitize-height(220);
                    .unitize-padding(20, 20);
                    .unitize-margin(0, 20, 0, 0);
                    .unitize(180, 16, line-height);
                    border-width: 0 1px 0 0;
                    border-style: solid;
                    border-color: @borderColor;
                    float: left;
                }

                .product--title {
                    .unitize-margin(20, 10, 10, 200);
                    display: block;
                }

                .product--description {
                    .unitize-margin(0, 0, 10, 200);
                    .unitize(14, 16, font-size);
                    .unitize(21, 16, line-height);
                    display: block;
                }

                .price--default {
                    position: relative;
                    top: 0;
                    left: 0;
                }

                .price--unit {
                    .unitize-margin(0, 10, 0, 200);
                }

                .product--actions {
                    .unitize-width(220);
                    .unitize-height(145);
                    .unitize-padding(10, 10);
                    .unitize(40, 16, top);
                    .unitize(20, 16, right);
                    display: block;
                    position: absolute;

                    .product--action {
                        .unitize-padding(3, 16);
                        .unitize-margin(0, 0, 10, 0);
                        .unitize(14, 16, font-size);
                        display: block;
                    }
                }
            }
        }

        // Two column listing view
        &.listing--listing-2col {
            .product--box {
                width: 49%;
                margin: 0 2% 2% 0;

                &:nth-child(even) {
                    margin: 0 0 2% 0;
                }

                &.is--active,
                &:hover {
                    .product--actions {
                        display: block;
                    }
                }

                .panel--body {
                    .clearfix();
                    .unitize-height(180);
                    .unitize-padding(0, 0);
                }

                .box--image {
                    .unitize-width(180);
                    .unitize-height(180);
                    .unitize-padding(20, 20);
                    .unitize-margin(0, 20, 0, 0);
                    .unitize(180, 16, line-height);
                    border-width: 0 1px 0 0;
                    border-style: solid;
                    border-color: @borderColor;
                    float: left;
                }

                .product--title {
                    .unitize-margin(20, 10, 10, 200);
                    display: block;
                }

                .price--default {
                    .unitize(200, 16, left);
                    .unitize(20, 16, bottom);
                }

                .price--unit {
                    .unitize-margin(0, 10, 0, 200);
                }

                .product--actions {
                    .unitize-height(180);
                    .unitize-padding(0, 0, 0, 180);
                    .unitize-margin(0, 0);
                    display: none;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;

                    .product--actions-inner {
                        .unitize-height(170);
                        .unitize-padding(20, 10);
                        background: #fff;
                    }

                    .product--action {
                        .unitize-padding(3, 16);
                        .unitize-margin(0, 0, 10, 0);
                        .unitize(14, 16, font-size);
                        display: block;
                    }
                }
            }
        }

        // Three column listing view
        &.listing--listing-3col {
            .product--box {
                width: 32%;
                margin: 0 2% 2% 0;

                &:nth-child(3n+3) {
                    margin: 0 0 2% 0;
                }

                &.is--active,
                &:hover {
                    .product--actions {
                        display: block;
                    }
                }

                .product--actions {
                    .unitize-height(145);
                    .unitize-padding(10, 10);
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #fff;

                    .product--action {
                        .unitize-padding(3, 16);
                        .unitize-margin(0, 0, 10, 0);
                        .unitize(14, 16, font-size);
                        display: block;
                    }
                }
            }
        }

        // Four column listing view (Grid-View)
        &.listing--listing {
            .product--box {
                width: 23.5%;
                margin: 0 2% 2% 0;

                &:nth-child(4n+4) {
                    margin: 0 0 2% 0;
                }

                &.is--active,
                &:hover {
                    .product--actions {
                        display: block;
                    }
                }

                .panel--body {
                    .unitize-height(300);
                }

                .product--title {
                    .unitize(16, 16, font-size);
                }

                .price--unit {
                    .unitize(11, 16, font-size);
                    .unitize(14, 16, line-height);
                }

                .product--actions {
                    .unitize-height(145);
                    .unitize-padding(10, 10);
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #fff;

                    .product--action {
                        .unitize-padding(3, 16);
                        .unitize-margin(0, 0, 10, 0);
                        .unitize(14, 16, font-size);
                        display: block;
                    }
                }
            }
        }
    }
}