.register--content {

    border: 0 none;
    .clearfix();

    .panel--title {
	.unitize(16,16, margin-bottom);
    }

    .register--button {
	float: right;
    }

    /* Personal Information Fieldset */
    .register--personal {

	.unitize-margin(0,32,0,32,16);
	border: none;
	.clearfix();

	}

    .register--company {

	.unitize-margin(0,16,16);
    }

    .field--select {
	.unitize-margin(8,0,16);
	width: 100%;
    }

    .register--field {
	width: 100%;
	.unitize(5, 16, margin-bottom);
    }

    .birthday--label {
	.clearfix();
    }

    .register--birthday{
	.unitize-margin(8,16,8,0,16,);
	width: 100%;
	float: left;
    }





    .register--address {

	.street {
	    margin-right: 2%;
	    width: 80%;
	    float: left;
	}

	.streetnumber {
	    width: 18%;
	    float: left;
	}

	.zipcode {
	    margin-right: 2%;
	    width: 28%;
	    float: left;
	}

	.city {
	    width: 70%;
	    float: left;
	    .clearfix();
	}

    }






}
