/**
 * Shopware 4.0
 * Copyright ï¿½ 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Menu
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
.shopware-ui-main-menu {
	border-bottom: 1px solid #a8bfd1;
    position: fixed !important;

    .#{$prefix}menu-body {
        border-top: 0 none;
        border-color: #fff;
        background: #e2eef5 !important;
    }
    .#{$prefix}toolbar-separator {
        border-bottom: 1px solid #c8d6de;
    }
    .#{$prefix}menu-item-link {
        margin: 0;
        padding: 6px 5px 6px 28px;
    }

    .#{$prefix}menu-item-text {
        color: #465C6B
    }

    // Active style
    .#{$prefix}menu-item-active .#{$prefix}menu-item-link {

        background: svg-linear-gradient(0%, 0%, 0%, 100%, (
                      svg-color-stop(#d0e5f5, 0%, 1),
                      svg-color-stop(#a6cdec, 100%, 1)
                    )) center center no-repeat transparent !important;

        // Using the box shadw as the second bottom border
        //@include single-box-shadow(#fff, 0, 1px, 0, 0);
        @include border-radius(2px);
        margin: 1px 0;
        padding: 4px 5px 3px 27px;
        color: #2f3d46;
        text-shadow: 1px 1px 1px #fff;
        border: 1px solid #87b7e3;
        
        .#{$prefix}menu-item-text {
	        color: #035a9b;
        }
    }

    // Deprecated styling
    .#{$prefix}deprecated-menu-item .#{$prefix}menu-item-text {
        font-style: italic;
    }
    .#{$prefix}deprecated-menu-item-active .#{$prefix}menu-item-link {

        background: svg-linear-gradient(0%, 0%, 0%, 100%, (
                      svg-color-stop(#ffdd7f, 0%, 1),
                      svg-color-stop(#febf04, 100%, 1)
                    )) center center no-repeat transparent !important;
        border: 1px solid #C66401;
    }
}
.#{$prefix}panel-window-managment {
    background: theme-image($theme, 'btn_taskbar_cap_fenster_tooltip_top.png') no-repeat !important;
    overflow: visible;
    
    /** Using a CSS pseudo element to place the arrow under the menu */
    &:after {
    	position: absolute;
    	bottom: -8px;
    	display: block;
    	content: '';
    	width: 124px;
    	height: 8px;
    	background: theme-image($theme, 'btn_taskbar_cap_fenster_tooltip_cap.png') no-repeat 0 bottom;
    }

    .#{$prefix}menu-body {
        padding: 3px 0 0;
        background: transparent !important;

        .#{$prefix}box-inner {
            width: 124px !important;
            background: theme-image($theme, 'btn_taskbar_cap_fenster_tooltip_mid.png') repeat-y;

            .#{$prefix}menu-item {
                margin: 0 1px !important;
                width: 120px !important;
            }

            // Active style
            .#{$prefix}menu-item-active .#{$prefix}menu-item-link {
                padding: 7px 2px 3px 33px;
                @include border-radius(0px);
                border: 0 none;
                background: #f8fcfe;
            }
        }
        .#{$prefix}menu-item-link, .#{$prefix}menu-item-text { color: #465c6b; }
    }
}