/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Viewport
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
@mixin shopware-viewport {
    .#{$prefix}body {
        margin: 0;
        padding: 0;
        border: 0 none;
        background: theme-image($theme, 'background-compressed.jpg') fixed center center;
        overflow: hidden;
        height: 100%;
    }

    body .shopware-menu .#{$prefix}main-logo-container {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAYAAAA2cze9AAABS0lEQVR42t2UMUsDMRSAb3OQgltBEbrZzSmrS4cu9QbrJBzoKlRw6CCiIFQ4QaF2KKViC4qok0NrqQ5a6CCK0CIB3VSwS/sjzvfgPSiheTeIS4eP5F3yviQv4ZwgCP6NMZFPLuaYGUBR6xgoC5EweQSoApqZXfbP6TvL9Si2jm9S4JiQ5DlAJzOlxkGleZXOnj5gvLp7domJLFdr+WccH+bzp+/DnJgkv5tO+6/Q3wG8794giQvhIhC7LKc4AywYTEly7W6W76Gf5TLQUT2E5Yn1Yrve6m4P1TsOyBfKu2KRBW0SXznEskX/JLfV/KL+VMEcUc5HNuSKcEJqPi/K+Rk22297JEpgDJeMshj0xdOJcpaZ1B47Jdwpyy2oMLmzf3K7tOFf13B32LZePgr0NOdIXsUxk+7715H4zhma5AIetZzEeBai4/FX/AWyHcjp9sDPwQAAAABJRU5ErkJggg==") no-repeat;
        z-index: 1;
		margin: -2px 0 0 -60px !important;
    }
    body.shopware-eb .shopware-menu .#{$prefix}main-logo-container {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAYAAAA2cze9AAABUElEQVR42t2UPUjDQBTHuzm4dHPoYrcuJVORLl0EXVSKQwfRoRA6FHQSpEMFP4YEDGiHkkHSoS39oJChUjpZB6HaQR1EO6mDOHQpBff4HryD47ikH+DS4Tfk/V/+uffP3fkcx/k35sR8cfM8AqQlxAEfEZfoq4C3OTW+ikTVnA26QuYFWc/6vqlNZJ6vdop3vX6O8fL+ZYC+x5szrdl5NoMJ/Qlr0LPmbU4vwvMKsMyxxMzJKMu08K5RY7Wx5gdarQljZrhMA2jMm+tWu0raEcXSmshcxLLvVdD9XpmXb7oWRjd15sPR7xmO75Z5JHn5iLn3P36is2a+4Jb59uH1MdZuH94M7Bu78syVvYH7ngihsbhyTm9g7fN7oOHHpso8tHNREXeLiHpSqtM0ftcTmjot67gTeNjPYicUpjJFnYy3PO8WGismQeF6FJk+P7fiH7Jc3AJBdj+jAAAAAElFTkSuQmCC") no-repeat;
    }
    body.shopware-ec .shopware-menu .#{$prefix}main-logo-container {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAYAAAA2cze9AAABE0lEQVR42u2UvwtBURTHbQaZ/ANMTEwGi8WMF2VQrygWZVEGw3sTiqQoUvIjJQZlQFF6lKIMLAb/zXNunavbi9xuWWT41H33fPue0/fcnknX9a/xN/9sbgkWB8DtBRnAhFiBInDC2gwIAHzm0XxPYxkvT32o+6H21LjitUM4193SAUrdVYTLHM4KIBvw4NQ3X6qpoSbbmmhVcpdURxv4tnOZ45RGvKRe6a+noEnTe9IYm8UEMn9ljjEhwpmTqXjMhTPnNRfPHBcayLQPjLmE0TW4Y8EzRaINbFJ5SDRuuX5kd7Q/35tCCy005h3yIuj0CXU0ccQqF/osF7srqSvvniKLjEIjfkZjBkJAHmtpwPk7P64HGd7Xe3igKnsAAAAASUVORK5CYII=") no-repeat;
    }

    body.shopware-pe .shopware-menu .#{$prefix}main-logo-container {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAARCAYAAAA2cze9AAABLElEQVR42t2UL2gCYRiHrxlWbAbLtdlMh6xYBC0Kgk0wCLogzLYgyIIaFBT8A2LxDCJq8ZQtCMImKAxMhoFrM5gsItjP94VX+Dj9+HRiMTwc996Ph4/f93KSrus3407kD76MAsQMuACJ4GUQv0iOoR8jSriokpibeYqUNXDYhfJq56s5nv2WkcBr/RNnjf70DZ7HGWK+WBbAERLKMQzvDkBOlDQvznLqsAPvj6cyDJZz5TKdNIOz1se3CjPnIRPPdt89L7UE07n1v52PNttdGjvlZVRtGoHvZqHcFatOsGskWRn0SBwFTLzOKSOfVQvJQoSbxJKgc9NFnRthT06XrRA28lwvN2IL5tuibVGeU63c32qd5copg6vJQtvE33NCBpzMzfMzx9jv46+4B2Eb2KK0wIqHAAAAAElFTkSuQmCC") no-repeat;
    }
}