.plugin-manager-window {
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.store-plugin-detail-meta-data-wrapper .advanced-feature-container {
    padding: 15px 25px;
    background: #ebf0f3;
    border-radius: 5px;
    margin-top: 20px;

    img {
        float: left;
    }
    span {
        position: relative;
        left: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 21px;
    }
}

.plugin-description-container, .plugin-local-description-container {
    max-width: 875px;
    margin: 0 auto;
    color: #555;
    line-height: 31px;
    font-size: 16px;
    padding: 20px;

    h1 {
        font-size: 24px !important;
        font-weight: 400 !important;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 20px !important;
        font-weight: 400 !important;
        margin-bottom: 18px;
    }

    li {
        background: theme-image($theme, 'plugin_manager/desc-list-dot.png') no-repeat;;
        padding-left: 30px;
        background-position-y: 4px;
        color: #5c6f7c;
    }

    .youtube-vid iframe {
        min-height: 360px !important;
        min-width:640px !important;
    }
}


.store-plugin-detail-installation-manual-container {
    line-height: 31px;
    font-size: 16px;
    color: #555;
}

.plugin-comment-container {
    color: rgb(51, 51, 51);

    .headline {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 32px;
    }

    .rating-average {
        font-size: 16px;

        .label {
            float: left;
            font-weight: bold;
        }
        .store-plugin-rating {
            float: left;
            margin: 2px 5px 0;
        }
    }
}

.store-plugin-comment {
    border-top: 1px solid #dfdfdf;
    padding: 15px 0;

    .comment-left {
        width: 145px;
        float: left;
    }

    .comment-right {
        float: left;
        padding-left: 10px;
        width: 650px;
    }

    .comment-headline {
        color: #333;
        font-size: 13px;
        font-weight: 700;
        margin: 2px 0 5px;
    }
    .comment-text {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 31px;
    }
    .comment-name {
        font-size: 12px;
        margin-top: 5px;
        font-weight: 800;
        padding: 5px 0;
        color: #666;
    }
    .comment-date {
        font-size: 11px;
        font-weight: normal;
        color: #999;
    }
}
.store-plugin-comment:nth-child(1) {
    border-top: 0 none;
}

.store-plugin-detail-changelog-container {
    padding: 20px;
    font-size: 16px;
    line-height: 31px;

    .changelog:nth-child(1) {
        border-top: 0 none;
    }

    .changelog {
        margin: 15px 0;
        padding-top: 20px;
        border-top: 1px solid #c4c4c4;

        .version {
            font-weight: 700;

            .date {
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
}

.store-plugin-detail-meta-data-wrapper {
    margin-left: 30px;
}

.store-plugin-detail-meta-data {
    font-size: 13px;
    line-height: 18px;
    background: #ebf0f3;
    border-radius: 5px;
    font-weight: 300;

    .item:nth-child(1) { border-top: 0 none; }

    .item {
        border-top: 1px solid #dfe4e7;
        color: #5c6f7c;

        .label {
            float: left;
            padding: 10px 10px 10px 15px;
            width: 145px;
        }

        .value {
            padding: 10px 10px 10px 15px;
            min-width: 150px;
            float: left;
        }
    }
}

.store-plugin-detail-star-description {
    font-size: 12px;
    line-height: 21px;
    font-weight: normal;
    text-align: right;
    color: rgb(92, 111, 124);
    margin-top: 0 !important
}

.plugin-meta-data-container-actions {

    .primary, .secondary {
        .x-btn-icon {
            top: 3px;
        }
    }

    .x-btn-inner {
        font-size: 14px !important;
    }
}

.store-plugin-detail-headline-container-content {

    .headline-right-container {
        padding-left: 20px;
    }

    .headline-certified {
        float: left;
        vertical-align: top;
        font-size: 12px;

        position: relative;
        margin-right: 15px;
        margin-top: 1px;

        .icon {
            top: -5px;
            display: inline-block;
            position: absolute;
            left: 0;
            height: 25px;
            width: 25px;
            background: theme-image($theme, 'plugin_manager/certified_only.png') no-repeat;
        }

        .text {
            padding: 2px 10px 2px 35px;
            background: #E9EEF1;
            border-radius: 20px;
        }
    }

    .headline-name div {
        line-height: 35px;
        font-weight: 300;
        font-size: 35px;
        color: #0e384f;
        margin-bottom: 10px;
    }

    .headline-author {
        float: left;
        font-size: 14px;
        font-weight: 700;
        color: #1491e7;
    }

    .headline-author .prefix {
        color: #5c6f7c;
    }
}

.store-plugin-detail-description-headline {
    font-size: 24px !important;
    font-weight: 400 !important;
    margin-bottom: 20px;
}

.store-plugin-detail-prices-tab  {

    .tab {
        position: relative;
        margin-top: 10px;
        .price {
            font-size: 31px;
            font-weight: 300;
            color: #0e384f;

            .month {
                font-weight: 300;
                font-size: 12px;
                color: rgb(14, 56, 79);
                display: inline-block;
            }

            .original {
                font-size: 20px;
                text-decoration: line-through;
            }

            .reduced {
                color: #e74c3c;
                font-weight: bold;
            }
        }

        .price-free {
            outline-color: rgb(55, 208, 70);
            color: rgb(55, 208, 70);
            font-size: 31px;
            font-stretch: normal;
            font-style: normal;
            font-variant: normal;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
        }
    }

    .rent-tab {
        .dismissal {
            display: block;
            position: absolute;
            bottom: -20px;
            background: rgb(235, 240, 243);
            left: -25px;
            width: 120%;
            padding: 8px 20px;
            font-size: 11px;
            color: rgb(92, 111, 124);
            font-weight: normal;
        }
    }

    .subscription {
        position: relative;
        margin-top: 15px;

        .icon {
            width: 30px;
            height: 30px;
            background: #ff9c19;
            border-radius: 100px;
            text-align: center;
            line-height: 30px;
            font-size: 15px;
            color: #fff;
            font-weight: 800;
            z-index: 1;
            position: absolute;
        }

        .text {
            font-weight: 600;
            color: #ff9c19;
            padding: 2px 10px 2px 20px;
            font-size: 12px;
            line-height: 21px;
            background: #fff0d7;
            top: 3px;
            position: relative;
            margin-left: 20px;
            display: inline-block;
            border-radius: 5px;
        }
    }

    .button {
        background: -moz-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
        background: -webkit-gradient(left top, right top, color-stop(0, #1fb3fb), color-stop(100%, #1491e7));
        background: -webkit-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
        background: -o-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
        background: -ms-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
        background: linear-gradient(to right, #1fb3fb 0, #1491e7 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1491e7, endColorstr=#1fb3fb, GradientType=1);
        background-repeat: no-repeat;
        color: #fff;

        font-size: 13px;
        font-weight: 600;
        display: inline-block;
        padding: 12px 20px;
        position: absolute;
        border: none;
        margin: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        top: 0;
        right: 0;
    }
    .button.contact a {
        color: #fff;
        text-decoration: none;
    }
}

@-webkit-keyframes keyframe--spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes keyframe--spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes keyframe--spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes keyframe--spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes keyframe--spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin animation($value) {
  -webkit-animation: unquote($value);
  -moz-animation: unquote($value);
  -o-animation: unquote($value);
  animation: unquote($value);
}

.plugin-manager-action-button {
    padding: 8px 25px;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #555;
    font-size: 14px;
    text-align: center;
    font-weight: 600;

    border: 2px solid #C2C2C2;
    border-radius: 25px;
    cursor: pointer;
    background: #fff;
}

.plugin-manager-action-button:hover {
    border-color: #1491e7;
}

.plugin-manager-action-button.primary:hover {
    background: #1491e7;
}

.plugin-manager-action-button.primary {
    border: 0 none;
    color: #fff;

    background: -moz-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
    background: -webkit-gradient(left top, right top, color-stop(0, #1fb3fb), color-stop(100%, #1491e7));
    background: -webkit-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
    background: -o-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
    background: -ms-linear-gradient(left, #1fb3fb 0, #1491e7 100%);
    background: linear-gradient(to right, #1fb3fb 0, #1491e7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1491e7, endColorstr=#1fb3fb, GradientType=1);
}


.plugin-manager-loading-mask {
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    color: #555;
    line-height: 31px;
    font-size: 14px;
    .headline {
        font-size: 22px;
    }
}

.plugin-manager-loading-indicator-wrapper {
    text-align: center;
    margin: 0 auto;
}

@-webkit-keyframes keyframe--spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes keyframe--spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes keyframe--spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes keyframe--spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
}
@keyframes keyframe--spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@mixin animation($value) {
  -webkit-animation: unquote($value);
  -moz-animation: unquote($value);
  -o-animation: unquote($value);
  animation: unquote($value);
}

.plugin-manager-loading-indicator {
    position: absolute;
    margin: 0 auto;

    &::before {
        width: 16px;
        height: 16px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;

        background-clip: padding-box !important;
        @include animation(keyframe--spin 1s linear infinite);
        display: block;
        content: "";
        border: 2px solid #dadae5;
        border-top: 2px solid #4f4f71;
    }
}
