
.plugin-manager-home-page {
    .headline {
        font-family: 'Open Sans', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        font-weight: bold;
        color: #96A2B0;
        padding-bottom: 5px;
        padding-left: 30px;
    }
    .plugin-manager-listing {
        padding-top: 0 !important;

        .more-link {
            border-right: 1px solid #d3e0e6;
            border-top: 1px solid #d3e0e6;
            cursor: pointer;
            vertical-align: top;
            background: #fff;
            width: 315px;
            height: 172px;
            display: inline-block;
            position: relative;
            padding: 15px 15px 0;
            text-align: center;

            .button {
                text-align: center;
                margin-top: 50px;
                border: 2px solid #415b68;
                color: #415b68;
                border-radius: 30px;
                display: inline-block;
                padding: 8px 20px;
                font-size: 12px;
            }
        }
    }
}

.plugin-manager-listing .listing-container {
    border: 1px solid #d5dfe8;
    border-radius: 5px;
    overflow: hidden;
}

.store-plugin:nth-child(1),
.store-plugin:nth-child(2),
.store-plugin:nth-child(3) {
    border-top: 0 none;
}
.store-plugin:nth-child(3n+0) {
    border-right: 0 none;
}
.store-plugin {
    border-right: 1px solid #d3e0e6;
    border-top: 1px solid #d3e0e6;
    cursor: pointer;
    vertical-align: top;
    background: #fff;
    width: 315px;
    height: 172px;
    display: inline-block;
    position: relative;
    padding: 15px 15px 0;

    .right-side {
        display: inline-block;
        width: 175px;
        height: 120px;
        padding-left: 15px;
        color: #415b68;

        .meta-information {
            height: 115px;
        }

        .name {
            font-size: 14px;
            font-weight: 700;
            word-wrap: break-word !important;
        }
        .author {
            padding-top: 5px;
            color: #93a3b0;
            font-size: 12px;

            .prefix {
                color: #6D7986;
                font-weight: 700;
            }
        }

        .button {
            border: 2px solid #415b68;
            color: #415b68;
            border-radius: 30px;
            display: inline-block;
            padding: 4px 20px;
            font-size: 12px;
        }

        .button.update {
            border-color: #C00B00;
            color: #C00B00;
        }

        .button.dummy,
        .button.install,
        .button.activate {
            color: #84B8F1;
            border-color: #84B8F1;
        }

        .button.free {
            color: #8AD13E;
            border-color: #8AD13E;
        }

        .certified {
            float: left;
            vertical-align: top;
            font-size: 12px;

            position: relative;
            margin-right: 15px;
            margin-top: 8px;

            .icon {
                top: -5px;
                display: inline-block;
                position: absolute;
                left: 0;
                height: 25px;
                width: 25px;
                background: theme-image($theme, 'plugin_manager/certified_only.png') no-repeat;
            }

            .text {
                padding: 2px 10px 2px 35px;
                background: #E9EEF1;
                border-radius: 20px;
            }
        }

    }

    .badge-container {
        position: absolute;
        top: 10px;
        left: 5px;
    }

    .badge {
        border-radius: 10px;
        border: 2px solid #fff;
        color: #fff;
        height: 20px;
    }

    .badge-text {
        display: inline-block;
        font-size: 11px;
        position: relative;
        font-weight: 600;
        top: -2px;
        padding-right: 5px;
        padding-left: 10px;
    }

    .badge-circle {
        position: relative;
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 20px;
        background: #fff;
        top: 1px;
        left: 1px;
    }

    .badge-image {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 3px;
        left: 3px;
    }

    .badge.update { background: #e3390b; }
    .badge.installed { background: #10ca1d; }

    .badge.update .badge-image {
        background: theme-image($theme, 'plugin_manager/red-update.png') no-repeat;
    }
    .badge.installed .badge-image {
        background: theme-image($theme, 'plugin_manager/green-check.png') no-repeat;
    }

    .image {
        float: left;
        width: 105px;
        height: 105px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}


.store-plugin-rating {
  width: 87px;
  height: 16px;
  background: theme-image($theme, 'plugin_manager/stars-sprite.png') no-repeat;
  padding-left: 95px;
}

.expired-plugin {
  @extend .store-plugin;
  height: 230px;

  .right-side {
      .button.uninstall {
          border-color: #C00B00;
          color: #C00B00;
          margin-top: 10px;
      }
  }
}

.plugin-manager-listing .store-plugin-rating {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.store-plugin-rating.star1  { background-position: 0 -18px; }
.store-plugin-rating.star2  { background-position: 0 -36px; }
.store-plugin-rating.star3  { background-position: 0 -54px; }
.store-plugin-rating.star4  { background-position: 0 -72px; }
.store-plugin-rating.star5  { background-position: 0 -90px; }
.store-plugin-rating.star6  { background-position: 0 -108px; }
.store-plugin-rating.star7  { background-position: 0 -126px; }
.store-plugin-rating.star8  { background-position: 0 -144px; }
.store-plugin-rating.star9  { background-position: 0 -162px; }
.store-plugin-rating.star10 { background-position: 0 -180px; }


.plugin-manager-filter-picker {

    li {
        font-size: 13px !important;
        font-family: 'Open Sans', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
}

.plugin-manager-listing-page {
    background: #eff3f4;

    .filter-panel {

        .certified-field {
            input { margin-top: 5px; }
        }

        border-bottom: 1px solid #c4c4c4;

        input, label {
            font-size: 13px;
            font-family: 'Open Sans', Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
        }
    }

    .headline {
        font-size: 24px;
        font-weight: bold;
    }

    .teaser-headline {
        line-height: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    .teaser-icon {
        width: 100px;
        height: 100px;
    }
}

.plugin-manager-upload-window {
    font-size: 13px !important;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    .info {
        font-size: 14px !important;
        .x-fieldset-header-text {
            font-size: 18px !important;
        }
    }

    background: #fff;
    .x-window-body, .x-panel-body {
        background: #fff !important;
        border: 0 none !important;
    }
    .x-toolbar {
        background: #fff;
        border: 0 none !important;
    }
}