.shopware-plugin-manager-tab {
    .tab-navigation {
        z-index: 1000;
    }

    .tab-content {
        background: #fff;
        border: 1px solid #c4c4c4;
        border-radius: 0 5px 5px 5px;
        padding: 20px;
        overflow: hidden;
    }

    .tab-navigation-item {
        background: #93a6b3;
        margin-top: 1px;
        cursor: pointer;
        color: #fff;
        display: inline-block;
        padding: 9px 20px;
        margin-right: 5px;
        border: 1px solid #c4c4c4;
        border-bottom: 0 none;
        border-radius: 5px 5px 0 0;
        font-size: 14px;
        font-weight: 600;
    }

    .tab-navigation-item.active {
        background: #fff;
        color: rgb(92, 111, 124);
    }

    .tab-navigation-item:hover {
        background: #fff;
        color: rgb(92, 111, 124);
    }
}