.footer-main {
	.unitize(24, 16, padding-top);
	background: #fff;

	.footer--column {
		.unitize-padding(0, 20, 0, 20, 16);
		border-top: 1px solid @borderColor;

		&.is--last {
			border-bottom: 1px solid @borderColor;
		}
	}

	.column--headline {
		.user-select(none);
		color: @primaryColor;

		&.is--active::after {
			content: '-';
		}

		&::after {
			.unitize-margin(-3.5, 0, 0, 0, 16);
			.unitize(24, 16);
			color: @primaryTextColor;
			content: '+';
			font-weight: bold;
			float: right;
		}
	}

	.column--content {
		display: none;

		&.is--active {
			display: block;
		}
	}

	// Second footer with the shopware logo and vat notice
	.footer--bottom {
		.unitize(12, 16);
		.unitize-padding(0, 12, 0, 12, 12);
		text-align: center;
	}
	.footer--logo {
		color: #00b7e3;
		text-shadow: 1px 1px 1px @lightTextColor;
		.unitize(28, 12);
	}

	// Navigation links
	.navigation--list {
		.unitize-padding(0, 0, 16, 0, 16);
	}
	.navigation--entry {
		.unitize-padding(10, 0, 10, 0, 16);
	}
	.navigation--link {
		color: @darkTextColor
	}

	// Newsletter registration
	.newsletter--form {
		.unitize-padding(0, 0, 16, 0, 16);
	}
	.newsletter--field {
		width: 100%;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.footer-main {
		.unitize-margin(21, 0, 0, 0, 16);
		border-top: 1px solid @borderColor;

		.footer--column {
			.unitize-padding(0, 10, 0, 10, 16);
			width: 25%;
			border: 0 none;

			&.is--last {
				border-bottom: 0 none;
			}
		}

		.footer--columns {
			border-bottom: 1px solid @borderColor;
		}

		.column--content {
			display: block;
		}

		.column--headline::after {
			display: none;
		}

		.navigation--entry {
			padding: 0;
		}
		.navigation--link {
			line-height: 1.4;
		}
	}
}