.footer--columns {
    .clearfix();
}

.footer--column {
    width: 25%;
    float: left;
}

.footer--bottom {
    text-align: center;
}

.column--navigation {
    .navigation--list .navigation--entry {
        float: none;
    }
}