* {
    .box-sizing();
}
body {
	font: @bodyFontStack;
	color: @primaryTextColor;
	background: @primaryBackgroundColor;
}

// All images should be responsive by default
img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 64em) {
	body {
		font-size: 87.5%;
	}
}
