* {
    .box-sizing();
}
html, body { overflow-x: hidden }
body {
	font: @bodyFontStack;
	color: @primaryTextColor;
	background: @primaryBackgroundColor;
}

// All images should be responsive by default
img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	.transition();
	color: @primaryColor;
	text-decoration: none;

	&:hover {
		color: darken(@secondaryColor, 10%);
	}
}
ul {
	margin: 0;
	padding: 0;
}

input[type="text"], input[type="search"], input[type="password"] {
	.appearance();
	.border-radius();
	.box-sizing();
	.unitize-padding(10, 10, 10, 10, 16);
	background: @lightGradientEnd;
	border: 1px solid @borderColor;
	color: @primaryTextColor;

	&:focus {
		background: #fff;
	}
}

.ajax-loader { display: none }

@media screen and (min-width: 64em) {
	body {
		font-size: 87.5%;
	}
}