.header-main {
	background: #fff;

	.top-bar { display: none }

	.logo-main {
		.unitize-padding(10, 10, 10, 10, 16);
	}
	.logo--shop { width: 50% }
	.logo--trusted-shops { width: 50% }

	.trusted-shops--link {
		.unitize-width(24, 16);
		.unitize-height(24, 16);
		float: right;
		display: block;
	}
}

.shop--navigation {
	position: relative;

	.navigation--list {
		.linear-gradient(@lightGradientStart, @lightGradientEnd);
		width: 100%;
	}
	.navigation--entry {
		.unitize-padding(12, 10, 12, 10, 16);
		border: 1px solid @borderColor;
		border-right: 0 none;
		display: block;
		text-align: center;
		width: 15%;
	}
	.entry--link {
		font-weight: bold;
		color: @primaryTextColor;
		text-decoration: none;
	}

	.main-search--form,
	.cart--link > span,
	.entry--account {
		display: none;
	}

	.entry--cart {
		.linear-gradient(@primaryColor, @secondaryColor);
		border-top: 1px solid @primaryColor;
		border-bottom: 1px solid darken(@secondaryColor, 10%);
		border-left: 0 none;

		.entry--link {
			color: #fff;
		}
	}
	.entry--spacer {
		.unitize-height(48, 16);
		width: 40%;
		border-left: 0 none;
	}

	.entry--menu-left {
		border-right: 1px solid @borderColor;
		border-left: 0 none;
		width: 30%;
	}

	.entry--search {
		font-weight: bold;

		&.is--active {
			background: #fff;
			border-bottom-color: #fff;

			.main-search--form {
				.unitize(48, 16, top);
				left: 0;
				display: block;
				position: absolute;
			}
		}
	}
}

.main-search--form {
	.unitize-padding(8, 10, 8, 10, 16);
	background: #fff;
	border-bottom: 1px solid @borderColor;
	width: 100%;

	.main-search--field {
		width: 100%;
	}
	.main-search--button { display: none; }
}