.header-main {
	background: #fff;

	.top-bar { display: none }

	.logo-main {
		.unitize-padding(10, 10, 10, 10, 16);
		border-bottom: 1px solid @borderColor;
	}
	.logo--shop { width: 50% }
	.logo--trusted-shops { width: 50% }

	.trusted-shops--link {
		.unitize-width(24, 16);
		.unitize-height(24, 16);
		float: right;
		display: block;
	}
}
