.header-main {
	background: #fff;
}

.top-bar {
	display: none;
}

// Logo styling
.logo {
	.clearfix();
	.unitize-padding(1, 1, 1, 1);
	border-bottom: 1px solid @borderColor;

	.logo--main {
		float: left;
	}
	.logo--trusted-shops {
		.unitize-height(2.4);
		.unitize-width(2.4);
		float: right;
	}
}