.navigation-main {
	background: #fff;
    display: none;
}
@media screen and (min-width: @tabletViewportWidth) {
	.navigation-main {
		.unitize-margin(0, 0, 20, 0, 16);
		.unitize-padding(0, 12, 0, 12, 16);
		border-bottom: 4px solid @primaryContrastColor;
		display: block;

		.navigation--list {
			.clearfix();
		}
		.navigation--entry {
			float: left;
		}
		.navigation--link {
			.unitize-margin(0, 10, 0, 10, 16);
			.unitize-padding(8, 12, 8, 12, 16);
			display: block;
			cursor: pointer;
			color: @primaryTextColor;
		}

		.is--active {
			.primary-gradient();
			.border-radius-multi(3px, 3px);
			.navigation--link { color: #fff; }

		}
	}
}