<?php
return array(
    'db' => array(
        'username' => 'sw4_dev',
        'password' => 'sw4_dev',
        'dbname' => 'sw4_dev',
        'host' => 'localhost',
        'port' => '%db.port%'
    ),
);