// Contains all dirty hacks like !important or negative margins, so you get a single place to document and set them.

// The product tax information will be filled using a snippet through the administration. The WYSIWYG adds inline styles
// which needs to be overridden with a ```!important```
.product--tax a {
	text-decoration: none !important;

	&:hover {
		text-decoration: underline !important;
	}
}

// We need to hide the sidebar using CSS due to the fact that the sidebar is neccessary for smartphone
@media screen and (min-width: @tabletViewportWidth) {
	.is--ctl-detail .sidebar-main {
		display: none !important;
	}
}