
.media-multi-selection {
  .item {
    width: 140px;
    height: 140px;
    position: relative;
    float: left;
    border: 1px solid #c7c7c7 !important;
    margin: 15px !important;
    padding: 8px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

  .form-field-grid-view {
    background: #fff;
  }
}
