.btn {
    .unitize-padding(9, 10, 9, 10, 16);
    .border-radius(4px);
    .appearance();
    .unitize(@btn-font-size, 16, font-size);
    .linear-gradient(@btn-default-top-bg, @btn-default-bottom-bg);
    -webkit-font-smoothing: inherit;
    display: inline-block;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    line-height: normal;
    cursor: pointer;
    border: 1px solid @btn-default-border-color;
    color: @btn-default-text-color;

    /** Icon styling */
    [class^="icon--"] {
        .unitize(@btn-icon-size, 16, font-size);
    }

    /** Larger icon */
    .is--large {
        .unitize(14, 16, font-size);
    }

    /** State: Button with icon right */
    &.is--icon-right {
         .unitize(36, 16, padding-right);

         [class^="icon--"] {
             .unitize-height(16);
             .unitize-margin(-8, 0, 0, 0);
             .unitize(16, 16, line-height);
             .unitize(12, 16, right);
             font-weight: normal;
             display: block;
             position: absolute;
             top: 50%;
         }
    }

    /** State: Button with icon left */
    &.is--icon-left {
        .unitize(36, 16, padding-left);

        [class^="icon--"] {
            .unitize-height(16);
            .unitize-margin(-8, 0, 0, 0);
            .unitize(16, 16, line-height);
            .unitize(12, 16, left);
            font-weight: normal;
            display: block;
            position: absolute;
            top: 50%;
        }
    }

    &:active {
        // ???
    }

    &:disabled,
    &.is--disabled {
        .opacity(0.5);
        cursor: not-allowed;

        &:hover {
            color: @text-color;
        }
    }

    &:hover {
        background: @btn-default-hover-bg;
        color: @btn-default-hover-text-color;
        border-color: @btn-default-hover-border-color;
    }

    &:focus {
        outline: none;
    }

    /** State: Small button */
    &.is--small {
        .unitize-padding(7, 10, 7, 10, 16);

        &.is--icon-right {
            .unitize(36, 16, padding-right);
            [class^="icon--"] {
                font-weight: normal;
                display: block;
                position: absolute;
                top: 50%;
            }
        }

        &.is--icon-left {
            .unitize(36, 16, padding-left);
            [class^="icon--"] {
                font-weight: normal;
                display: block;
                position: absolute;
                top: 50%;
            }
        }

    }

    /** State: Large button */
    &.is--large {
        .unitize-padding(11, 10, 11, 10, 16);

        &.is--icon-right {
            .unitize(36, 16, padding-right);
        }

        &.is--icon-left {
            .unitize(36, 16, padding-left);
        }
    }

    /** State: Button with 100% width */
    &.is--full {
        display: block;
    }

    /** State: Button with text align center */
    &.is--center {
        text-align: center;
    }

}

/** Type: Primary button or other element */
.is--primary {
    .linear-gradient(@btn-primary-top-bg, @btn-primary-bottom-bg);
    border: 0 none;
    color: @btn-primary-text-color;

    &:hover {
        background: @btn-primary-hover-bg;
        color: @btn-primary-hover-text-color;
    }
}

/** Type: Secondary or other element */
.is--secondary {
    .linear-gradient(@btn-secondary-top-bg, @btn-secondary-bottom-bg);
    border: 0 none;
    color: @btn-secondary-text-color;

    &:hover {
        background: @btn-secondary-hover-bg;
        color: @btn-secondary-hover-text-color;
    }
}