.btn {
    .unitize-padding(2, 10);
    .unitize(32, 16, line-height);
    .border-radius(4px);
    .appearance();
    .unitize(@btn-font-size, 16, font-size);
    .linear-gradient(@btn-default-top-bg, @btn-default-bottom-bg);
    -webkit-font-smoothing: inherit;
    display: inline-block;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    border: 1px solid @btn-default-border-color;
    color: @btn-default-text-color;

    /** Button icon font size */
    [class^="icon--"] {
        .unitize(@btn-icon-size, 16, font-size);
    }

    /** Larger icon */
    .is--large {
        @pxValue: round(@btn-font-size * 1.15, 0);
        .unitize-variable(@pxValue, 16);
        font-size: ~"@{pxValue}px";
        font-size: ~"@{emValue}rem";
    }

    /** State: Button with icon right */
    &.is--icon-right {
         .unitize(36, 16, padding-right);

         [class^="icon--"] {
             .unitize-height(16);
             .unitize(32, 16, line-height);
             .unitize-margin(-16, 0, 0, 0);
             .unitize(12, 16, right);
             font-weight: normal;
             display: block;
             position: absolute;
             top: 50%;
         }
    }

    /** State: Button with icon left */
    &.is--icon-left {
        .unitize(36, 16, padding-left);

        [class^="icon--"] {
            .unitize-height(16);
            .unitize(32, 16, line-height);
            .unitize-margin(-16, 0, 0, 0);
            .unitize(12, 16, left);
            font-weight: normal;
            display: block;
            position: absolute;
            top: 50%;
        }
    }

    &:disabled,
    &.is--disabled {
        .opacity(0.5);
        cursor: not-allowed;

        &:hover {
            color: @text-color;
        }
    }

    &:hover {
        background: @btn-default-hover-bg;
        color: @btn-default-hover-text-color;
        border-color: @btn-default-hover-border-color;
    }

    &:focus {
        outline: none;
    }

    /** State: Small button */
    &.is--small {
        .unitize(28, 16, line-height);
    }

    /** State: Large button */
    &.is--large {
        .unitize(36, 16, line-height);
    }

    /** State: Button with 100% width */
    &.is--full {
        display: block;
    }

    /** State: Button with text align center */
    &.is--center {
        text-align: center;
    }
}

/** Type: Primary button or other element */
.is--primary {
    .unitize-padding(2, 12);
    .unitize(34, 16, line-height);
    .linear-gradient(@btn-primary-top-bg, @btn-primary-bottom-bg);
    border: 0 none;
    color: @btn-primary-text-color;

    &:hover {
        background: @btn-primary-hover-bg;
        color: @btn-primary-hover-text-color;
    }

    /** State: Small button */
    &.is--small {
        .unitize(30, 16, line-height);
    }

    /** State: Large button */
    &.is--large {
        .unitize(38, 16, line-height);
    }
}

/** Type: Secondary or other element */
.is--secondary {
    .unitize-padding(2, 12);
    .unitize(34, 16, line-height);
    .linear-gradient(@btn-secondary-top-bg, @btn-secondary-bottom-bg);
    border: 0 none;
    color: @btn-secondary-text-color;

    &:hover {
        background: @btn-secondary-hover-bg;
        color: @btn-secondary-hover-text-color;
    }

    /** State: Small button */
    &.is--small {
        .unitize(30, 16, line-height);
    }

    /** State: Large button */
    &.is--large {
        .unitize(38, 16, line-height);
    }
}