.emotion--container {
    .unitize(10, 16, padding-top);
    .unitize(10, 16, padding-bottom);
	width: 101%;
    position: relative;

    .gutter--sizer {
        width: 0;
    }

	&.js--fullscreen-active {
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.emotion--fullscreen {
    .unitize(-22, 16, margin-top);
    position: absolute !important;
    left: 1%; right: 0;
    background: #fff;
    width: 99%;
    z-index: 1;

    &:before,
    &::before {
        content: '';
        position: absolute;
        left: -1%; top: 0;
        right: 0; bottom: 0;
        z-index: 0;
        background: #fff;
    }
}

.emotion--element {
    position: absolute;
    //padding: 0 1% 1% 0;
}
.emotion--masonry .emotion--element {
    padding: 0 1% 1%;
}
.emotion--element-banner-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.emotion--element-banner {
    position: relative;
    margin: 0 auto;
    width: 100%; height: 100%;
    overflow: hidden;
}
.emotion--element-link {
    display: block;
}
.emotion--element-image {
    position: absolute;
    left: 0; right: 0;
	top: 0; bottom: 0;
    margin: auto;
    max-width: none;
    max-height: none;
    z-index: 100;
}
.emotion--element-mapping {
    position: absolute;
    display: block;
    z-index: 110;
    background: rgba(0,0,0,0);
}

.emotion--masonry.emotion--col4 {
    .grid--sizer,
    .emotion--element-cols-1,
    .emotion--element-cols-2,
    .emotion--element-cols-3,
    .emotion--element-cols-4 {
        width: 100%;
    }
}

.emotion--masonry.emotion--col3 {
    .grid--sizer,
    .emotion--element-cols-1,
    .emotion--element-cols-2,
    .emotion--element-cols-3,
    .emotion--element-cols-4 {
        width: 100%;
    }
}

.article-element .product--box {
    height: 100%;
    position: relative;
    background: #fff;

    .box--image {
        margin-bottom: 10%;
        height: 58%;
        display: block;
        border: 0 none;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .product--title,
    .price--default {
        .unitize(14, 16, font-size);
        font-weight: bold;
        color: @text-color-dark;
    }

    .product--price {
        .unitize(10, 16, bottom);
        .unitize(10, 16, left);
        position: absolute;
    }
    .price--default {
        .unitize(18, 16, font-size);
    }

    .content--discount {
        text-decoration: line-through;
        font-weight: normal;
    }
}

.category-teaser-element .category-teaser--box {
    position: relative;

    .box--image {
        width: 100%;
        padding: 0;
        height: 100%;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .selected-image--element {
        max-width: 100%;
    }

    .box--title {
        .unitize(10, 16, padding);
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        color: #fff;
        background: rgba(0, 0, 0, .65);
    }
}

.blog-element .blog--container {
    height: 100%;
    width: 100%;

    .blog--image {
        height: 40%;
        width: 100%;
        display: block;
        background-position: center center;
        background-size: cover;
        margin-bottom: 2%;
    }

    .blog--title {
        .unitize(14, 16, font-size);
        display: block;
        font-weight: bold;
        color: @text-color-dark;
        margin-bottom: 2%;
    }
}

.blog--entry {
    height: 100%;
    padding-right: 1%;
    overflow: hidden;

    &.is--last {
        padding: 0;
    }
}

.banner-slider-element {

    .image-slider--title {
        .opacity(0);
        .transition();
        .unitize(10, 16, padding);
        text-align: center;
        position: absolute;
        top: 0;
        left: 0; right: 0;
        color: #fff;
        background: rgba(0, 0, 0, .65);
        z-index: 1000;
    }

    &:hover .image-slider--title {
        .opacity(1);
    }

    .image-slider,
    .image-slider--container,
    .image-slider--slide {
        width: 100%;
        height: 100%;
    }

    .image-slider--item {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .image-slider--link {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.manufacturer-slider-element,
.article-slider-element {

    .article-slider--title {
        .unitize(10, 16, padding-top);
        .unitize-margin(0, 15);
        .unitize(14, 16, font-size);

        &.is--underline {
            .unitize(10, 16, padding-top);
        }
    }

    .product-slider--container,
    .panel {
        height: 100%;
        padding: 0;
    }

    .panel--body {
        .unitize(20, 16, padding-top);
        height: 85%;
    }

    .product-slider {
        height: 100%;
    }

    .manufacturer--item {
        float: left;
    }

    .manufacturer--link {
        height: 100%;
        display: block;

        .manufacturer--image {
            margin: 0 auto;
            height: 100%;
        }

        &.has--text .is--centered {
            .border-radius();
            .white-gradient();
            .unitize-padding(5, 10);
            width: 65%;
            font-weight: bold;
            border: 1px solid @border-color;
            color: @text-color;

            // CSS truncating
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.manufacturer-slider-element .panel--body {
    height: 70%;
}

.article-slider--item {
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .is--centered {
        display: inline-block;
        vertical-align: middle;
    }
}

// Link "further products" in the listing
.further-products {
    .unitize-margin(20, 0, 20, 0);
    .unitize-padding(10, 0, 0, 0);
    border-top: 1px solid @border-color;
}

.html-text-element .panel {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.emotion--element-video-inner {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #000;

    video::-webkit-media-controls {
        bottom: 15%;
    }

    video::-moz-media-controls {
        bottom: 15%;
    }

    .play--video {
        .transition();
        .unitize(25, 16, top);
        .unitize(25, 16, right);
        .unitize(40, 16, line-height);
        .unitize(21, 16, font-size);
        .unitize-width(42);
        .unitize-height(42);
        .border-radius(100%);
        position: absolute;
        cursor: pointer;
        color: #fff;
        border: 2px solid #fff;
        text-align: center;
        z-index: 2000;
    }
    .play--video:active {
        background: rgba(255, 255, 255, 0.5);
    }
}
.emotion--element-video-element {
    display: block;
    height: 100%;
    width: 99.95%;  // Magical number which fixes the scaling of the browser
}

.emotion--element-video--text {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1000;
}

/** Resizable shopping world */
.emotion--resize {
    &.emotion--desktop,
    &.emotion--tablet {
        display: none;
    }

    &.emotion--mobile {
        display: block;
    }

    @media screen and (min-width: @tabletViewportWidth) {
        &.emotion--desktop,
        &.emotion--mobile {
            display: none;
        }

        &.emotion--tablet {
            display: block;
        }
    }

    @media screen and (min-width: @desktopViewportWidth) {
        &.emotion--tablet,
        &.emotion--mobile {
            display: none;
        }

        &.emotion--desktop {
            display: block;
        }
    }
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {

    .emotion--masonry.emotion--col4 {
        @emotion-cols: 2;

        .grid--sizer,
        .emotion--element-cols-1 {
            @width: round((100 / @emotion-cols) * 1, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-2 {
            @width: round((100 / @emotion-cols) * 2, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-3,
        .emotion--element-cols-4 {
            width: 100%;
        }
    }

    .emotion--masonry.emotion--col3 {
        @emotion-cols: 2;

        .grid--sizer,
        .emotion--element-cols-1 {
            @width: round((100 / @emotion-cols) * 1, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-2 {
            @width: round((100 / @emotion-cols) * 2, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-3 {
            width: 100%;
        }
    }
}

@media screen and (min-width: @tabletViewportWidth) {
    .emotion--fullscreen {
        .unitize(-92, 16, margin-top);
    }

    .emotion--outer-container {
        .unitize-margin(0, 0, -120, 0);
    }

    .emotion--tablet {
        display: block;
    }

    .emotion--masonry.emotion--col4 {
        @emotion-cols: 3;

        .grid--sizer,
        .emotion--element-cols-1 {
            @width: round((100 / @emotion-cols) * 1, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-2 {
            @width: round((100 / @emotion-cols) * 2, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-3 {
            @width: round((100 / @emotion-cols) * 3, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-4 {
            width: 100%;
        }
    }

    .emotion--masonry.emotion--col3 {
        @emotion-cols: 3;

        .grid--sizer,
        .emotion--element-cols-1 {
            @width: round((100 / @emotion-cols) * 1, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-2 {
            @width: round((100 / @emotion-cols) * 2, 3);
            width: ~"@{width}%";
        }

        .emotion--element-cols-3 {
            width: 100%;
        }
    }

    .manufacturer-slider-element,
    .article-slider-element {
        .image--element .image--media,
        .image--element {
            height: 100%;
        }
    }
}

@media screen and (min-width: @desktopViewportWidth) {

    .emotion--container {
        .unitize(-10, 16, margin-top);
    }

    .emotion--fullscreen {
        .unitize(-75, 16, margin-top);
    }

    .emotion--outer-container {
        .unitize-margin(0, 0, -185, 0);
    }

    .emotion--masonry.emotion--col4 {

        .grid--sizer,
        .emotion--element-cols-1 {
            width: 25%;
        }

        .emotion--element-cols-2 {
            width: 50%;
        }

        .emotion--element-cols-3 {
            width: 75%;
        }

        .emotion--element-cols-4 {
            width: 100%;
        }
    }

    .manufacturer-slider-element,
    .article-slider-element {
        .image--element .image--media,
        .image--element {
            height: 100%;
        }
    }
}
