@font-face {
	font-family: 'shopware';
	src:url('@{fontDirectory}/shopware.eot?-7cvoc');
	src:url('@{fontDirectory}/shopware.eot?#iefix-7cvoc') format('embedded-opentype'),
		url('@{fontDirectory}/shopware.woff?-7cvoc') format('woff'),
		url('@{fontDirectory}/shopware.ttf?-7cvoc') format('truetype'),
		url('@{fontDirectory}/shopware.svg?-7cvoc#shopware') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
	font-family: 'shopware';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--logout:before {
    content: "\e614";
}
.icon--grid:before {
    content: "\e615";
}
.icon--filter:before {
    content: "\e616";
}
.icon--clock:before {
    content: "\e617";
}
.icon--arrow-up:before {
    content: "\e610";
}
.icon--arrow-right:before {
    content: "\e60f";
}
.icon--arrow-left:before {
    content: "\e611";
}
.icon--arrow-down:before {
    content: "\e612";
}
.icon--star:before {
    content: "\e600";
}
.icon--star-empty:before {
    content: "\e601";
}
.icon--shopware:before {
    content: "\e602";
}
.icon--service:before {
    content: "\e603";
}
.icon--search:before {
    content: "\e604";
}
.icon--numbered-list:before {
    content: "\e605";
}
.icon--menu:before {
    content: "\e606";
}
.icon--mail:before {
    content: "\e607";
}
.icon--list:before {
    content: "\e608";
}
.icon--layout:before {
    content: "\e609";
}
.icon--heart:before {
    content: "\e60a";
}
.icon--cross:before {
    content: "\e60d";
}
.icon--compare:before {
    content: "\e60b";
}
.icon--check:before {
    content: "\e60c";
}
.icon--basket:before {
    content: "\e60e";
}
.icon--account:before {
    content: "\e613";
}
.icon--phone:before {
    content: "\e619";
}
.icon--mobile:before {
    content: "\e61d";
}
.icon--mouse:before {
    content: "\e61e";
}
.icon--directions:before {
    content: "\e61f";
}
.icon--paperplane:before {
    content: "\e620";
}
.icon--pencil:before {
    content: "\e618";
}
.icon--feather:before {
    content: "\e621";
}
.icon--paperclip:before {
    content: "\e622";
}
.icon--drawer:before {
    content: "\e623";
}
.icon--reply:before {
    content: "\e624";
}
.icon--reply-all:before {
    content: "\e625";
}
.icon--forward:before {
    content: "\e626";
}
.icon--users:before {
    content: "\e627";
}
.icon--user-add:before {
    content: "\e628";
}
.icon--vcard:before {
    content: "\e629";
}
.icon--export:before {
    content: "\e62a";
}
.icon--location:before {
    content: "\e62b";
}
.icon--map:before {
    content: "\e62c";
}
.icon--compass:before {
    content: "\e62d";
}
.icon--location2:before {
    content: "\e62e";
}
.icon--target:before {
    content: "\e62f";
}
.icon--share:before {
    content: "\e630";
}
.icon--sharable:before {
    content: "\e631";
}
.icon--thumbsup:before {
    content: "\e632";
}
.icon--thumbsdown:before {
    content: "\e633";
}
.icon--chat:before {
    content: "\e634";
}
.icon--comment:before {
    content: "\e61a";
}
.icon--quote:before {
    content: "\e635";
}
.icon--house:before {
    content: "\e636";
}
.icon--popup:before {
    content: "\e637";
}
.icon--flashlight:before {
    content: "\e638";
}
.icon--printer:before {
    content: "\e639";
}
.icon--bell:before {
    content: "\e63a";
}
.icon--link:before {
    content: "\e63b";
}
.icon--flag:before {
    content: "\e63c";
}
.icon--cog:before {
    content: "\e63d";
}
.icon--tools:before {
    content: "\e63e";
}
.icon--trophy:before {
    content: "\e63f";
}
.icon--tag:before {
    content: "\e640";
}
.icon--camera:before {
    content: "\e641";
}
.icon--megaphone:before {
    content: "\e642";
}
.icon--moon:before {
    content: "\e643";
}
.icon--palette:before {
    content: "\e644";
}
.icon--leaf:before {
    content: "\e645";
}
.icon--music:before {
    content: "\e646";
}
.icon--music2:before {
    content: "\e647";
}
.icon--new:before {
    content: "\e648";
}
.icon--graduation:before {
    content: "\e649";
}
.icon--book:before {
    content: "\e64a";
}
.icon--newspaper:before {
    content: "\e64b";
}
.icon--bag:before {
    content: "\e64c";
}
.icon--airplane:before {
    content: "\e64d";
}
.icon--lifebuoy:before {
    content: "\e64e";
}
.icon--eye:before {
    content: "\e64f";
}
.icon--clock2:before {
    content: "\e650";
}
.icon--microphone:before {
    content: "\e651";
}
.icon--calendar:before {
    content: "\e652";
}
.icon--bolt:before {
    content: "\e653";
}
.icon--thunder:before {
    content: "\e654";
}
.icon--droplet:before {
    content: "\e655";
}
.icon--cd:before {
    content: "\e656";
}
.icon--briefcase:before {
    content: "\e657";
}
.icon--air:before {
    content: "\e658";
}
.icon--hourglass:before {
    content: "\e659";
}
.icon--gauge:before {
    content: "\e65a";
}
.icon--language:before {
    content: "\e65b";
}
.icon--network:before {
    content: "\e65c";
}
.icon--key:before {
    content: "\e65d";
}
.icon--battery:before {
    content: "\e65e";
}
.icon--bucket:before {
    content: "\e65f";
}
.icon--magnet:before {
    content: "\e660";
}
.icon--drive:before {
    content: "\e661";
}
.icon--cup:before {
    content: "\e662";
}
.icon--rocket:before {
    content: "\e663";
}
.icon--brush:before {
    content: "\e664";
}
.icon--suitcase:before {
    content: "\e665";
}
.icon--cone:before {
    content: "\e666";
}
.icon--earth:before {
    content: "\e667";
}
.icon--keyboard:before {
    content: "\e668";
}
.icon--browser:before {
    content: "\e669";
}
.icon--publish:before {
    content: "\e66a";
}
.icon--progress-3:before {
    content: "\e66b";
}
.icon--progress-2:before {
    content: "\e66c";
}
.icon--brogress-1:before {
    content: "\e66d";
}
.icon--progress-0:before {
    content: "\e66e";
}
.icon--sun:before {
    content: "\e66f";
}
.icon--sun2:before {
    content: "\e670";
}
.icon--adjust:before {
    content: "\e671";
}
.icon--code:before {
    content: "\e672";
}
.icon--screen:before {
    content: "\e673";
}
.icon--infinity:before {
    content: "\e674";
}
.icon--light-bulb:before {
    content: "\e675";
}
.icon--creditcard:before {
    content: "\e676";
}
.icon--database:before {
    content: "\e677";
}
.icon--voicemail:before {
    content: "\e678";
}
.icon--clipboard:before {
    content: "\e679";
}
.icon--box:before {
    content: "\e67a";
}
.icon--ticket:before {
    content: "\e67b";
}
.icon--rss:before {
    content: "\e67c";
}
.icon--signal:before {
    content: "\e67d";
}
.icon--thermometer:before {
    content: "\e67e";
}
.icon--droplets:before {
    content: "\e67f";
}
.icon--uniE680:before {
    content: "\e680";
}
.icon--statistics:before {
    content: "\e681";
}
.icon--pie:before {
    content: "\e682";
}
.icon--bars:before {
    content: "\e683";
}
.icon--graph:before {
    content: "\e684";
}
.icon--lock:before {
    content: "\e685";
}
.icon--lock-open:before {
    content: "\e686";
}
.icon--login:before {
    content: "\e687";
}
.icon--minus:before {
    content: "\e688";
}
.icon--plus:before {
    content: "\e689";
}
.icon--cross2:before {
    content: "\e68a";
}
.icon--minus2:before {
    content: "\e68b";
}
.icon--plus2:before {
    content: "\e68c";
}
.icon--cross3:before {
    content: "\e68d";
}
.icon--minus3:before {
    content: "\e68e";
}
.icon--plus3:before {
    content: "\e68f";
}
.icon--erase:before {
    content: "\e690";
}
.icon--blocked:before {
    content: "\e691";
}
.icon--info:before {
    content: "\e61b";
}
.icon--info2:before {
    content: "\e692";
}
.icon--question:before {
    content: "\e693";
}
.icon--help:before {
    content: "\e694";
}
.icon--warning:before {
    content: "\e695";
}
.icon--cycle:before {
    content: "\e696";
}
.icon--cw:before {
    content: "\e697";
}
.icon--ccw:before {
    content: "\e698";
}
.icon--shuffle:before {
    content: "\e699";
}
.icon--arrow:before {
    content: "\e69a";
}
.icon--arrow2:before {
    content: "\e69b";
}
.icon--retweet:before {
    content: "\e69c";
}
.icon--loop:before {
    content: "\e69d";
}
.icon--history:before {
    content: "\e69e";
}
.icon--back:before {
    content: "\e69f";
}
.icon--list2:before {
    content: "\e6a0";
}
.icon--add-to-list:before {
    content: "\e6a1";
}
.icon--layout2:before {
    content: "\e6a2";
}
.icon--list3:before {
    content: "\e6a3";
}
.icon--text:before {
    content: "\e6a4";
}
.icon--text2:before {
    content: "\e6a5";
}
.icon--document:before {
    content: "\e6a6";
}
.icon--docs:before {
    content: "\e6a7";
}
.icon--landscape:before {
    content: "\e6a8";
}
.icon--pictures:before {
    content: "\e6a9";
}
.icon--video:before {
    content: "\e6aa";
}
.icon--music3:before {
    content: "\e6ab";
}
.icon--folder:before {
    content: "\e6ac";
}
.icon--archive:before {
    content: "\e6ad";
}
.icon--trash:before {
    content: "\e6ae";
}
.icon--upload:before {
    content: "\e6af";
}
.icon--download:before {
    content: "\e6b0";
}
.icon--disk:before {
    content: "\e6b1";
}
.icon--install:before {
    content: "\e61c";
}
.icon--cloud:before {
    content: "\e6b2";
}
.icon--upload2:before {
    content: "\e6b3";
}
.icon--bookmark:before {
    content: "\e6b4";
}
.icon--bookmarks:before {
    content: "\e6b5";
}
.icon--book2:before {
    content: "\e6b6";
}
.icon--play:before {
    content: "\e6b7";
}
.icon--pause:before {
    content: "\e6b8";
}
.icon--record:before {
    content: "\e6b9";
}
.icon--stop:before {
    content: "\e6ba";
}
.icon--next:before {
    content: "\e6bb";
}
.icon--previous:before {
    content: "\e6bc";
}
.icon--first:before {
    content: "\e6bd";
}
.icon--last:before {
    content: "\e6be";
}
.icon--resize-enlarge:before {
    content: "\e6bf";
}
.icon--resize-shrink:before {
    content: "\e6c0";
}
.icon--volume:before {
    content: "\e6c1";
}
.icon--sound:before {
    content: "\e6c2";
}
.icon--mute:before {
    content: "\e6c3";
}
.icon--flow-cascade:before {
    content: "\e6c4";
}
.icon--flow-branch:before {
    content: "\e6c5";
}
.icon--flow-tree:before {
    content: "\e6c6";
}
.icon--flow-line:before {
    content: "\e6c7";
}
.icon--flow-parallel:before {
    content: "\e6c8";
}
.icon--arrow-left2:before {
    content: "\e6c9";
}
.icon--arrow-down2:before {
    content: "\e6ca";
}
.icon--arrow-up-upload:before {
    content: "\e6cb";
}
.icon--arrow-right2:before {
    content: "\e6cc";
}
.icon--arrow-left3:before {
    content: "\e6cd";
}
.icon--arrow-down3:before {
    content: "\e6ce";
}
.icon--arrow-up2:before {
    content: "\e6cf";
}
.icon--arrow-right3:before {
    content: "\e6d0";
}
.icon--arrow-left4:before {
    content: "\e6d1";
}
.icon--arrow-down4:before {
    content: "\e6d2";
}
.icon--arrow-up3:before {
    content: "\e6d3";
}
.icon--arrow-right4:before {
    content: "\e6d4";
}
.icon--arrow-left5:before {
    content: "\e6d5";
}
.icon--arrow-down5:before {
    content: "\e6d6";
}
.icon--arrow-up4:before {
    content: "\e6d7";
}
.icon--arrow-right5:before {
    content: "\e6d8";
}
.icon--arrow-left6:before {
    content: "\e6d9";
}
.icon--arrow-down6:before {
    content: "\e6da";
}
.icon--arrow-up5:before {
    content: "\e6db";
}
.icon--arrow-right6:before {
    content: "\e6dc";
}
.icon--menu2:before {
    content: "\e6dd";
}
.icon--ellipsis:before {
    content: "\e6de";
}
.icon--dots:before {
    content: "\e6df";
}
.icon--dot:before {
    content: "\e6e0";
}
.icon--cc:before {
    content: "\e6e1";
}
.icon--cc-by:before {
    content: "\e6e2";
}
.icon--cc-nc:before {
    content: "\e6e3";
}
.icon--cc-nc-eu:before {
    content: "\e6e4";
}
.icon--cc-nc-jp:before {
    content: "\e6e5";
}
.icon--cc-sa:before {
    content: "\e6e6";
}
.icon--cc-nd:before {
    content: "\e6e7";
}
.icon--cc-pd:before {
    content: "\e6e8";
}
.icon--cc-zero:before {
    content: "\e6e9";
}
.icon--cc-share:before {
    content: "\e6ea";
}
.icon--cc-share2:before {
    content: "\e6eb";
}
.icon--danielbruce:before {
    content: "\e6ec";
}
.icon--danielbruce2:before {
    content: "\e6ed";
}
.icon--github:before {
    content: "\e6ee";
}
.icon--github2:before {
    content: "\e6ef";
}
.icon--flickr:before {
    content: "\e6f0";
}
.icon--flickr2:before {
    content: "\e6f1";
}
.icon--vimeo:before {
    content: "\e6f2";
}
.icon--vimeo2:before {
    content: "\e6f3";
}
.icon--twitter:before {
    content: "\e6f4";
}
.icon--twitter2:before {
    content: "\e6f5";
}
.icon--facebook:before {
    content: "\e6f6";
}
.icon--facebook2:before {
    content: "\e6f7";
}
.icon--facebook3:before {
    content: "\e6f8";
}
.icon--googleplus:before {
    content: "\e6f9";
}
.icon--googleplus2:before {
    content: "\e6fa";
}
.icon--pinterest:before {
    content: "\e6fb";
}
.icon--pinterest2:before {
    content: "\e6fc";
}
.icon--tumblr:before {
    content: "\e6fd";
}
.icon--tumblr2:before {
    content: "\e6fe";
}
.icon--linkedin:before {
    content: "\e6ff";
}
.icon--linkedin2:before {
    content: "\e700";
}
.icon--dribbble:before {
    content: "\e701";
}
.icon--dribbble2:before {
    content: "\e702";
}
.icon--stumbleupon:before {
    content: "\e703";
}
.icon--stumbleupon2:before {
    content: "\e704";
}
.icon--lastfm:before {
    content: "\e705";
}
.icon--lastfm2:before {
    content: "\e706";
}
.icon--rdio:before {
    content: "\e707";
}
.icon--rdio2:before {
    content: "\e708";
}
.icon--spotify:before {
    content: "\e709";
}
.icon--spotify2:before {
    content: "\e70a";
}
.icon--qq:before {
    content: "\e70b";
}
.icon--instagram:before {
    content: "\e70c";
}
.icon--dropbox:before {
    content: "\e70d";
}
.icon--evernote:before {
    content: "\e70e";
}
.icon--flattr:before {
    content: "\e70f";
}
.icon--skype:before {
    content: "\e710";
}
.icon--skype2:before {
    content: "\e711";
}
.icon--renren:before {
    content: "\e712";
}
.icon--sina-weibo:before {
    content: "\e713";
}
.icon--paypal:before {
    content: "\e714";
}
.icon--picasa:before {
    content: "\e715";
}
.icon--soundcloud:before {
    content: "\e716";
}
.icon--mixi:before {
    content: "\e717";
}
.icon--behance:before {
    content: "\e718";
}
.icon--circles:before {
    content: "\e719";
}
.icon--vk:before {
    content: "\e71a";
}
.icon--smashing:before {
    content: "\e71b";
}