
.js--img-zoom--container {
    position: relative;
    top: 0;
    left: 0;
}

.js--img-zoom--lens {
    display: none;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid @borderColor;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    cursor: pointer;
}

.js--img-zoom--flyout {
    .unitize-width(460);
    .unitize-height(340);
    .unitize(-480, 16, right);
    display: none;
    position: absolute;
    top: 0;
    z-index: 950;
    overflow: hidden;
    background: #FFFFFF;
    border: 2px solid @borderColor;
}