/* A label for displaying a status.

```
<span class="label success">Success</span>
```
*/
.label {
    .unitize-padding(3, 8);
    .unitize-margin(0, 5);
    .unitize(12, 16, font-size);
    .unitize(18, 16, line-height);
    .border-radius(3px);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background: @primaryTextColor;

    &.success {
        background: #5cb85c;
    }

    &.info {
        background: #5bc0de;
    }

    &.warning {
        background: #f0ad4e;
    }

    &.error {
        background: #d9534f;
    }
}