.last-seen-products {
    clear: both;
}

.last-seen-products--title {
    color: @primaryTextColor;
    margin: 0;
}

.last-seen-products--slider {
    overflow: hidden;
    position: relative;
}

.last-seen-products--container {
    position: relative;
    overflow: hidden;
}

.last-seen-products--article {
    .unitize-height(200);
    text-align: center;
    display: block;
    position: relative;
    float: left;
}

.last-seen-products--description {
    .unitize(40, 16, line-height);
}

.last-seen-products--thumbnail {
    .unitize-height(160);
    display: block;
}

.last-seen-products--thumbnail-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}