.last-seen-products {
    .clearfix();
    clear: both;
}

.last-seen-products--slider,
.last-seen-products--container {
    position: relative;
    overflow: hidden;
}

.last-seen-products--container {
    padding: 0;
}

.last-seen-products--image {
    .unitize(120, 16, line-height);
    display: block;
}