.js--loading-indicator {
    .unitize-padding(20, 20, 20, 20, 16);
    .unitize-margin(-33, 0, 0, -33, 16);
    background: white;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    border: 1px solid black;

    div[class^="icon-"] {
        display: block;
        width: 26px;
        height: 26px;
    }

    .icon-default {
        &:before {
            display: block;

            width: 22px;
            height: 22px;

            border: 2px solid #ccc;
            border-top: 2px solid #333;

            content: "";

            .animation(keyframe--spin 1s linear infinite);
            border-radius: 100%;
        }
    }
}