.js--loading-indicator {
    .unitize-padding(20, 20, 20, 20, 16);
    .unitize-margin(-28, 0, 0, -28, 16);
    background: white;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    border: 1px solid black;

    div[class^="icon-"] {
        display: block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .icon-default {
        background-image: url(../../img/icons/loading-indicator.gif);
        .unitize-height(16, 16);
        .unitize-width(16, 16);
    }
}