
// Some styling rules can also be found in the hacks.less!

.js--menu-scroller {
    position: relative;

    &:before,
    &:after,
    &::before,
    &::after {
        .linear-gradient-multi(0%, white, 50%, rgba(255, 255, 255, 0.8), 100%, rgba(255, 255, 255, 0), left, right);
        content: "";
        display: block;
        width: 10%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 500;
        position: absolute;
    }

    &:after,
    &::after{
        .linear-gradient-multi(0%, white, 50%, rgba(255, 255, 255, 0.8), 100%, rgba(255, 255, 255, 0), right, left);
        background-color: transparent;
        bottom: 0;
        right: 0;
        left: auto;
    }

    &.is--left:before,
    &.is--right:after,
    &.is--left::before,
    &.is--right::after {
        visibility: hidden;
    }
}

.js--menu-scroller--viewport {
    overflow: hidden;
}

.js--menu-scroller--list {
    /**
     * Large width so the menu doesn't wrap on initialization.
     * The right width will be set by the plugin
     */
    width: 10000%;
    max-width: none;
    overflow: visible;
    position: relative;
    white-space: nowrap;
    left: 0;
}

.js--menu-scroller--arrow {
    .unitize-width(26);
    .unitize-padding(0, 8);
    .border-radius();
    .unitize(10, 16, font-size);
    .unitize(16, 16, line-height);
    background: @brand-secondary;
    position: absolute;
    height: 70%;
    top: 15%;
    font-family: "shopware";
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 750;
    display: none;

    &:hover {
        background: @brand-secondary-dark;
    }

    &:active {
        .linear-gradient(@brand-secondary-dark, @brand-secondary);
    }

    &.left--arrow {
        .unitize(5, 16, left);
    }

    &.right--arrow {
        .unitize(5, 16, right);
    }

    .arrow--content {
        .unitize(-8, 16, margin-top);
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
}