
.product-slider {
    .unitize-height(340);
    display: block;
    overflow: hidden;
    position: relative;
}

.product-slider--container {
    .clearfix();
    .unitize-padding(20, 0, 0, 0);
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-slider--item {
    .unitize-padding(10, 10);
    display: block;
    position: relative;
    float: left;

    .product--image {
        .unitize-height(255);
        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
        display: block;
        text-align: center;
        position: relative;
    }

    .image--element {
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;

        img {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
            z-index: 500;
        }
    }

    .product--title {
        .unitize(14, 16, font-size);
        .user-select(none);
        .touch-callout(none);
        .tap-highlight-color(rgba(0, 0, 0, 0));
        display: block;
        text-align: center;
        color: @text-color;

        &:hover {
            color: @brand-primary;
        }
    }
}

.product-slider--arrow {
    .unitize-width(22);
    .unitize-height(30);
    .unitize(-15, 16, margin-top);
    .unitize(28, 16, line-height);
    .unitize(12, 16, font-size);
    .border-radius(3px);
    .linear-gradient(#ffffff, @gray-light);
    .user-select(none);
    .touch-callout(none);
    .tap-highlight-color(rgba(0, 0, 0, 0));
    display: block;
    position: absolute;
    top: 50%;
    z-index: 750;
    font-family: 'shopware';
    text-align: center;
    color: @text-color;
    border: 1px solid @border-color;
    cursor: pointer;

    &.is--left {
        .unitize(10, 16, left);

        &:before,
        &::before {
            content: "\e611";
        }
    }

    &.is--right {
        .unitize(10, 16, right);

        &:before {
            content: "\e60f";
        }
    }

    &:hover {
        color: @brand-primary;
    }
}

@media screen and(min-width: @tabletViewportWidth) {

    .product-slider {
        .unitize-height(220);
    }

    .product-slider--item {
        .product--image {
            .unitize-height(140);
        }

        .product--title {
            .unitize(12, 16, font-size);
        }
    }
}

@media screen and(min-width: @desktopViewportWidth) {

    .product-slider {
        .unitize-height(200);
    }

    .product-slider--item {
        .product--image {
            .unitize-height(105);
        }

        .product--title {
            .unitize(10, 16, font-size);
        }
    }
}