.product-slider {
    .unitize-height(270);
    display: block;
    overflow: hidden;
    position: relative;

    .product--box {
        .unitize-padding(10, 10);
        display: block;
        position: relative;
        float: left;

        &:hover .product--title {
            color: @brand-primary;
        }

        .box--content {
            border: 0 none;
            padding: 0;
        }

        .product--price-info {
            height: auto;

            .price--unit {
                .unitize-height(14);
            }

            .label--purchase-unit {
                .unitize(5, 16, margin-right);
            }

            .price--default {
                .unitize(14, 16, font-size);
                font-weight: normal;
            }

            .is--discount {
                font-weight: bold;
            }
        }

        .product--image {
            .unitize-height(140);
            .user-select(none);
            .touch-callout(none);
            .tap-highlight-color(rgba(0, 0, 0, 0));
            .unitize(10, 16, margin-bottom);
            display: block;
            text-align: center;
            position: relative;
        }

        .image--element {
            height: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
            position: relative;

            img {
                position: absolute;
                top: 0; bottom: 0;
                left: 0; right: 0;
                margin: auto;
                display: inline-block;
                vertical-align: middle;
                z-index: 500;
            }
        }

        .product--title {
            .unitize(14, 16, font-size);
            .unitize(40, 16, height);
            .user-select(none);
            .touch-callout(none);
            .tap-highlight-color(rgba(0, 0, 0, 0));
            display: block;
            color: @text-color;
            font-weight: normal;
        }
    }
}

.product-slider--container {
    .clearfix();
    .unitize-padding(10, 0, 0, 0);
    width: 200%;
    position: absolute;
    top: 0;
    left: 0;
}

.product-slider--arrow {
    .unitize-width(22);
    .unitize-height(30);
    .unitize(-15, 16, margin-top);
    .unitize(28, 16, line-height);
    .unitize(12, 16, font-size);
    .border-radius();
    .linear-gradient(#ffffff, @gray-light);
    .user-select(none);
    .touch-callout(none);
    .tap-highlight-color(rgba(0, 0, 0, 0));
    display: block;
    position: absolute;
    top: 50%;
    z-index: 750;
    font-family: 'shopware';
    text-align: center;
    color: @text-color;
    border: 1px solid @border-color;
    cursor: pointer;

    &.is--left {
        .unitize(10, 16, left);

        &:before,
        &::before {
            content: "\e611";
        }
    }

    &.is--right {
        .unitize(10, 16, right);

        &:before {
            content: "\e60f";
        }
    }

    &:hover {
        color: @brand-primary;
    }
}