.tagcloud {

    a {
        color: @text-color;
        .unitize-margin(0, 10, 0, 0);

        &:hover { color: @link-color; }
    }

    .tag0 {
        .unitize(21, 16, font-size);
        .unitize(21, 16, line-height);
    }

    .tag1 {
        .unitize(16, 16, font-size);
        .unitize(16, 16, line-height);
        font-weight: bold;
    }

    .tag2 {
        .unitize(14, 16, font-size);
        .unitize(14, 16, line-height);
    }

    .tag3 {
        .unitize(12, 16, font-size);
        .unitize(12, 16, line-height);
        font-weight: bold;
    }
}