/*
Listing
==========================================
Contains the styles of the product listing and its components.
*/

    // Listing main content
.listing--content {
    .unitize-margin(20, 0);
}

    // Category banner
.banner--container {
    .unitize-margin(0, 0, 20, 0);
}

    // Listing teaser text
.category--teaser {
    .unitize-margin(0, 0, 20, 0);

    .hero--text {
        .unitize-padding(10, 20);
    }

    .offcanvas--content {
        .unitize(20, 16, padding);

        .content--title {
            .unitize(18, 16, font-size);
            .unitize-margin(10, 0, 15, 0);
            font-weight: 700;
            color: @text-color-dark;
        }
    }
}

    // Vendor information
.vendor--info {
    .clearfix();
    .unitize-margin(0, 0, 20, 0);

    .vendor--image {
        .unitize-margin(0, 0, 10, 0);
        margin-left: auto;
        margin-right: auto;
    }

    .vendor--text {
        .unitize-margin(0, 0, 20, 0);
    }
}

    // Listing actions
.listing--actions {
    .clearfix();
}

.action--filter-btn {
    .unitize(10, 16, margin-bottom);

    .filter--trigger {
        display: block;
        position: relative;

		.icon--filter {
			.unitize(8, 16, margin-right);
		}

        .action--collapse-icon {
            .unitize-padding(0, 10);
            .unitize(24, 16, line-height);
            .primary-gradient();
            .border-radius();
            display: inline-block;
            color: #fff;
            float: right;
        }
    }
}

    // Filter options
.action--filter-options {
    .filter--container {
        .unitize-padding(0, 10);
    }

    .filter--close-btn {
        .unitize-padding(12, 10);
        .secondary-gradient();
        display: block;
        color: #fff;
        font-weight: bold;

        &:hover {
            color: #fff;
        }

        .icon--arrow-right {
            .unitize-margin(3, 0, 0, 0);
            float: right;
        }
    }

    .filter--btn-apply {
        clear: both;
    }

    .filter--list {
        list-style: none;
    }

    .filter--entry {
        .unitize-padding(10, 20);
        .unitize(16, 16, font-size);
        display: block;
        border-bottom: 1px solid @border-color;

        &:last-child {
            border: 0 none;
        }
    }

    .filter--link {
        color: @text-color;

        &:hover {
            color: @brand-primary;
        }
    }
}

    // Sorting options
.action--sort {
    .unitize(20, 16, margin-bottom);
    display: block;

    .sort--label {
        display: none;
    }

    .sort--select {
        .unitize-height(34);
        .unitize(34, 16, line-height);
        width: 100%;
    }
}

    // Items per page filter
.action--per-page {
    display: none;
}

    // Listing paging
.listing--paging {
    .clearfix();
    .unitize-padding(10, 0);
    display: block;

    .paging--label {
        display: none;
    }

    .paging--display {
        .unitize(30, 16, line-height);
        .unitize(10, 16, margin-left);
    }
}

.listing--bottom-paging {
    .unitize-margin(10, 0, 20, 0);
}

.listing--container {
    overflow: hidden;
}

.listing {
	.clearfix();
	margin: -2% 0 0 -2%;
	padding: 0 0 2% 0;
}

    // button wrapper for ininite scrolling actions
.infinite--actions {
	width: 100%;
	margin: 0 auto;
	text-align: center;

	.js--load-more, .js--load-previous {
		.unitize(20, 16, margin-bottom);
	}
}

    // Tablet view
@media screen and(min-width: @tabletViewportWidth) {

	.category--teaser {
		.hero--headline {
			.unitize(@font-size-h1, 16, font-size);
			.unitize-padding(40, 0, 0, 0);
			.unitize-margin(0, 40);
		}
		.hero--text {
			.unitize-padding(25, 40, 10, 40);
		}
	}

    .listing--content {
    	.clearfix();
        .unitize-margin(30, 0);
    }

    .vendor--info {
        .vendor--image {
            .unitize-margin(0, 20, 20, 0);
            float: left;
        }

        .vendor--text {
            .unitize-margin(0, 0, 0, 250);
        }
    }

    .listing--actions {
        .border-radius();
        .unitize-margin(0, 0, 20, 0);
        .unitize(10, 16, padding-top);
        border: 1px solid @border-color;
        background: darken(@gray-light, 1%);

        .listing--paging {
            .unitize-padding(10, 10);
            display: block;
            border-top: 1px solid @border-color;
        }
    }

    .action--per-page {
        .unitize(32, 16, line-height);
        display: inline-block;
        width: 30%;
        text-align: right;
        float: right;

        .per-page--label { display: none }

        .per-page--select {
            .unitize-width(80);
            .unitize-height(32);
            .unitize(30, 16, line-height);
            text-align: center;
            vertical-align: top;
        }
    }

    .action--sort {
        .unitize-width(200);
        .unitize-margin(0, 10, 0, 0);
        display: inline-block;
        text-align: right;
		float: right;

        .sort--select {
            .unitize-width(200);
        }
    }

    .action--filter-btn {
        .unitize-width(190);
        .unitize-margin(0, 20, 10, 10);
        float: left;

        .filter--trigger {
            .action--collapse-icon {
                .unitize-width(16);
                .unitize-height(16);
                .unitize(10, 16, right);
                .unitize(-8, 16, margin-top);
                .unitize(6, 16, font-size);
                .unitize(16, 16, line-height);
                .reset-border-radius();
                display: inline-block;
                padding: 0;
                position: absolute;
                top: 50%;
                font-family: "shopware";
                text-align: center;
                background: none;
                color: inherit;

                &:before {
                    content: "\e612";
                }
            }

            &.is--active {
                .is--primary();

                .action--collapse-icon:before {
                    content: "\e610";
                }
            }
        }
    }

    .action--filter-options {
        width: auto;
        height: auto;
        padding: 0;
        overflow: visible;
        position: relative;
        background: #fff;
        border: 0 none;
        clear: both;

        &.is--collapsed,
        &.is--active-filter {
            border-width: 1px 0 0 0;
            border-style: solid;
            border-color: @border-color;
        }

        &.is--active-filter {
            .filter--active-container {
                display: block;
            }
        }

        #filter,
        .filter--active-container {
            display: none;
        }

        .filter--close-btn {
            display: none;
        }

        .filter--container {
            .clearfix();
            margin-left: -2%;
            padding-left: 3%;
        }

        .filter--group {
            .unitize-height(38);
            width: 31%;
            margin: 0 2% 2% 0;
            position: relative;
            float: left;
        }

        .filter--header {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1100;

            &.is--active {
                z-index: 1300;
            }
        }

        .filter--content {
            .unitize(38, 16, top);
            width: 100%;
            position: absolute;
            left: 0;
        }

        #filter {
            .clearfix();
            .unitize(10, 16, padding-bottom);
        }
    }

    .listing--bottom-paging {
        .unitize-padding(0, 10, 0, 10);
        .border-radius();
        border: 1px solid @border-color;
        background: darken(@gray-light, 1%);
    }
}

    // Desktop view
@media screen and(min-width: @desktopViewportWidth) {

    .listing--content {
        .unitize(45, 16, padding-top);
        .unitize-margin(0, 0);
    }

    .action--filter-btn {
        width: 20%;
        margin-right: 2%;

        .filter--trigger {
            .unitize(14, 16, font-size);

            .action--collapse-icon {
                .unitize(-8, 16, margin-top);
            }
        }
    }

    .action--filter-options {
        background: #fff;

        &.is--collapsed,
        &.is--active-filter {
            border-width: 1px 0 0 0;
        }
    }

    .action--sort {
        .unitize(32, 16, line-height);
        .unitize-margin(0, 10, 10, 0);
        width: 40%;

        .sort--label {
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }

        .sort--select {
            .unitize-width(200);
            vertical-align: top;
        }
    }

    .action--per-page {

        .per-page--label {
            .unitize-margin(0, 10, 0, 0);
            display: inline-block;
            font-weight: bold;
        }
    }

	.listing--paging {
		display: block;
		clear: both;

		.paging--label {
			.unitize-margin(0, 10, 0, 0);
			font-weight: bold;
		}

		.paging--display {
			.unitize(30, 16, line-height);
		}
	}
}
