/*
Tell-a-friend
==========================================
Contains the tell-a-friend element styling that can be used to share products.

The option can be enabled in the shopware backend and is disabled by default.
*/

.tellafriend--content {
    .unitize(10, 16, padding-top);
    width: 100%;

    .tellafriend--field {
	    .unitize-margin(0, 0, 10, 0);
        width: 100%;
    }

    .tellafriend--buttons {
        .clearfix();
    }

    .captcha--placeholder {
        .unitize(10, 16, margin-bottom);
    }

    .captcha--notice {
        .unitize(10, 16, margin-bottom);
        display: block;
    }

    .alert {
        .unitize(30, 16, margin-top);
    }

    .review--notice {
        .unitize(10, 16, margin-bottom);
        .unitize(14, 16, font-size);
    }
}

    // Tablet view
@media screen and(min-width: @tabletViewportWidth) {

    .tellafriend--content {
        .unitize(20, 16, padding-top);
        width: 100%;

        .tellafriend--field {
            .unitize(15, 16, margin-bottom);
        }

        .alert {
            .unitize-margin(0, 0, 16, 0);
        }
    }
}

    // Desktop view
@media screen and(min-width: @desktopViewportWidth) {
    .tellafriend--content {
        .unitize(45, 16, padding-top);
    }
}
