// Basic color definition
@primaryColor: #e1540f;
@primaryContrastColor: #ad1200;
@secondaryColor: #d9400b;

@complementaryPrimaryColor: #1ABC9C;
@complementarySecondaryColor: #006943;

@darkTextColor: #2b3742;
@primaryTextColor: #5f7285;
@lightTextColor: #8594a5;

@borderColor: #d8dde5;
@lightDarkBorderColor: #C9D0DB;
@darkBorderColor: #515b66;
@primaryBackgroundColor: #eceef1;

@lightGradientStart: #fff;
@lightGradientEnd: #f8f8fa;

// Alert color definition
@successText: #3c763d;
@successBackground: #dff0d8;
@successBorderColor: #d6e9c6;

@infoText: #31708f;
@infoBackground: #d9edf7;
@infoBorderColor: #bce8f1;

@warningText: #8a6d3b;
@warningBackground: #fcf8e3;
@warningBorderColor: #faebcc;

@errorText: #a94442;
@errorBackground: #f2dede;
@errorBorderColor: #ebccd1;

// Delivery information colors
@deliveryAvailableIcon: #62d100;
@deliveryAvailableText: #449101;

@deliveryMoreIsComingIcon: #f0ad4e;
@deliveryMoreIsComingText: #8a6d3b;

@deliveryNotAvailableIcon: #f9390a;
@deliveryNotAvailableText: #b1001d;

@reviewStarColor: #ffcb00;