// Base font stack
@bodyFontStack: normal 100%/1.4 "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Headline font stack
@headlineFontStack: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Subheadline font stack
@subheadlineFontStack: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Shopware font directory
@fontDirectory: "../src/fonts/";

// Open Sans font directory
@OpenSansPath: "../vendors/open-sans-fontface/fonts";