@primaryColor: #e1540f;
@secondaryColor: #d9400b;

@darkTextColor: #2b3742;
@primaryTextColor: #5f7285;
@lightTextColor: #8594a5;

@borderColor: #d8dde5;
@primaryBackgroundColor: #eceef1;

@lightGradientStart: #fff;
@lightGradientEnd: #f8f8fa;