// Base font stack, font-size 14px regular
@bodyFontStack: normal 0.875em/1.5em "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@headlineFontStack: regular 1.75em/2.1em "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@subheadlineFontStack: normal 1.25em/1.8em "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;