// Base font stack, font-size 14px regular
@bodyFontStack: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@headlineFontStack: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@subheadlineFontStack: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;