
.x-form-fieldcontainer > tbody > tr > .x-form-item-body {
  background: transparent;
}

.media-multi-selection .media-multi-selection-body {
  border: 1px solid #c4c4c4;
  padding: 0;
  margin: 0;
}

.x-form-item-body.shopware-multi-selection-form-item-body {
  padding: 0;
}

.x-form-item-body.shopware-single-selection-form-item-body {
  padding: 0;
}

.media-multi-selection .item {
  width: 10%;
  border: 0 none !important;
  min-width: 140px;
  height: 140px;
  position: relative;
  float: left;
  margin: 0 !important;
  padding: 15px;
  text-align: center;
}

.media-multi-selection .item.x-item-selected img {
  -moz-box-shadow: 0 0 5px #1684e7;
  -webkit-box-shadow: 0 0 5px #1684e7;
  -o-box-shadow: 0 0 5px #1684e7;
  box-shadow: 0 0 5px #1684e7;
  border-color: #1684E7 !important;
}

.media-multi-selection img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  border: 1px solid #c7c7c7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  padding: 15px;
}

.media-multi-selection .form-field-grid-view {
  background: #fff;
  border-top: 1px solid #c4c4c4;
}

body .x-article-detail-window .x-article-image-info .outer-article-info-thumbnail {
  padding: 13px 0;
  text-align: center;
  box-shadow: 0 0 0 transparent;
  border: 0 none !important;
}

body .x-article-detail-window .x-article-image-info .article-thumb-wrap,
body .x-article-detail-window .x-article-image-info .article-thumb-wrap .thumb,
body .x-article-detail-window .x-article-image-info .article-thumb-wrap .inner-thumb,
body .x-article-detail-window .x-article-image-info .article-thumb-wrap .inner-thumb img {
  max-width: 100% !important;
  max-height: none !important;
  display: block !important;
}
body .x-article-detail-window .x-article-image-info .article-thumb-wrap .inner-thumb img {
  margin: 0 auto !important;
}


.shopware-form-field-grid .x-grid-with-row-lines.x-grid-header-hidden {
  border-top: 0 none;
}