div[id^=config-main-window] {
    div[id^=config-navigation] {
        .#{$prefix}panel-body {
            border-bottom-color: transparent;

            .#{$prefix}toolbar {
                @include reset-box-shadow;
                border-color: #ebedef;
                padding: 5px 0 5px 2px;
            }
        }
    }

    div[id^=config-main-panel] .#{$prefix}panel-body {
        background: #ebedef;
    }
}

.listing-filter-mode-select-item {
    .layout-info {
        padding-top: 0;
    }
}

.#{$prefix}variant-facet-info {
    font-size: 11px;
    font-style: italic;
    line-height: 17px;
    margin-bottom: 10px;
    color: #999999;
}
