div[id^=property-main-window] {
    .#{$prefix}box-item {
        border: 0 none !important;
    }

    .#{$prefix}toolbar-shopware-ui .#{$prefix}btn {
        border: 1px solid #9cb1c8 !important;
    }

    div[id^=property-main-filterOptionGrid], div[id^=property-main-valueGrid] {
        border: 0 none;

        .#{$prefix}toolbar {
            border-left: 0 none;
            border-right: 0 none;
        }
    }
    div[id^=property-main-valueGrid] {
        .#{$prefix}grid-header-ct {
            border-left: 1px solid #a4b5c0
        }
        .#{$prefix}grid-body {
            border-left: 1px solid #a4b5c0
        }
    }

    div[id^=property-main-groupTree], .#{$prefix}panel .#{$prefix}grid-body {
        border-bottom: 0 none;
    }
    .#{$prefix}grid-with-row-lines {
        border-top: 0 none;
    }

    .#{$prefix}splitter-vertical {
        border-left: 1px solid #a4b5c0 !important;
        border-right: 1px solid #a4b5c0 !important;
    }
    .#{$prefix}grid-body + .#{$prefix}toolbar {
        border-top: 1px solid #9cb1c8 !important;
    }
}
