div[id^=snippet-main-window] {
    .#{$prefix}window-header + .#{$prefix}toolbar {
        border-bottom: 1px solid #a4b5c0 !important;
    }

    div[id^=snippet-main-navigation] {
        .#{$prefix}panel-header {
            border-left: 0 none;
            padding: 8px 4px 8px 4px;
        }
    }
}