
.update-wizard-window {
    background: #fff;

    .text {
        font-size: 14px;
        font-family: 'Open Sans', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .update-wizard-card-container {
        background: #fff;

        .x-panel-body {
            background: #fff;
            border-width: 0;
        }
    }

    .update-wizard-tour-link {
        text-align: center;
        span {
            text-decoration: none;
            vertical-align: middle;
            display: inline-block;
            padding: 0 0 45px 20px;
            color: rgb(14, 56, 79);
        }
    }

    .update-wizard-plugin-headline {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        color: #089eff;
    }

    .form-panel .x-panel-body {
        background: #fff;
    }

    .form-panel label {
        font-size: 12px;
    }

    .update-wizard-toolbar {
        background: #fff;

        .x-box-inner {
            background: #fff;
        }
    }

    .plugin-manager-action-button.destroy-button {
        border-width: 2px !important;
    }

    .update-wizard-features {
        padding-bottom: 15px;
        font-size: 12px;

        .feature {
            display: inline-block;
            text-align: center;
            width: 33.3%;

            .feature-title {
                padding-top: 20px;
                color: #089eff;
                border: none;
                margin: 0;
                padding-bottom: 6px;
            }

            .image {
                width: 200px;
                margin: 0 auto;
                img { display: block; width: 100% }
            }
        }
    }
}