.#{$prefix}vote-window {
    .#{$prefix}grid-with-row-lines {
        border: 0 none;
    }

    .#{$prefix}window-body {
        overflow: hidden !important;
    }

}

div[id^=vote-main-infopanel], div[id^=vote-main-edit] .info-view,
div[id^=vote-main-detail] .info-view{
    line-height: 22px;
    color: $font-color;

    .#{$prefix}panel-header {
        line-height: 16px;
        padding: 7px 4px 3px 10px;
    }
}
div[id^=vote-main-infopanel] {
    .#{$prefix}info-toolbar {
        border-left: 1px solid #a4b5c0;;
        border-right: 0 none;
        background: transparent !important;
    }
}
