/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Tab
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */

/** Tabbar Styling - Default */
.#{$prefix}tab-bar {

    background: svg-linear-gradient(0%, 0%, 0%, 100%, (
                  svg-color-stop(#f7f7f7, 0%, 1),
                  svg-color-stop(#e5e6e9, 100%, 1)
                )) center center no-repeat transparent;

	border-color: $font-color;
	
	.#{$prefix}tab-bar-body {
		height: 33px !important;
		padding: 9px 5px 3px;
	}
}

/** Tabbar Styling - Plain */
.#{$prefix}tab-bar-default-plain {
	background: transparent;
	
	.#{$prefix}box-inner {
		height: 33px !important;
	}
	
	.#{$prefix}tab-bar-body {
		padding-top: 10px;
	}
	
	.#{$prefix}tab-default-top {
		top: 0px !important;
	}
}
.#{$prefix}ie9 .#{$prefix}tab-bar-default-plain {
    filter: none;
}

/** Tabbar strip */
.#{$prefix}tab-bar-top .#{$prefix}tab-bar-strip {
	background: #1e88e6;
	border-color: #023cd9;
	top: 30px;
}

.#{$prefix}tab-bar-strip-default-plain {
	height: 4px !important;
}

/** Tab Styling - Default */
.#{$prefix}tab-default-top {
	@include border-radius(2px 2px 0 0);
	@include single-transition(background, 200ms, ease-in);
	@include inner-border(1px 1px 0 1px, #d9dee4);
	background: #f1f2f2 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATCAIAAADeafBOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAN0lEQVQIW2O4cusB05ev35n+/vvH9A+M/zP9/QthQ8SAfLgcSOw/038kud+//zJ9+/GD6dOXbwBDNjfyea5ETQAAAABJRU5ErkJggg==") repeat-x left bottom;
	border-color: #8896a6;
	border-bottom-color: #023cd9 !important;
	margin: 0 5px;
	
	button .#{$prefix}tab-inner {
		color: #fff;
		text-shadow: 0 1px 0 #8190a3;
		margin: 0 !important; /** Fixes the alignment of the text in FF */
	}
	
	/** Tab Styling - Hover */
	&:hover {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAMElEQVQIW2N49fYD0+t3H5n+/fsHxP8h9P//CD4S+z8WcZDY7z9/mX78+sX07dtPADgJOzMb//O9AAAAAElFTkSuQmCC") repeat-x left bottom;
	}
}

/** IE9 specific */
.#{$prefix}ie9 .#{$prefix}tab-default-top {
    background: #f1f2f2 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATCAIAAADeafBOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAN0lEQVQIW2O4cusB05ev35n+/vvH9A+M/zP9/QthQ8SAfLgcSOw/038kud+//zJ9+/GD6dOXbwBDNjfyea5ETQAAAABJRU5ErkJggg==") repeat-x left bottom;

    /** Tab Styling - Hover */
    &:hover {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAMElEQVQIW2N49fYD0+t3H5n+/fsHxP8h9P//CD4S+z8WcZDY7z9/mX78+sX07dtPADgJOzMb//O9AAAAAElFTkSuQmCC") repeat-x left bottom;
    }
}

/** Tab Styling - Active */
.#{$prefix}tab-top-active {
    filter: none;
	@include inner-border(1px 1px 0 1px, #4dc2f7);
	border-color: #0e6de1;
	border-bottom-color: #1684e7 !important;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOklEQVQImS3IsRGAAAwDMecHZHmOIZiAJrYpQKV0nA/XvSgiFo3ICmWoQzaMh1pkizbIxe73+S9F0QtkGyitCFKC2wAAAABJRU5ErkJggg==") repeat-x !important;
	
	button .#{$prefix}tab-inner {
		color: #fff;
		text-shadow: 0 1px 0 #0941e2;
	}
}
/** IE9 specific */
.#{$prefix}ie9 .#{$prefix}tab-top-active {
    filter: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOklEQVQImS3IsRGAAAwDMecHZHmOIZiAJrYpQKV0nA/XvSgiFo3ICmWoQzaMh1pkizbIxe73+S9F0QtkGyitCFKC2wAAAABJRU5ErkJggg==") repeat-x !important;
}

/** Tab Styling - Disable */
.#{$prefix}tab-default-top-disabled {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAATCAIAAADeafBOAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAL0lEQVQIHQXBsRHAMACEMI79l42rb2Is+Z1jZSVhIWTkLQkrIwkLAykp/3vd5rYH/ewop3Z+RCEAAAAASUVORK5CYII=") repeat-x !important;
	border-color: #abbbc5;
	border-bottom-color: #167ceb;
	
	button {
		color: #8596a2 !important;
	}
	
	.x-tab-inner {
		color: #8596a2 !important;
		text-shadow: 0 1px 0 #fff !important;
	}

}

.#{$prefix}tabpanel-child .#{$prefix}panel-body-default {
	background: transparent;
} 