/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Tree
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
@mixin shopware-tree {
    .#{$prefix}tree-panel {

        // Header
        .#{$prefix}grid-header-ct {
            border-right-color: $border-color;

            // Last column
            .#{$prefix}column-header-last {
                border-right: 1px solid #fff;
            }

            // Header text
            .#{$prefix}column-header-text {
                text-shadow: 0 1px 0 #fff;
            }
        }

        // Tree panel body
        .#{$prefix}panel-body {
            border-right-color: $border-color;

            .#{$prefix}grid-view {
                @include single-box-shadow($font-color, 0, 1px, 3px, -2px, true);
                padding: 5px 0 0;

                // Action column
                .#{$prefix}action-col-icon {
                    width: 16px; height: 16px;
                    margin-left: 10px;
                }
                
                .#{$prefix}grid-cell {
                	border-bottom: 1px solid transparent !important;
                }

                // Column styling
                .#{$prefix}grid-row-selected .#{$prefix}grid-cell {
                    border-top: 1px solid #d0dfeb;
                    border-bottom: 1px solid #d0dfeb !important;
                    background: #ddedf7 !important;
                    color: $font-color;
                }
            }
        }
        
        // Icons
       	.#{$prefix}tree-icon-parent {
       		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcFJREFUOBGlwT2qXlUYBtD17n2iV41EECMJWisIzsNGrRyBhRMwEAQVsZLgCASH4VS09auSyqQw995z9vt4f0YgWauSeBXli+8Y6CDUoBdVVD5mfCbtxhh0KNf+0P3nVvJV+viQyRh0MwdB+O3JT0/6aGNQVRoj8fWjH0dqfFo+f/zt77/+/Mtau7VizKkw53Q6neyXy1tvv2tU1MCKFvfu3fXN4x8ebZJxcb57+fJCVeswxtCLhw8+cDr97dnTk3RJLaMm4tlTxNj0msceq2NUCfY9aM9fvHD//Yfeux+VlhqSYNq2iZqbzHF5cByRjjFZiypX4vLyX7cWpmsJZ2dv0MfYZM3jaJeXy7VadJdRzRjSjUKhJaUqukObm2Tb9+H8opQYFYIxUFT0EXNzZWJJlfNzdG+bNvdjWatV0UiKtaSGEoV1TsZhImnbCKm56bWto/UehhtlSWM0A6HDWKxuqtxZi7Zt2nas2BOjSUclagy9N7OMKr2iUUpEH6HXttn3u3NOZ3deF1cKQZZhiFsZmEXcqmJfd8snX37vzQcfmZNeGBQqpNCuVU3p5UYVY/D89FfhNbyDzf9z4J9K4lX8B985DmqCMlBjAAAAAElFTkSuQmCC") no-repeat;
       	}
       	
       	.#{$prefix}tree-icon-leaf {
       		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPNJREFUGBkFwb2JVVEUBtC1zz2DD5lMMDQx1SbGAkwtQEMNLECwAbEBsQcrMJIpQYNBDAQZzEb8ee+eb7tWwavn1w9AcZj37gD3rx6/ZMLPh6+fNWBzC/DhE0woLYAhYNgDEzbRgNIgEpiwVQugBZTVMGF2awABw94wYYqAQoNYDQNmt4hoEcEvez99xIQzEVAWhhu8uHijvw4YFRHRIuKvg92JTKjRGhAQsTu1fUJVBASwxG6xJqytNSAoS3xzZE04HVpAQDmKP45TptvOb87LhlKA33h/ud49yXRw9/OPtx/pGnU297FqH3ulvl9fffk3/wNyWHvRARFLjwAAAABJRU5ErkJggg==") no-repeat;
       	}
       	
       	.#{$prefix}grid-tree-node-expanded .#{$prefix}tree-icon-parent {
       		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhJJREFUOBGlwb+rlnUYx/H35/p+/cE5Z3CQBKFJwiBwl/oHXISWxnBsE4dUElxEMRVaGtrao6EtavBfSAmkTijq8QdHFNTnPHnfz31f18eTf0Hg6yXbvA/p5HksQQhcEA0yQf6Y6CfIhBZQBTaIX3H8hQCJbvEF4kOyQEAmILD4/sqlG+VChtkiDKcvXAhcx0A/YRAnz33943dXrw2V2IGrqGpIxWIxYItpKsoGw+FDG3x19puzhuuy6Nixs4JxNUEVKSBhmo2dZAoQcxY5i5c7hSsDG7egQzRXQs7MCObANkJUNihYzcYGV5GzwdFoApmO55hmc/Pv52wvR6CogkxQmEohFdMssNm/fy8En4HPEO1RJ6M9fTHS9jS+PP4RthFgQOySsI0kbCPg1KeXTzzZGY58e/nS1Y6zP3i55ND6OtvPl5AgmaogoiizS7h4pzeDxO+bT+5SbAZF23qx4OD6PqbBjKMZBlitinE04wDjYKqKKngzmtYbf/yzdY/Mu52iL5cTrTrDNIHBZpehBVCQJudASv7zalGvuP3bFvJ2x+4fbKzx72JkLiEbG9RETaYFVArKEAYFt7ae3SfrPpQ7q9XGwbU1ou2jyyCQDQg1cJreDdGQE0vc2ny6zbOH9/jzZ8Qnn19k4/BRbMCAQQYCDESDKpAQhRXw+vED7vzyA/BawF7gAND5/xIYgFG2eR9vAT2GS9z+aWMwAAAAAElFTkSuQmCC") no-repeat;
       	}
    }
}