default:
    paths:
        features: features
        bootstrap: %behat.paths.features%/bootstrap
    filters:
        tags: "~@noEmotion&&~@javascript&&~@knownFailing"
    extensions:
        SensioLabs\Behat\PageObjectExtension\Extension:
            namespaces:
                page: Emotion
                element: Emotion
        Shopware\Behat\ShopwareExtension\Extension: ~
        Behat\MinkExtension\Extension:
            ## defined in buildscript
            #base_url: 'http://localhost/shopware/'
            default_session: 'goutte'
            javascript_session: 'sahi'
            sahi: ~
            goutte: ~
            browser_name: firefox
    context:
        parameters:
            template: "emotion_orange"
            #host: "localhost"
            #base_path: "/shopware"

emotion:
    filters:
        tags: "~@noEmotion&&~@javascript&&~@knownFailing"
    extensions:
        SensioLabs\Behat\PageObjectExtension\Extension:
            namespaces:
                page: Emotion
                element: Emotion
    context:
        parameters:
            template: "emotion_orange"

responsive:
    filters:
        tags: "~@noResponsive&&~@javascript&&~@knownFailing"
    extensions:
        SensioLabs\Behat\PageObjectExtension\Extension:
            namespaces:
                page: Responsive
                element: Responsive
    context:
        parameters:
            template: "Responsive"
