default:
    extensions:
        SensioLabs\Behat\PageObjectExtension:
            namespaces:
                page: Shopware\Tests\Mink\Page
                element: Shopware\Tests\Mink\Element
        Shopware\Behat\ShopwareExtension: ~
        Behat\MinkExtension:
            ## defined in buildscript
            #base_url: 'http://localhost/shopware/'
            default_session: 'goutte'
            javascript_session: 'selenium2'
            goutte: ~
            selenium2:
                wd_host: "http://selenium:4444/wd/hub"
            browser_name: chrome

    gherkin:
      filters:
        tags: ~@knownFailing

    suites:
        default:
            paths:    [ %paths.base%/features ]
            template: Responsive
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Shopware\Tests\Mink\FeatureContext
                - Shopware\Tests\Mink\BackendContext
                - Shopware\Tests\Mink\AccountContext
                - Shopware\Tests\Mink\BlogContext
                - Shopware\Tests\Mink\CheckoutContext
                - Shopware\Tests\Mink\DetailContext
                - Shopware\Tests\Mink\FormContext
                - Shopware\Tests\Mink\ListingContext
                - Shopware\Tests\Mink\NoteContext
                - Shopware\Tests\Mink\SeoContext
                - Shopware\Tests\Mink\ShopwareContext
                - Shopware\Tests\Mink\SitemapContext
                - Shopware\Tests\Mink\SpecialContext
                - Shopware\Tests\Mink\TransformContext
                - Shopware\Tests\Mink\SecurityContext
                - Shopware\Tests\Mink\ExportContext
