/**
	The mixins provides you a cross-browser compatible method to set a box-shadow.

	Please refer to <http://caniuse.com/css-boxshadow> to see the browser support table of the feature.

	@param: {Number} x: Offset to the x axis (Default: 0)
	@param: {Number} y: Offset to the y axis (Default: 0)
	@param: {Number} blur: Bluring radius (Default: 1px)
	@param: {String} color: Color of the shadow (Default: #000)
*/
.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: #000) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	-ms-box-shadow: @arguments;
	-o-box-shadow: @arguments;
	box-shadow: @arguments;
}