// The mixins provides you a cross-browser compatible method to set a linear gradient which goes from top to bottom.
//
// Please refer to <http://caniuse.com/css-gradients> to see the browser support table of the feature.
//
// @param {String} start The start color of the gradient
// @param {String} end The end color of the gradient
.linear-gradient(@start, @end) {
	background-color: @start;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
	background-image: -webkit-linear-gradient(top, @start 0%, @end 100%);
	background-image: -moz-linear-gradient(top, @start, @end);
	background-image: -o-linear-gradient(top, @start, @end);
	background-image: linear-gradient(to bottom, @start, @end);
}
.linear-gradient-multi(@firstPos, @firstColor, @secondPos, @secondColor, @thirdPos, @thirdColor) {
	background-color: @firstColor;
	background-image: -moz-linear-gradient(top, @firstColor @firstPos, @secondColor @secondPos, @thirdColor @thirdPos);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(@firstPos,@firstColor), color-stop(@secondPos,@secondColor), color-stop(@thirdPos,@thirdColor));
	background-image: -webkit-linear-gradient(top, @firstColor @firstPos,@secondColor @secondPos,@thirdColor @thirdPos);
	background-image: -o-linear-gradient(top, @firstColor @firstPos,@secondColor @secondPos,@thirdColor @thirdPos);
	background-image: -ms-linear-gradient(top, @firstColor @firstPos,@secondColor @secondPos,@thirdColor @thirdPos);
	background-image: linear-gradient(to bottom, @firstColor @firstPos,@secondColor @secondPos,@thirdColor @thirdPos);
}