// The mixins provides you a cross-browser compatible method to set a linear gradient which goes from top to bottom.
//
// Please refer to <http://caniuse.com/css-gradients> to see the browser support table of the feature.
//
// @param {String} start The start color of the gradient
// @param {String} end The end color of the gradient
.linear-gradient(@start, @end) {
	background: @start;
	background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
	background: -webkit-linear-gradient(top, @start 0%, @end 100%);
	background: -moz-linear-gradient(top, @start, @end);
	background: -o-linear-gradient(top, @start, @end);
	background: linear-gradient(to bottom, @start, @end);
}