// The mixins provides you a cross-browser compatible opacity which supports IE starting from version 8 to the
// newest one. Safari, Chrome and Firefox are supported in all versions.
//
// Please refer to <http://caniuse.com/css-opacity> to see the browser support table of the feature.
//
// @param: {Number} opacity: Value of the opacity, starting from 0 to 1.
.opacity(@opacity) {
	@ie-opacity: @opacity * 100;
	-khtml-opacity: @opacity;
	-moz-opacity: @opacity;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity * 100})";
	opacity: @opacity;
}