<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./TestHelper.php" colors="true">
    <testsuites>
        <testsuite name="Shopware_AllTests">
            <directory>./Tests</directory>
            <directory>./RegressionTests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>disable</group>
            <group>performance</group>
            <group>functional</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">../../engine/core/</directory>
            <directory suffix=".php">../../engine/Shopware/</directory>
            <exclude>
                <directory>../../engine/Shopware/Plugins/Community</directory>
                <directory>../../engine/Shopware/Components/Xml</directory>
                <directory suffix="Meta.php">../../engine/Shopware/Plugins/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
