/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Widgets
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
.#{$prefix}widget-component {

	/** Header */
	.#{$prefix}panel-header {
		@include border-radius(3px 3px 0 0);	
		@include reset-box-shadow;
		padding-top: 8px;
		padding-bottom: 6px;
		border-top: 0 none;
		border-left: 1px solid transparent;
		background: #fff;
		
		/** Header text */
		.#{$prefix}panel-header-text {
			padding-left: 6px;
			font-size: 12px;
			color: #3d474f;
			font-weight: bold;
		}
	}
	
	/** Body */
	.#{$prefix}panel-body {
		border-top: 1px solid #dbdbdb;
		border-left: 0 none;
	}
	
	/** Basic grid styling */
	.#{$prefix}grid-with-row-lines { border: 0 none !important }
	.#{$prefix}grid-header-ct, .#{$prefix}grid-header-ct *  {
		background: transparent !important;
		border: 0 none;
	}
	.#{$prefix}grid-body .#{$prefix}grid-row-alt {
		background: transparent;
	}
}

/** Sales/Turnover widget */
div[id^=swag-sales-widget] {

	/** Conversation rate */
	.conversation-rate {
		@include user-select;
		margin: 10px 0 0;
		
		* {
			font-size: 11px;
			color: #8e979f;
			text-align: center;
			display: block;
		}
		.title { margin: 0 0 6px }
		.rate {
			font-size: 24px;
			line-height: 28px;
			font-weight: bold;
		}
	}
}
/** Visitors and customers widget */
div[id^=swag-visitors-customers-widget] {
	.visitors-online {
		@include user-select;
		margin: 10px 0 0;
		
		* {
			font-size: 11px;
			color: #8e979f;
			text-align: center;
			display: block;
		}
		.visitors {
			font-size: 24px;
			line-height: 28px;
			font-weight: bold;
		}
	}
}
/** Grid styling for the specific widgets */
div[id^=swag-visitors-customers-widget], div[id^=swag-sales-widget] {
	.#{$prefix}grid-body .#{$prefix}grid-row .#{$prefix}grid-cell, .#{$prefix}grid-row-selected .#{$prefix}grid-cell, .#{$prefix}grid-body .#{$prefix}grid-row * {
		border: 0 none;
		background: transparent !important;
	}
}

/** Upload widget */
div[id^=swag-upload-widget] {
	.#{$prefix}container-dropzone .inner-dropzone {
		padding: 72px 0;
	}
}

/**  */
div[id^=swag-notice-widget] {
	.#{$prefix}toolbar-docked-bottom {
		background: #fff;
		border: 0 none;
		border-bottom: 1px solid #A4B5C0 !important;
		border-right: 1px solid #A4B5C0;
	}
	
	.#{$prefix}panel-body { 
		border-bottom: 0 none;
		background: #fff;
	}
	
	td.#{$prefix}form-item-body {
		background: transparent;
		padding: 0;
	}
}