.#{$prefix}about-shopware {
    border: 1px solid lighten($font-color, 30%);
    .#{$prefix}about-shopware-body {
        background: #fff;
    }

    .#{$prefix}about-shopware-header-logo {
        background: theme-image($theme, 'shopware_about.png') no-repeat;
    }
    .#{$prefix}about-shopware-footer {
        font-size: 11px;
        line-height: 35px;
        color: #009CFF;
        padding: 0 15px;
        text-align: center;
    }
    .#{$prefix}about-shopware-content {
        p { margin: 0 0 12px }
        strong { font-weight: bold; }
        span { font-size: 11px }
        span, strong { display: block; }
    }
}