div[id^=category-main-window] {
    .#{$prefix}tree-toolbar {
        @include reset-box-shadow;
        background: transparent !important;
        border: 0 none;
        border-right: 1px solid #a4b5c0;
    }

    div[id^=category-category-tree] {
        border-bottom: 0 none;
    }

    & > .#{$prefix}tree-panel {
        .#{$prefix}grid-header-ct {
            border-top: 0 none;
        }
    }
}