div[id^=payment-main-window] {
    .#{$prefix}panel-header {
        border-top: 0 none;
        border-left: 0 none;
        padding: 8px 4px 7px 4px;
    }
    div[id^=payment-main-tree] {
        @include reset-box-shadow();
        border-bottom: 0 none;
        border-right: 0 none;

        .#{$prefix}toolbar {
            @include reset-box-shadow();
            background: #fff;
            border-right: 1px solid transparent;
        }
    }

    & > .#{$prefix}container {
        .#{$prefix}toolbar {
            border-top: 1px solid #a4b5c0 !important;
            border-left: 1px solid #a4b5c0 !important;
        }
    }

    div[id^=tabpanel] {
        .#{$prefix}tab-bar-body {
            border-top-color: transparent;
            border-right-color: transparent;
        }

        & > .#{$prefix}panel-body {
            border-left: 1px solid #a4b5c0 !important;
        }

    }
}