div[id^=risk_management-main-window] {
    .#{$prefix}window-body {
        border: 0 none !important;

        .#{$prefix}panel-body {
            background: #ebedef;
        }
    }

    .#{$prefix}example-table {
        table tr {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ced4d8;

            td {
                padding: 5px 0;
            }

            &:first-child {
                border-top-color: transparent;
            }
            &:last-child {
                border-bottom-color: transparent;
            }
        }
        table tr:first-child {
            td {
                color: #000;
                text-shadow: 0 1px 0 #fff;
            }
        }
    }
}