/*
Badges, Hints
================================
The variables define the colors for badges and hints inside shopware.

The values can be changed with the backend theme manager.

The comment shows the default value.
*/

@badge-discount-bg: @theme_badge-discount-bg; // @highlight-error
@badge-discount-color: @theme_badge-discount-color; // #FFFFFF
@badge-newcomer-bg: @theme_badge-newcomer-bg; // @highlight-notice
@badge-newcomer-color: @theme_badge-newcomer-color; // #FFFFFF
@badge-recommendation-bg: @theme_badge-recommendation-bg; // @highlight-success
@badge-recommendation-color: @theme_badge-recommendation-color; // #FFFFFF
@badge-download-bg: @theme_badge-download-bg; // @highlight-info
@badge-download-color: @theme_badge-download-color; // #FFFFFF