/*
Badges, Hints
================================
The variables define the colors for badges and hints inside shopware.

The values can be changed with the backend theme manager.

**Basic color definition**<br/>
`@badge-discount-bg` badge discount background color *(default: @highlight-error)*<br/>
`@badge-discount-color` badge discount text color *(default: <span style="">#FFFFFF</span>)*<br/>
`@badge-newcomer-bg` badge newcomer background color *(default: @highlight-notice)*<br/>
`@badge-newcomer-color` badge newcomer text color *(default: <span style="">#FFFFFF</span>)*<br/>
`@badge-recommendation-bg` badge recommendation background color *(default: @highlight-success)*<br/>
`@badge-recommendation-color` badge recommendation text color *(default: <span style="">#FFFFFF</span>)*<br/>
`@badge-download-bg` badge download background color *(default: @highlight-info)*<br/>
`@badge-download-color` badge download text color *(default: <span style="">#FFFFFF</span>)*<br/>
*/

@badge-discount-bg: @theme_badge-discount-bg; // @highlight-error
@badge-discount-color: @theme_badge-discount-color; // #FFFFFF
@badge-newcomer-bg: @theme_badge-newcomer-bg; // @highlight-notice
@badge-newcomer-color: @theme_badge-newcomer-color; // #FFFFFF
@badge-recommendation-bg: @theme_badge-recommendation-bg; // @highlight-success
@badge-recommendation-color: @theme_badge-recommendation-color; // #FFFFFF
@badge-download-bg: @theme_badge-download-bg; // @highlight-info
@badge-download-color: @theme_badge-download-color; // #FFFFFF