/*
Base colors
================================
The variables define the basic layout colors of shopware.

The values can be changed with the backend theme manager.

**Basic color definition**<br/>
`@brand-primary` primary color of the shop storefront *(default: <span style="color:#d9400b;">#d9400b</span>)*<br/>
`@brand-primary-light` @brand-primary lightened by 12%<br/>
`@brand-secondary` secondary color of the shop storefront *(default: <span style="color:#5f7285;">#5f7285</span>)*<br/>
`@brand-secondary-dark` @brand-secondary darken by 15%<br/>

**Grey tones**<br/>
`@gray` - main gray color for the storefront *(default: <span style="color:#f5f5f8;">#f5f5f8</span>)*<br/>
`@gray-light` - @gray lighten by 1%<br/>
`@gray-dark` - @gray darken by 10%<br/>
`@border-color` - main border-color (default: @gray-dark)<br/>

**Highlight colors**<br/>
`@highlight-success` - highlight success color for status messages *(default: <span style="color:#2ecc71;">#2ecc71</span>)*<br/>
`@highlight-error` - highlight error color for status messages *(default: <span style="color:#e74c3c;">#e74c3c</span>)*<br/>
`@highlight-notice` - highlight notice color for status messages *(default: <span style="color:#f1c40f;">#f1c40f</span>)*<br/>
`@highlight-info` - highlight notice color for status messages *(default: <span style="color:#4aa3df;">#4aa3df</span>)*<br/>

**Scaffolding**<br/>
`@body-bg` - body background color<br/>
`@overlay-bg` - overlay background color<br/>
`@text-color` - default text color for the storefront *(default: @brand-secondary)*<br/>
`@text-color-dark` - dark text color for the storefront *(default: @brand-secondary-dark)*<br/>
`@link-color` - default link color *(default: @brand-primary)*<br/>
`@link-hover-color` - link hover color *(default: @brand-primary darken by 10%)*<br/>
`@rating-star-color` - star rating color *(default: @highlight-notice)*<br/>
*/

    // Basic color definition
@brand-primary: @theme_brand-primary; // #d9400b
@brand-primary-light: @theme_brand-primary-light; // saturate(lighten(@brand-primary,12%), 5%)
@brand-secondary: @theme_brand-secondary; // #5f7285
@brand-secondary-dark: @theme_brand-secondary-dark; // darken(@brand-secondary, 15%)

    // Grey tones
@gray: @theme_gray; // #f5f5f8;
@gray-light: @theme_gray-light; // lighten(@gray, 1%)
@gray-dark: @theme_gray-dark; // darken(@gray-light, 10%)
@border-color: @theme_border-color; // @gray-dark

    // Highlight colors
@highlight-success: @theme_highlight-success; // #2ecc71
@highlight-error: @theme_highlight-error; // #e74c3c
@highlight-notice: @theme_highlight-notice; // #f1c40f
@highlight-info: @theme_highlight-info; // #4aa3df

    //Scaffolding
@body-bg: @theme_body-bg; // darken(@gray-light, 5%);
@overlay-bg: @theme_overlay-bg; // @brand-secondary-dark;
@overlay-opacity: @theme_overlay-opacity; // 0.7;
@text-color: @theme_text-color; // @brand-secondary;
@text-color-dark: @theme_text-color-dark; // @brand-secondary-dark;
@link-color: @theme_link-color; // @brand-primary;
@link-hover-color: @theme_link-hover-color; // darken(@brand-primary, 10%);
@rating-star-color: @theme_rating-star-color; // @highlight-notice;