/*
Buttons
================================
The variables define the colors and font-sizes for the buttons.

The values can be changed with the backend theme manager.

The comment shows the default value.

**Button text sizes**<br/>
`@btn-font-size` font-size inside button element *(default: 14)*<br/>
`@btn-icon-size` icon-size inside button element *(default: 10)*<br/>

**Default button**<br/>
`@btn-default-top-bg` default button top background *(default: #FFFFFF)*<br/>
`@btn-default-bottom-bg` default button bottom background *(default: @gray-light)*<br/>
`@btn-default-hover-bg` default button hover background *(default: #FFFFFF)*<br/>
`@btn-default-text-color` default button hover text-color *(default: @text-color)*<br/>
`@btn-default-hover-text-color` default button text-color *(default: @brand-primary)*<br/>
`@btn-default-border-color` default button border-color *(default: @border-color)*<br/>
`@btn-default-hover-border-color` default button hover border-color *(default: @brand-primary)*<br/>

**Primary button**<br/>
`@btn-primary-top-bg` primary button top background *(default: @brand-primary-light)*<br/>
`@btn-primary-bottom-bg` primary button bottom background *(default: @brand-primary)*<br/>
`@btn-primary-hover-bg` primary button hover background *(default: @brand-primary)*<br/>
`@btn-primary-text-color` primary button hover text-color *(default: #FFFFFF)*<br/>
`@btn-primary-hover-text-color` primary button text-color *(default: @btn-primary-text-color)*<br/>

**Secondary button**<br/>
`@btn-secondary-top-bg` secondary button top background *(default: @brand-secondary)*<br/>
`@btn-secondary-bottom-bg` secondary button bottom background *(default: @brand-secondary-dark)*<br/>
`@btn-secondary-hover-bg` secondary button hover background *(default: @brand-secondary-dark)*<br/>
`@btn-secondary-text-color` secondary button hover text-color *(default: #FFFFFF)*<br/>
`@btn-secondary-hover-text-color` secondary button text-color *(default: @btn-secondary-text-color)*<br/>
*/

    // Button text sizes
@btn-font-size: @theme_btn-font-size; // 14
@btn-icon-size: @theme_btn-icon-size; // 10

    // Default Button
@btn-default-top-bg: @theme_btn-default-top-bg; // #FFFFFF
@btn-default-bottom-bg: @theme_btn-default-bottom-bg; // @gray-light
@btn-default-hover-bg: @theme_btn-default-hover-bg; // #FFFFFF
@btn-default-text-color: @theme_btn-default-text-color; // @text-color
@btn-default-hover-text-color: @theme_btn-default-hover-text-color; // @brand-primary
@btn-default-border-color: @theme_btn-default-border-color; // @border-color
@btn-default-hover-border-color: @theme_btn-default-hover-border-color; // @brand-primary

    // Primary Button
@btn-primary-top-bg: @theme_btn-primary-top-bg; // @brand-primary-light
@btn-primary-bottom-bg: @theme_btn-primary-bottom-bg; // @brand-primary
@btn-primary-hover-bg: @theme_btn-primary-hover-bg; // @brand-primary
@btn-primary-text-color:@theme_btn-primary-text-color; // #FFFFFF
@btn-primary-hover-text-color: @theme_btn-primary-hover-text-color; // @btn-primary-text-color

    // Secondary Button
@btn-secondary-top-bg: @theme_btn-secondary-top-bg; // @brand-secondary
@btn-secondary-bottom-bg: @theme_btn-secondary-bottom-bg; //@brand-secondary-dark
@btn-secondary-hover-bg: @theme_btn-secondary-hover-bg; // @brand-secondary-dark
@btn-secondary-text-color: @theme_btn-secondary-text-color; // #FFFFFF
@btn-secondary-hover-text-color: @theme_btn-secondary-hover-text-color; // @btn-secondary-text-color