/*
Forms and labels
================================
The variables define the colors and font-sizes for forms and labels.

The values can be changed with the backend theme manager.

**Labels**<br/>
`@label-font-size` - font-size inside label elements *(default: 12)*<br/>
`@label-color` - color inside label elements *(default: @text-color)*<br/>

**Form base**<br/>
`@input-font-size` - font-size inside input elements *(default: 16)*<br/>
`@input-bg` - background-color inside input elements *(default: @gray-light)*<br/>
`@input-color` - color inside input elements *(default: @brand-secondary)*<br/>
`@input-placeholder-color` - placeholder text color inside input elements *(default: lighten(@text-color, 15%))*<br/>
`@input-border` - border color inside input elements *(default: @border-color)*<br/>

**Form states**<br/>
`@input-focus-bg` - focus state background-color inside form elements *(default: #FFFFFF)*<br/>
`@input-focus-border` - focus state border-color inside form elements *(default: @brand-primary)*<br/>
`@input-focus-color` - focus state text-color inside form elements *(default: @brand-secondary)*<br/>
`@input-error-bg` - error state background-color inside form elements<br/>
`@input-error-border` - error state border-color inside form elements *(default: @highlight-error)*<br/>
`@input-error-color` - error state text-color inside form elements *(default: @highlight-error)*<br/>
`@input-success-bg` - success state background-color inside form elements *(default: #FFFFFF)*<br/>
`@input-success-border` - success state border-color inside form elements *(default: @highlight-success)*<br/>
`@input-success-color` - success state text-color inside form elements *(default: @brand-secondary-dark)*<br/>
*/

    // Labels
@label-font-size: @theme_label-font-size; // 12
@label-color: @theme_label-color; // @text-color

    // Form base
@input-font-size: @theme_input-font-size; // 16
@input-bg: @theme_input-bg; // @gray-light
@input-color: @theme_input-color; // @brand-secondary
@input-placeholder-color: @theme_input-placeholder-color; // lighten(@text-color, 15%)
@input-border: @theme_input-border; // @border-color;

    // Form states
@input-focus-bg: @theme_input-focus-bg; // #FFFFFF;
@input-focus-border: @theme_input-focus-border; // @brand-primary
@input-focus-color: @theme_input-focus-color;// @brand-secondary;
@input-error-bg: @theme_input-error-bg; //desaturate(lighten(@highlight-error, 38%), 20%);
@input-error-border: @theme_input-error-border; // @highlight-error;
@input-error-color: @theme_input-error-color; //@highlight-error;
@input-success-bg: @theme_input-success-bg; // #FFFFFF;
@input-success-border: @theme_input-success-border; // @highlight-success;
@input-success-color: @theme_input-success-color; // @brand-secondary-dark;