/*
Panels
================================
The variables define the colors and font-sizes for panel elements.

The values can be changed with the backend theme manager.

**Panels**<br/>
`@panel-header-bg` - panel header element background-color *(default: @gray-light)*<br/>
`@panel-header-font-size` - panel header font-size *(default: 14)*<br/>
`@panel-header-color` - panel header element text-color *(default: @text-color)*<br/>
`@panel-border` - panel header element border-color *(default: @border-color)*<br/>
`@panel-bg` - panel background color *(default: #FFFFFF)*<br/>
*/

    // Panels
@panel-header-bg: @theme_panel-header-bg; // @gray-light
@panel-header-font-size: @theme_panel-header-font-size; // 14
@panel-header-color: @theme_panel-header-color; // @text-color
@panel-border: @theme_panel-border; // @border-color
@panel-bg: @theme_panel-bg; // #FFFFFF