/*
Tables
================================
The variables define the colors for table elements.

The values can be changed with the backend theme manager.

**Tables**<br/>
`@panel-table-header-bg` - table header background-color inside panel element *(default: @brand-secondary-dark)*<br/>
`@panel-table-header-color` - table header text-color inside panel element *(default: #FFFFFF)*<br/>
`@table-row-bg` - table row background-color *(default: #FFFFFF)*<br/>
`@table-row-color` - table row text-color *(default: @brand-secondary)*<br/>
`@table-row-highlight-bg` - table row highlight background-color *(default: darken(@table-row-bg, 4%))*<br/>
`@table-header-bg` - table header background-color *(default: @brand-secondary)*<br/>
`@table-header-color` - table header text-color *(default: #FFFFFF)*<br/>
*/

    // Tables
@panel-table-header-bg: @theme_panel-table-header-bg; // @brand-secondary-dark
@panel-table-header-color: @theme_panel-table-header-color; // #FFFFFF
@table-row-bg: @theme_table-row-bg; // #FFFFFF
@table-row-color: @theme_table-row-color; // @brand-secondary
@table-row-highlight-bg: @theme_table-row-highlight-bg; // darken(@table-row-bg, 4%)
@table-header-bg: @theme_table-header-bg; // @brand-secondary
@table-header-color: @theme_table-header-color; // #FFFFFF