/*
Typography
================================
The variables define the sizes and weights for typographic elements.

The values can be changed with the backend theme manager.

**Base configuration**<br/>
`@font-size-base` - basic font-size *(default: 14)*<br/>
`@font-base-weight` - basic font-weight *(default: 500)*<br/>
`@font-light-weight` - basic light font-weight *(default: 300)*<br/>
`@font-base-stack` - basic font-family stack *(default: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif)*<br/>
`@font-headline-stack` - basic headline font-family stack *(default: @font-base-stack)*<br/>

**Headling font sizes**<br/>
`@font-size-h1` - h1 element font-size *(default: 26)*<br/>
`@font-size-h2` - h2 element font-size *(default: 21)*<br/>
`@font-size-h3` - h3 element font-size *(default: 18)*<br/>
`@font-size-h4` - h4 element font-size *(default: 16)*<br/>
`@font-size-h5` - h5 element font-size *(default: @font-size-base)*<br/>
`@font-size-h6` - h6 element font-size *(default: 12)*<br/>

**Shopware font directory**<br/>
`@font-directory` - font-directory folder (default: "../../fonts/")

**Open Sans font directory**<br/>
`@OpenSansPath` - "Open Sans" font-directory folder (default: "./../fonts/open-sans-fontface")


*/

    // Base configuration
@font-size-base: @theme_font-size-base; // 14
@font-base-weight: @theme_font-base-weight; // 500
@font-light-weight: @theme_font-light-weight; // 300
@font-bold-weight: @theme_font-bold-weight; // 600
@font-base-stack: @theme_font-base-stack; // "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
@font-headline-stack: @theme_font-headline-stack; // @font-base-stack

    // Heading font sizes
@font-size-h1: @theme_font-size-h1; // 26
@font-size-h2: @theme_font-size-h2; // 21
@font-size-h3: @theme_font-size-h3; // 18
@font-size-h4: @theme_font-size-h4; // 16
@font-size-h5: @theme_font-size-h5; // @font-size-base
@font-size-h6: @theme_font-size-h6; // 12

    // Shopware font directory
@font-directory: "../../fonts/";

    // Open Sans font directory
@OpenSansPath: "../../fonts/open-sans-fontface";