/**
 * Shopware 4.0
 * Copyright © 2012 shopware AG
 *
 * According to our dual licensing model, this program can be used either
 * under the terms of the GNU Affero General Public License, version 3,
 * or under a proprietary license.
 *
 * The texts of the GNU Affero General Public License with an additional
 * permission and of our proprietary license can be found at and
 * in the LICENSE file you have received along with this program.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * "Shopware" is a registered trademark of shopware AG.
 * The licensing of the program under the AGPLv3 does not imply a
 * trademark license. Therefore any rights, title and interest in
 * our trademarks remain entirely with us.
 *
 * @category   Shopware
 * @package    Shopware_Styling
 * @subpackage Forms
 * @copyright  Copyright (c) 2012, shopware AG (http://www.shopware.de)
 * @version    $Id$
 * @author shopware AG
 */
table.#{$prefix}form-trigger-wrap {

	/** Date field - Normal state */
	.#{$prefix}form-date-trigger {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAABuUlEQVQ4jZ2TP0vDQBiH+xX8JILgVtdOUgRxEYdCxckWxKGipYIR/+HgIAgOipuO/QiCdHSzFcF/WKJtYtL0ckkulzT+as9YFE/ry8PL8fI8U0iC2PSxrg7EQ129vr1PcB7Y1BmUNrETURSFg0+n0+mWQRDGVCqVo6NjbPkRVbfkQQDMYlGbnDwbGalWq9h4x/QfoUH+KN9HHR+PFOVqbKxcLmNHpVLM51FRoEEWpc85uE+lwkLhfHh4a2gIm+fzMfERAjQ/Lpnvg2oyyXM5XqvpJyfW6enLxQWdne1hzszU02lsCNAgi9JjDFyOjnrZ7F0q9TwxAfBoTU9/AUJXY0yUrsfA4fZO9IeBBlmUjuuCg40NfCYehhIgQIMsSuq4YH9NYWHo+r4ECNAgi5JQB+ytrlLOLdeVAAEa5I/SpmB3ecXyfY0QCRCgQRalRWywVVh69TzVNCVAgAZZlK02AeuLiw3HedB1CRCgQRalabVBaT6nUnrTaEiAAA2yKI2WBRYymQZjT4RIgAANsih1owU2V4pzU1O/Ag2yKDXD1L+h9e3eQ+s7irKpG81Xo7t7/PTuQ5T/GPzcb7qFI1bI61x4AAAAAElFTkSuQmCC") no-repeat;
	}
	
	/** Date field - Hover state */
	.#{$prefix}form-date-trigger:hover, .#{$prefix}form-date-trigger:active {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAABtElEQVQ4T5WSv0tCURTH/QXmUwhFox9T0GbG24zAv0K0oQKDliiQaHIpcA/cWhxcBDdn/4JscyuQqFCcKkTt1vPde1/fq3GfOtx68uFwOX7OPedc9QxHn6/dniNeur3Hp2fPkt8fjYQdEYuE11diHp/PqwWWnBIKah6Xy8UtS3LXbFYqFUR10u12Tyq5BQZX1x+ZTOfsPJlMIuIsmU1Cg4wqUcksAWm1orq+HdTa7TZiNB6X2Eldh8ZEocvuaRgGH43eBoOHXA6R9vsSmYQgNNlzOvoXIZyQvVrtpFTSC4X3bHZMyJSdROIwlUKEIDRLTsst8G0YjJBOPm/W66RWI8WiScgUN+ehUAgRgtDsnpNp79MZf7m82Wis1usAh+VqdQEI0OxpKbeASRFw4AogQKP222IMfIEPKhlTAYFSyHN7IoNbx4wpEJ1xAZ9/IdM0ceWYUgUQoLHFPSdXYg0FQhCarGQciJ7/mFZobH5PwxgzTKushCC0mWnFiw9HQ6/PF9A0BRCgUfm2lOHHsCJrG5f7B4WjYwUQoFE2v2f69CJ/c/sn0Ow9p2/riN/K3a2YU/B3+AEb0hYXMbWijQAAAABJRU5ErkJggg==") no-repeat;
	}
}

.#{$prefix}form-trigger-wrap-focus {

	/** Date field style - Focus state */
	.#{$prefix}form-date-trigger, .#{$prefix}form-date-trigger:hover, .#{$prefix}form-date-trigger:active {
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAIAAACt/zAoAAAACXBIWXMAAAsTAAALEwEAmpwYAAABtElEQVQ4T5WSv0tCURTH/QXmUwhFox9T0GbG24zAv0K0oQKDliiQaHIpcA/cWhxcBDdn/4JscyuQqFCcKkTt1vPde1/fq3GfOtx68uFwOX7OPedc9QxHn6/dniNeur3Hp2fPkt8fjYQdEYuE11diHp/PqwWWnBIKah6Xy8UtS3LXbFYqFUR10u12Tyq5BQZX1x+ZTOfsPJlMIuIsmU1Cg4wqUcksAWm1orq+HdTa7TZiNB6X2Eldh8ZEocvuaRgGH43eBoOHXA6R9vsSmYQgNNlzOvoXIZyQvVrtpFTSC4X3bHZMyJSdROIwlUKEIDRLTsst8G0YjJBOPm/W66RWI8WiScgUN+ehUAgRgtDsnpNp79MZf7m82Wis1usAh+VqdQEI0OxpKbeASRFw4AogQKP222IMfIEPKhlTAYFSyHN7IoNbx4wpEJ1xAZ9/IdM0ceWYUgUQoLHFPSdXYg0FQhCarGQciJ7/mFZobH5PwxgzTKushCC0mWnFiw9HQ6/PF9A0BRCgUfm2lOHHsCJrG5f7B4WjYwUQoFE2v2f69CJ/c/sn0Ow9p2/riN/K3a2YU/B3+AEb0hYXMbWijQAAAABJRU5ErkJggg==") no-repeat !important;
	}
}