/*
Unitize mixin
================================================
The unitize mixins provide all the benefits of relative units like em and rem without running calculations.

######Syntax:
`@value` = pixel-value<br/>
`@basevalue` = default browser font-size (16 in most cases)<br/>
`@property` = the property that should be unitized.

######Examples
Unitize font-size: `.unitize(@value, @baseValue: 16, @property: font-size)`<br/>
Unitize height: `.unitize-height(@value, @baseValue: 16)`<br/>
Unitize width: `.unitize-width(@value, @baseValue: 16)`<br/>
Unitize max-height: `.unitize-max-height(@value, @baseValue: 16)`<br/>
Unitize max-width `.unitize-max-width(@value, @baseValue: 16)`<br/>
Unitize min-width: `.unitize-min-width(@value, @baseValue: 16)`<br/>
Unitize padding: `.unitize-padding(@topValue, @rightValue, @bottomValue: @topValue, @leftValue: @rightValue, @baseValue: 16)`<br/>
Unitize margin: `.unitize-margin(@topValue, @rightValue, @bottomValue: @topValue, @leftValue: @rightValue, @baseValue: 16)`<br/>
Unitize variable: `.unitize-variable(@value, @baseValue: 16)`<br/>
*/

	// @deprecated unitize mixin which should be called like ```.unitize(200, 16, height);```
.unitize(@value, @baseValue: 16, @property: font-size) when (isnumber(@value)) and(isnumber(@baseValue)) and (iskeyword(@property)) {
	@pxValue: @value;
	@emValue: (@value / @baseValue);
	@{property}: ~"@{pxValue}px";
	@{property}: ~"@{emValue}rem";
}
	// New default unitize mixin which should be called like ```.unitize(height, 200);```
.unitize(@property, @value, @baseValue: 16) when (iskeyword(@property)) and (isnumber(@value)) and (isnumber(@baseValue)) {
	@pxValue: @value;
	@emValue: (@value / @baseValue);
	@{property}: ~"@{pxValue}px";
	@{property}: ~"@{emValue}rem";
}

.unitize-multiple(@topValue, @rightValue, @bottomValue: @topValue, @leftValue: @rightValue, @baseValue: 16, @property: font-size) {
	@pxTopValue: @topValue;
	@emTopValue: (@topValue / @baseValue);

	@pxRightValue: @rightValue;
	@emRightValue: (@rightValue / @baseValue);

	@pxBottomValue: @bottomValue;
	@emBottomValue: (@bottomValue / @baseValue);

	@pxLeftValue: @leftValue;
	@emLeftValue: (@leftValue / @baseValue);

	@{property}: ~"@{pxTopValue}px @{pxRightValue}px @{pxBottomValue}px @{pxLeftValue}px";
	@{property}: ~"@{emTopValue}rem @{emRightValue}rem @{emBottomValue}rem @{emLeftValue}rem";
}

.unitize-height(@value, @baseValue: 16) {
	.unitize(@value, @baseValue, height);
}

.unitize-width(@value, @baseValue: 16) {
	.unitize(@value, @baseValue, width);
}

.unitize-max-height(@value, @baseValue: 16) {
	.unitize(@value, @baseValue, max-height);
}

.unitize-max-width(@value, @baseValue: 16) {
	.unitize(@value, @baseValue, max-width);
}

.unitize-min-width(@value, @baseValue: 16) {
    .unitize(@value, @baseValue, min-width);
}

.unitize-margin(@topValue, @rightValue, @bottomValue: @topValue, @leftValue: @rightValue, @baseValue: 16) {
	.unitize-multiple(@topValue, @rightValue, @bottomValue, @leftValue, @baseValue, margin);
}

.unitize-padding(@topValue, @rightValue, @bottomValue: @topValue, @leftValue: @rightValue, @baseValue: 16) {
	.unitize-multiple(@topValue, @rightValue, @bottomValue, @leftValue, @baseValue, padding);
}

.unitize-variable(@value, @baseValue: 16) {
	@emValue: (@value / @baseValue);
}