// Button text sizes
@btn-font-size: @theme_btn-font-size; // 14
@btn-icon-size: @theme_btn-icon-size; // 10

// Default Button
@btn-default-top-bg: @theme_btn-default-top-bg; // #FFFFFF
@btn-default-bottom-bg: @theme_btn-default-bottom-bg; // @gray-light
@btn-default-hover-bg: @theme_btn-default-hover-bg; // #FFFFFF
@btn-default-text-color: @theme_btn-default-text-color; // @text-color
@btn-default-hover-text-color: @theme_btn-default-hover-text-color; // @brand-primary
@btn-default-border-color: @theme_btn-default-border-color; // @border-color
@btn-default-hover-border-color: @theme_btn-default-hover-border-color; // @brand-primary

// Primary Button
@btn-primary-top-bg: @theme_btn-primary-top-bg; // @brand-primary-light
@btn-primary-bottom-bg: @theme_btn-primary-bottom-bg; // @brand-primary
@btn-primary-hover-bg: @theme_btn-primary-hover-bg; // @brand-primary
@btn-primary-text-color:@theme_btn-primary-text-color; // #FFFFFF
@btn-primary-hover-text-color: @theme_btn-primary-hover-text-color; // @btn-primary-text-color

// Secondary Button
@btn-secondary-top-bg: @theme_btn-secondary-top-bg; // @brand-secondary
@btn-secondary-bottom-bg: @theme_btn-secondary-bottom-bg; //@brand-secondary-dark
@btn-secondary-hover-bg: @theme_btn-secondary-hover-bg; // @brand-secondary-dark
@btn-secondary-text-color: @theme_btn-secondary-text-color; // #FFFFFF
@btn-secondary-hover-text-color: @theme_btn-secondary-hover-text-color; // @btn-secondary-text-color