// Basic color definition
@primaryColor: @themePrimaryColor;
@primaryContrastColor: @themePrimaryContrastColor;
@secondaryColor: @themeSecondaryColor;

@complementaryPrimaryColor: @themeComplementaryPrimaryColor;
@complementarySecondaryColor: @themeComplementarySecondaryColor;

@darkTextColor: @themeDarkTextColor;
@primaryTextColor: @themePrimaryTextColor;
@lightTextColor: @themeLightTextColor;
@softTextColor: @themeSoftTextColor;

@borderColor: @themeBorderColor;
@lightDarkBorderColor: @themeLightDarkBorderColor;
@darkBorderColor: @themeDarkBorderColor;
@primaryBackgroundColor: @themePrimaryBackgroundColor;
@softBackgroundColor: @themeSoftBackgroundColor;
@darkBackgroundColor: @themeDarkBackgroundColor;
@primaryLightBackgroundColor: @themePrimaryLightBackgroundColor;

@lightGradientStart: @themeLightGradientStart;
@lightGradientEnd: @themeLightGradientEnd;
@gradientContrastColor: @themeGradientContrastColor;

@overlayBackground: @themeOverlayBackground;

@discountTextColor: @themeDiscountTextColor;
@discountDarkColor: #5f0000;
@discountBorderColor: #850000;

// Alert color definition
@successText: @themeSuccessText;
@successBackground: @themeSuccessBackground;
@successBorderColor: @themeSuccessBorderColor;

@infoText: @themeInfoText;
@infoBackground: @themeInfoBackground;
@infoBorderColor: @themeInfoBorderColor;

@warningText: @themeWarningText;
@warningBackground: @themeWarningBackground;

@errorText: @themeErrorText;
@errorBackground: @themeErrorBackground;
@errorBorderColor: @themeErrorBorderColor;

@inputErrorColor: @themeInputErrorColor;
@inputErrorBackground: @themeInputErrorBackground;

// Delivery information colors
@deliveryInfoText: @themeDeliveryInfoText;

@deliveryAvailableIcon: @themeDeliveryAvailableIcon;
@deliveryAvailableText: @themeDeliveryAvailableText;

@deliveryMoreIsComingIcon: @themeDeliveryMoreIsComingIcon;
@deliveryMoreIsComingText: @themeDeliveryMoreIsComingText;

@deliveryNotAvailableIcon: @themeDeliveryNotAvailableIcon;
@deliveryNotAvailableText: @themeDeliveryNotAvailableText;

@reviewStarColor: @themeReviewStarColor;

@basketHeaderColor: @themeBasketHeaderColor;
@basketHeaderFontColor: @themeBasketHeaderFontColor;
@basketTableColor: @themeBasketTableColor;
@basketTableFontColor: @themeBasketTableFontColor;
@basketBorderColor: @themeBasketBorderColor;
