// Panels
@panel-header-bg: @theme_panel-header-bg; // @gray-light
@panel-header-font-size: @theme_panel-header-font-size; // 14
@panel-header-color: @theme_panel-header-color; // @text-color
@panel-border: @theme_panel-border; // @border-color
@panel-bg: @theme_panel-bg; // #FFFFFF