// Tables
@table-header-bg: @theme_table-header-bg; // @brand-secondary-dark
@table-header-color: @theme_table-header-color; // #FFFFFF
@table-row-color: @theme_table-row-color; // @brand-secondary
@table-row-highlight-bg: @theme_table-row-highlight-bg; // @gray-light