// Base font stack
@bodyFontStack: @themeBodyFontStack;

// Headline font stack
@headlineFontStack: @themeHeadlineFontStack;

// Subheadline font stack
@subheadlineFontStack: @themeSubheadlineFontStack;

// Shopware font directory
@fontDirectory: "../../fonts/";

// Open Sans font directory
@OpenSansPath: "../open-sans-fontface/fonts";