*, html, body {
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: Arial, Helvetica;
}

div.container div.col_1 h2, div.container div.col_1 h3 {
	font-family:"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-size:22px;
	letter-spacing:-1px;
	line-height:24px;
}

div.container div.col_1 h3 {
	font-size:14px;
}

div.clear {clear: both; height: 0px; font-size: 0; line-height: 0px; padding: 0; margin: 0;}
div.container {
	font-size: 12px;
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid #d3d3d3;*/
	padding: 10px 0px 0px 0px;
}
div.container div.col_1 {
	float: left;
	width: 300px;
	margin: 0 3%;
	padding: 20px 0;
	float: left;
	height:440px;
}

div.container div.col_2 {
	margin: 0 3%;
	padding: 20px 0;
	width:700px;
	height:440px;
}

div.container div.col_1 div.sw_buddy {
	width: 30%;
	height: 150px;
	background: transparent url(../images/activate/sw_buddy.png) center top no-repeat;
}
div.container div.col_1 h2, div.container div.col_1 h3 {
	float: right;
	margin-bottom: 20px;
}
div.container div.col_1 p {
	color: #8c8c8c;
	line-height: 18px;
	float: right;
	width: 70%;
}

/* BUTTONS */

div.container div.buttons a, 
div.container div.buttons a:hover, 
div.container div.buttons a:active {
	display: block;
	width: 231px;
	height: 12px;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	text-decoration: none;
	color: #fff;
	padding: 13px 20px;
	background: transparent url(../images/activate/btn_sprite.jpg) no-repeat;
}

div.container div.buttons {
	width: 320px;
	height: 96px;
	margin: 35px auto;
}

div.container div.buttons a.btn_green {
	background-position: 0 0;
	margin-bottom: 20px;
}
div.container div.buttons a.btn_blue {
	background-position: 0 -38px;
}

h2 {
font-size:14px;
color: #000;
}