.shopware-ui-main-menu .shortcut {
    display: inline-block;
    font-size: 8px;
    color: #999;
}

.x-widget-proxy-element {
    opacity: 0;
    -moz-transition: opacity 0.2s linear;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAABlBMVEXt9//N6v87SMrXAAAAGElEQVR42nXEMQ0AAACDsOHfNEHAenThJQBpAAZ2NY5UAAAAAElFTkSuQmCC") repeat;
    border: 1px solid #fff;
    border-radius: 4px;
}
.x-widget-proxy-element.active {
    opacity: 1;
}

/* Banner Manager
------------------------------------------------------------------*/
#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #images-view .thumb {
    padding-bottom: 3px;
}

#images-view .thumb-wrap {
    float: left;
    margin: 4px 0 4px 4px;
    padding: 5px;
    display: block;
    float: left;
    width: 184px;
}

#images-view .thumb-wrap .thumb {
    width: 174px;
    height: 110px;
}

#images-view .thumb img{
    height: 100px;
    width: 163px;
}
#images-view .thumb-wrap span {
    font-weight: 700;
    margin-left:3px;
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
    /*width: 86px; *//* for ie to ensure that the text is centered */
}

#images-view .x-item-over{
    border:1px solid #dddddd;
    /*background: #efefef url(over.gif) repeat-x left top;*/
    padding: 4px;
}

#images-view .x-item-selected{
    /*background: #eff5fb url(selected.gif) no-repeat right bottom;*/
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    /*background-image:url('../../resources/themes/images/default/grid/loading.gif');*/
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
/* END Banner Manager
------------------------------------------------------------------*/
.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}

/* Banner Module CSS Styles  ENDS*/


button .growl {
    background-image: url('../images/icons/ico_growl.png');
}

.x-container-dropzone {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e0e6ea;
    text-align: center;
    background: url('../resources/themes/images/shopware-ui/bg_dropzone.png') repeat;
    -webkit-transition: -webkit-box-shadow 0.1s linear;
    -moz-transition: -moz-box-shadow 0.1s linear;
    -o-transition: -o-box-shadow 0.1s linear;
    transition: box-shadow 0.1s linear;
}
.x-container-dropzone .inner-dropzone {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 20px 0;
}
.x-container-dropzone .small-padding .inner-dropzone {
    padding-bottom: 7px;
}
.x-container-dropzone.dropzone-over {
    border-color: #a4b5c0;
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    -o-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
}
.x-container-dropzone.dropzone-drop {
    border: 1px solid #a4b5c0;
}
.x-container-dropzone.dropzone-drop .inner-dropzone {
    border: 1px solid #fff;
}
.x-container-dropzone span {
    display: inline-block;
    background: #fff;
    padding: 2px 5px;
    color: #6c818f;
    font-weight: 700;
    text-transform: uppercase;
}
.x-container-dropzone .dropzone-item { margin: 5px 0; }
.x-container-dropzone .dropzone-item img,
.x-container-dropzone .dropzone-item .dropzone-item-info { display: block; min-height: 70px; }

.x-container-dropzone .dropzone-item img {
    width: 80px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 6px #CAD9E3;
    -moz-box-shadow: 0 0 6px #CAD9E3;
    -o-box-shadow: 0 0 6px #CAD9E3;
    box-shadow: 0 0 6px #CAD9E3;
    margin: 0 5px 5px;
}
.x-container-dropzone .dropzone-item .dropzone-item-info { width: 206px; font-size: 11px; text-align: left }
.x-container-dropzone .dropzone-item-info strong { font-weight: 700 }

.dropzone-item-image { position: relative; }
.x-container-dropzone .dropzone-item-progress-bar {
    margin: 0 10px 5px;
    background: #c2ced4;
    border: 1px solid #92a8b3;
    height: 16px;
    padding: 0 1px;
    -webkit-box-shadow: inset -1px 1px 2px #b0bdc4;
    -moz-box-shadow: inset -1px 1px 2px #b0bdc4;
    box-shadow: inset -1px 1px 2px #b0bdc4;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
}
.x-container-dropzone .dropzone-item-progress-bar.preview-image-displayed {
    position: absolute;
    bottom: 5px;
    width: 230px;
    right: 0px;
}

.x-container-dropzone .dropzone-item-progress-bar > span {
    width: 0%;
    -moz-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -ms-transition: width 1s linear;
    -o-transition: width 1s linear;
    transition: width 1s linear;
    display: block; padding: 0; margin: 1px 0 0;
    height: 12px; overflow: hidden;
    border-bottom: 1px solid #333;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: rgb(67,155,244);
    background: -moz-linear-gradient(top, rgba(67,155,244,1) 0%, rgba(32,116,203,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(67,155,244,1)), color-stop(100%,rgba(32,116,203,1)));
    background: -webkit-linear-gradient(top, rgba(67,155,244,1) 0%,rgba(32,116,203,1) 100%);
    background: -o-linear-gradient(top, rgba(67,155,244,1) 0%,rgba(32,116,203,1) 100%);
    background: -ms-linear-gradient(top, rgba(67,155,244,1) 0%,rgba(32,116,203,1) 100%);
    background: linear-gradient(top, rgba(67,155,244,1) 0%,rgba(32,116,203,1) 100%);
}

.x-container-dropzone .dropzone-item .ico-package {
    min-height: 70px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAIvElEQVRo3u1ZW2xcRxn+5ux67dhZe71241yd0hBwoUEiQahvQeIFiQeoqhQ1EhJVSSTTBLfNBdrU4laBGghplaQF2kCUh5ampQIJ8YzgpRKFB0A0qUxsbxxc7Hh92d2z1zPD/8+Zc/bsxtnLMSpByqx2Z3bO2TP/9//ff5nZKP7PW/QOgDsA7gBo3M5/7/A66k7Re/QDlu2lR8fPfO2/YYFj9927ZfTTu7YBUja9+a+XZ1FCJz61ewRXJmf13Ec/tAnv/OUyYijiEyObmq9oWfjjO5OjpLx/EIizoQHQA2KWJb4zsrUPi3NzcByn6dpXU3PYdd9HsJxeRHZlRc8tp7sQ745hYuI6NvdbzWkRjeJjwwlMTM6dIRnYEk5YC4ztHB5EqWAjm82SARpboOwoLGaK6IpFkMvZKOSLep7H3es6ML9UwNLSCilYNHxOJBJBPB7H9s0JTF1fPMh0ahsAIY8IIU7u3JZAPp9BpdJc+wvLJWzc0K/HSilIentjSwgM9MeRzpSRjHc0fI5SDmw7j5HtSQYwGgoAtYN3b+mHdIoolkpwWuB/OlPCXUNJ/16l3N77zgBupOfR1xNp+ixVLCIei2F4U2IXKfNRotH5dgGM7tjSS9rPoVwutxQ2lnMOdvb1aI1zkwq+BTSAZByT07OQQ82Vwb+xbRvMgNTsEluhdQCE+Mtbh/p2RUQFNmnfo0KjZhcloqSxWCxaQx0XiNvzNb4nW3DQ3Wk1Q6At39vVhS0beveQTPvJCq+2aoHReyjy2KT9CkUe1QKAxWyFKNJbc6+qA+LSaD3du0KO3tHcCrS2nc+DZbk+t8JWaBmA/Yc/p9rOPMmhTrx7rRCY6dafwblyuRPp+RJm6N1ay/JHhV2sHR/47EOfvx+gaBcRlg57VsTSkYTfFJ30Nf1hIuIvLv0eX/jc/e61Jty+cPEtPPLQZ+oumA/l3qOM80typFKpEn3jd2/vbcuJmX/a9BRJLMqMEcvSvQZh4rjGYQTmeyul5s5eKLrPLRI16oF5TGOhpQ7DUiupUpHtZ2KOABUTfbTwkarwvhUMCM8M/Btu+UJRX++gjHp1agapa7O45+6tWFrJYGbmfX1PJpO9NQAlddLkKEYrQTWw6q0tQEJw+JTSqVogIgyNrBrte88vUuyeTs3ivYkpLdCHd2xHbnkBI8N9+NPfrxAgC3v3DOPtv81QeLaDAQfzC0v44blLGDv4IIbuSrgWoMwu9LrR9gFw9ClXynjplTf190MH9+Hsi2/4148c2o9TZ1/F0cP7fSAz/5rDu1eu4pMjQ7gytYDL701iN427KGTGuzvQ3dVBz6wQjSq695oW/uwl5Cj7njzzGp4c3YfBgT6qvaQuKywVsphjLT55/HFNm/zCNXzzxFGjfYFCOoVnvvUN6q9px+Ni7Z8Tk/j4jkH0kKCxDirINvZh/bqYvu6QNjcPrtd9mTlthEovZrTmiSgYGuiFXSjh+Z+9ibEDD6I/EXdzSIMwHm0kPL8zc1OGQgLZ+WlNJWF8IX8jZTxZYfe9Q4GAogjIgD/mFry+d882Pa+Ff5GEp3US8W6qQi10EPDljI0XXn4Lh7/6AAaTCSgrNADg5Qu/9uceO7APL/zkdYyNfgk/PvdLQ6WH6T4RaseSJOFOPXeCeB7Bd7/9nFZMZ2cnTo4f0wEktzirgapQFjAlwONHx/zIYzONnj6KPNHm6WeO6QV5LIQKBUDJCorLszpsFigE9xDfi9TnyLLMf45EghxYhfEBD/WKppCghCY0lTLzLqVyCykd4gSXNCEtEKRYxZH6G5ft0iQyFoHHIowFPBA/v/gbPT7wlQfw0/O/qt3tEJWeP/e6Hj/x2MM4fe61mr61JvyyO7guW0UZB1ZqDT7w9SOHiCIR2DemceT4EzoXkC1420pzKTzFVOLkRVQ6MX6caJby+9atAPzg++MaiKTNTHZ+Rs9qCnHQCOsD/Lny/rSfhZk+ERprCJabjW0didzf5IzQuXaEN1rm33i7uHrHDekD3tt9mK5KiOtsWta+n/bhpnvhCdOmO/iCBtcytZD2AcnZeA15QAXrergPVVLo2MyzVsBiprBoG0BQWTXCswNDrcECNUWWq31XYvciizo1u4D5dMa1Q5va35DspT1v0l9DelaQLv/dMc1ZoUoJzwIegKqO3QU1aTC3sIJHxl8JFUIvPHsA2zYmjbLc8ll6ivPWMa+QPuCBcMsFXZ9LU0pLtyKVZufOc3xvcEPjfQ/OB+eUKZ1drksXRFD7nhLDJjIfhKGMPh3RWTlwHSp8EvME9fivAs+VVSe2wlhAKm9X5NLHMpRRpk7XoQhVC4Rp0ijFD58K/k5M+QlMraWUcB2KnYjNyrnA0VtMobUnBFo6sWhURjjSqdlGBjVPHkHMpRykZDgA0ovLfnhXOgs7UvnbSmcNACQXbF6kYa3720kW3mheoSFJG2ZiZbQiOJlw1Sbc1MUWcBiMJW468K23yGpnQ15j8E5FVvMLvBCqquMIKUuqtToxByGpN9dcOnMi0y9j8prSrEHU8fqgE8tAwoRfxLnhdJVCTqDOIKsBsIKpXZqMxoJzKQG9qVd+4nKUXFXTjU7ogmen3sGvlLK2AjDUsarfhZG3EgQRvam2NXPqpqJKJ3WtdcdYgnH0x3tw+vh+NwsLUxcJYc69RMMCbiCx3tBUBnKP9PcCrgW8k2wdBvnvrhyz71YAWPudvg+YGqU22gj3wUa2zRsSdPiaMP8MBY9bhF8VBXFUSxQ3gTkyGDKrqlWqmpIDFojz6SSf4Jg6sgYAC88nrutXy8r1hbbrGB63XdOxMAK150V6rFZz6oCvmQlVv54HTPkW6OXzswCNVDRAHWG03zOXXuad/Bdvjz9Sy7Q/ztoz/174rTkt7uL9k6GRqreA9vKnTl98lvofBarl/3VTRuBiQOE1PuDdUDDH2Dncfn+CS8P/QjASRetQlgyQXNs7kw/WEvJWAJS/S7x9W01I+Q+Ai/Y+SROl2wAAAABJRU5ErkJggg==) no-repeat center center;
}
