name: PHPUnit

on:
  push:
  pull_request:

jobs:
  php:
    strategy:
      matrix:
        php: ['7.4', '8.0']
    runs-on: ubuntu-latest
    env:
        DB_USER: shopware
        DB_PASSWORD: shopware
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_NAME: shopware
        SW_HOST: localhost
        SW_BASE_PATH: ""
        ELASTICSEARCH_HOST: elasticsearch

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        tools: composer, prestissimo
        coverage: none

    - name: Start MySQL
      run: ./.github/setup-db.sh mysql:5.7

    - name: PHPUnit
      run: make test-phpunit

  mysql:
    strategy:
      matrix:
        mysql: ['mysql:8.0', 'mariadb:10.1', 'mariadb:10.4']
    runs-on: ubuntu-latest
    env:
        DB_USER: shopware
        DB_PASSWORD: shopware
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_NAME: shopware
        SW_HOST: localhost
        SW_BASE_PATH: ""
        ELASTICSEARCH_HOST: elasticsearch

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        tools: composer, prestissimo
        coverage: none

    - name: Start MySQL
      run: ./.github/setup-db.sh ${{ matrix.mysql }}

    - name: PHPUnit
      run: make test-phpunit

  es:
    strategy:
      matrix:
        elasticsearch: ['elastic/elasticsearch:7.0.0']
    runs-on: ubuntu-latest
    env:
        DB_USER: shopware
        DB_PASSWORD: shopware
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_NAME: shopware
        SW_HOST: localhost
        SW_BASE_PATH: ""
        ELASTICSEARCH_HOST: elasticsearch

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@v2
      with:
        php-version: '7.4'
        tools: composer, prestissimo
        coverage: none

    - name: Start MySQL
      run: ./.github/setup-db.sh mysql:5.7

    - name: Start Elasticsearch
      run: ./.github/setup-es.sh ${{ matrix.elasticsearch }}

    - name: Setup DNS
      run: sudo echo "127.0.0.1 elasticsearch" | sudo tee -a /etc/hosts

    - name: Install Shopware
      run: make init

    - name: PHPUnit
      run: make test-phpunit-elasticsearch
