<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule .* - [E=MOD_REWRITE:1]
    RewriteCond %{REQUEST_URI} !(\/(templates)\/)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
DirectoryIndex index.php

<Files *.*>
    Order Deny,Allow
    Deny from all
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch "\.(css|js|png|jpg|jpeg)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
